[2015-09-23 15:22] Exaper commented on #290
Duplicate of #267

[2015-09-23 15:31] RuellBrown commented on #291
Looks like there was a fix put in: https://github.com/square/leakcanary/pull/145

[2015-09-23 15:31] #291 closed

[2015-09-23 18:54] iNoles commented on #265
@SandroMachado Which java version you compiled on?

[2015-09-23 20:48] SandroMachado commented on #265
@iNoles I am not compiling it, I am just importing the `1.4-SNAPSHOT ` using gradle.
My environment is:
[code]

[2015-09-24 03:19] lucasxas commented on #286
Got the same error while using LeakCanary 1.3.1

heap dump: https://drive.google.com/file/d/0B47Bul_iN7avc241S0Radi1ubFk

[2015-09-24 19:11] meierjan commented on #131
I am getting the following exceptions stack trace. Can this be related?
[code]

[2015-09-25 09:29] yanbober opened #292 "gradle build error"
when i add to build.gradle then click run sync, the log file exception is this:

Caused by: groovy.lang.MissingPropertyException: Cannot get property 'VERSION_NAME' on extra properties extension as it does not exist
	at org.gradle.api.internal.plugins.DefaultExtraPropertiesExtension.getProperty(DefaultExtraPropertiesExtension.java:56)
	at build_2xxpupnw1jjkytjl2pxnlb1jj.run(/home/yanbo/meizu_work/

[2015-09-28 04:15] fnk0 opened #293 "Leak analysis failed - SnapshotException"
I've got this error a few times now. It worked fine for a while and now it doesn't work anymore. That exceptions comes up every time.

Using LeakCanary v1.3.1

![screenshot_2015-09-27-23-04-47](https://cloud.githubusercontent.com/assets/4286642/10127732/923c49b6-656c-11e5-8f4c-eb66fd9bc7cc.png)

[2015-09-30 02:54] lennykano commented on #289
There are no `FragmentLifecycleCallbacks` that can be used to watch all fragments like there are `ActivityLifecycleCallbacks`. So it isn't possible to watch fragments without explicitly adding the calling `refWatcher.watch(this)` in the fragments `onDestroy` method.

[2015-09-30 06:45] divyenduz commented on #289
Which callbacks are you referring to ? Also, I think if a fragment leaks within an activity, that would leak the activity and be caught. Need to look at LeakCanary source though.

[2015-09-30 12:06] lennykano commented on #289
http://developer.android.com/reference/android/app/Application.ActivityLifecycleCallbacks.html is what Leak Canary uses to watch for when an activitys `onDestroy` is called. There is no such thing for fragments, hence no way to watch them automatically without adding the call yourself to `onDestroy` in every fragment you would like watched (obviously using a base fragment class and doing it there

[2015-09-30 12:08] divyenduz commented on #289
Okay. I am closing this one then. Thanks.

[2015-09-30 12:08] #289 closed

[2015-09-30 16:12] MKevin3 commented on #293
I just received same exception using Genymotion - Google Nexus 4, 5.1.0 Android version

[2015-09-30 20:28] IgorGanapolsky opened #294 "Leak caused by google maps lib"
I am running Android 5.1.1 on a OnePlus One phone.

Every time I close my app using the back button, I get this leak trace.  My app has an activity, and fragments within a ViewPager which show a Google Map.

![leak](https://cloud.githubusercontent.com/assets/201209/10205624/470ec100-6790-11e5-9a11-8634383dba35.png)

Here is the full trace: http://pastebin.com/iKMUsfvS

[2015-09-30 22:06] BugsBunnyBR commented on #286
I am getting the same error while going in and out of activities with shared elements set. What are the actions that trigger this behavior?

[2015-10-01 17:48] koral-- commented on #286
I've encountered that exception in result of action similar to @BugsBunnyBR's one. I was switching forward and backward between two activities and at the exited from first one using back button.

[code]
Heap dump: https://drive.google.com/file/d/0B0mUyqhhr9W9dmlabXdjemhYRmc/view?usp=sharing

[2015-10-02 08:05] rmasarovic opened #295 "Leak analysis failed Error_NoParserRegistred"
hi i use leakcanary 1.3.1 and have this error
![leakfailed](https://cloud.githubusercontent.com/assets/1522834/10241892/161712b0-68ed-11e5-8fa2-7e2e118d991f.png)

[2015-10-02 10:26] vbevans94 opened #296 "Can't avoid this leak"
[code]

[2015-10-02 21:11] danielgomezrico commented on #294
@IgorGanapolsky maybe related to https://code.google.com/p/gmaps-api-issues/issues/detail?id=8596?

[2015-10-02 21:18] IgorGanapolsky commented on #294
Interesting, sounds related.  I've upgraded to Play Services 8.1, so I'll
see if this problem still happens...
On Oct 2, 2015 5:11 PM, "Daniel Gomez Rico" <notifications@github.com>
wrote:

[2015-10-04 13:33] Yky commented on #273
Yes, LeakCanary works with Eclipse. You can either import the sources and/or add the maven repository to your project.

[2015-10-04 17:17] Yky opened #297 "EditText Blink causes memory leak in AlertDialog and DialogFragment"
See AOSP issue 188551:  https://code.google.com/p/android/issues/detail?id=188551

Can be avoided  by calling setCursorVisible(false) in the dismiss() method of the Dialog.

[2015-10-04 18:57] Yky commented on #297
Added pull request for ignore of this AOSP bug.

[2015-10-04 21:57] epicstar commented on #224
I am also getting this problem...

[2015-10-05 08:28] hidroh commented on #297
@Yky you mean `setCursorVisible(false)`?

[2015-10-05 16:47] IgorGanapolsky commented on #294
@danielgomezrico Thanks for this tip.  @changetip $1.

[2015-10-05 16:47] changetip commented on #294
Hi @danielgomezrico, @IgorGanapolsky sent you a tip worth 4,168 bits ($1.00), and I'm here to deliver it ➔ **[collect your tip](https://www.changetip.com/collect/902838)**.

**[Learn more about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-10-05 17:31] danielgomezrico commented on #294
@IgorGanapolsky tip? ok, thanks :)
O_o

[2015-10-06 10:15] Yky commented on #297
@hidroh Yes, I corrected my comment above.

[2015-10-07 10:07] JamesGBritton commented on #285
Was confused why we were using the storage permission, this makes perfect sense now! Our workaround is to request the permission using Google's new permission handling for our debug version.

Can the permission be removed from the releaseCompile version though? The storage permission still comes through even for release builds, which might seem strange to users.

[2015-10-08 04:05] eygraber commented on #271
Big time +1

[2015-10-08 15:04] mlostekk opened #299 "DisplayLeakActivity has leaked"
Is this issue known in some special cases?

[2015-10-08 15:05] mlostekk commented on #299
![screenshot_2015-08-25-11-06-01](https://cloud.githubusercontent.com/assets/10534316/10370372/15552088-6dfc-11e5-98b6-71626158bb5d.png)

[2015-10-08 17:32] geralt-encore opened #300 "Using LeakCanary in multimodule project"
I have a project with app module and separate test module. After adding LeakCanary dependency I am getting this error during a build process:

    /Users/user/dev/android/project/module-testonly/build/intermediates/manifests/full/debug/AndroidManifest.xml
    Error:(30, 27) No resource found that matches the given name (at 'icon' with value '@drawable/__leak_canary_icon').
    Error:(31, 28) No re

[2015-10-09 10:02] fingertricks commented on #285
Our workaround has been to add the following to our debug/AndroidManifest.xml:
[code]
and this to our release/AndroidManifest.xml:
[code]
This should mean you only see the Permission > Storage appear on debug builds on Marshmallow.

You'll still need to request the runtime permission when you launch the debug version of your app.

Perhaps LeakCanary could store it's heap dumps in the app's externa

[2015-10-09 16:24] ChaitanyaPramod commented on #94
I also am on LG G2 (5.0.2) and seeing this leak.

@pyricau Can you help me understand why this leak is reported even when it appears to be excluded [here](https://github.com/square/leakcanary/blob/v1.3.1/library/leakcanary-android/src/main/java/com/squareup/leakcanary/AndroidExcludedRefs.java#L335-L342)?

[2015-10-13 09:04] JordyLangen commented on #280
Issue is explained here, along with a solution: https://github.com/square/leakcanary/issues/285

[2015-10-14 01:19] ivan-lim-vivant opened #302 "SnapshotException"
Hi,

After launching my app, i get "Dumping memory, app will freeze". I also get this exception in Logcat.

[code]
Is there a problem here?

[2015-10-14 07:44] DariusL opened #303 "SnapshotImpl_Error_ObjectNotFound"
[code]

[2015-10-14 12:00] hsk256 opened #304 "LeakCanary Error: File-based resource names must start with a lowercase letter"
Error:Execution failed for task ':app:mergeDebugResources'.

how to fix it?

[2015-10-15 05:41] redmanit opened #305 "Leak analysis failed : NullPointerException"
This library had worked several times then suddenly stopped working because of this bug

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.s

[2015-10-15 06:39] jaydeep17 commented on #265
Same here.
Also as a side note, I do use [retroLamda](https://github.com/evant/gradle-retrolambda), if that's relevant.

[2015-10-15 14:58] abhishekjain89 commented on #305
hit the same issue just yesterday.

[2015-10-15 21:31] booknara commented on #305
I got the same issue just before.
(Nexus 6, Android OS 6.0, Build Number : MPA44I)
Compiled using debugCompile 'com.squareup.leakcanary:leakcanary-android:1.3.1'

If you need additional information to reproduce the issue, please let me know anytime.

[2015-10-15 22:26] smitsgit commented on #305
hit the same issue.
    debugCompile 'com.squareup.leakcanary:leakcanary-android:1.3.1'

![leak_canary_fail](https://cloud.githubusercontent.com/assets/11153931/10529254/16a2bc16-7351-11e5-8342-b28e53ee5b61.png)

[2015-10-16 18:17] ygnessin commented on #143
If your tests run in debug mode like mine, to disable LeakCanary you'll need your `testCompile` declaration to be above `debugCompile`:

[code]
Ran into this issue today so thought I'd share in case anyone else is confused

[2015-10-16 18:50] luciofm commented on #177
I'm consistently getting this on a Galaxy S6 running 5.1.1

Definitely a Samsung leak, since looking at AOSP source, `mContext` is not `static` but on the trace it shows as `static`
`static mContext = com.weheartit.app.MainActivity [id=0x12d7db00]`

Still uploading a stacktrace to dropbox...

[code]

[2015-10-16 18:58] luciofm commented on #177
Heap dump https://www.dropbox.com/s/abdwn8cm9ezs9lg/heap_dump_0.hprof?dl=0

[2015-10-16 21:26] cnnranderson commented on #303
I get this same problem when working with Picasso. Not too sure what's setting it off.

[2015-10-16 21:53] smitsgit commented on #303
![screenshot_2015-10-16-14-51-57](https://cloud.githubusercontent.com/assets/11153931/10554128/999d838e-7415-11e5-93b5-a5b00fa420ea.png)

Hi I get the same error , I am attaching a screenshot.

[2015-10-17 08:06] Yky commented on #297
This leak is now confirmed by Google and has been fixed in Marshmallow.

[2015-10-18 19:46] silverAndroid commented on #304
i think they have to fix it themselves

[2015-10-19 09:12] hsk256 commented on #304
I have fixed it. my project gradle is old ,then i change it to a new vertsion  and it works;

[2015-10-19 14:02] cavarzan commented on #305
Same issue in Nexus **5** with Android 6.0.

[code]

[2015-10-19 14:57] Exaper commented on #305
Duplicate of #267

[2015-10-20 10:52] Zeliret commented on #285
I have the same issue on my Nexus 5 (android 6 on board). :(

[2015-10-20 11:03] fingertricks commented on #285
@Zeliret Are you requesting the Storage permission using Runtime Permissions when you launch the debug app?

[2015-10-20 16:24] TheAppDevelopers commented on #293
I've had this too. Only seems to be on an S4

[2015-10-20 18:46] IgorGanapolsky opened #306 "Leak in custom View"
Hello,
I have a custom TextView which calls `setTypeface()` in its constructor.  Whenever I close my app, LeakCanary reports a reference leak from this TextView's mContext variable:
![leakcanary](https://cloud.githubusercontent.com/assets/201209/10617392/4fa342ca-7738-11e5-860d-663a62e381e7.png)

Here is the shared info:

* com.chaione.evgo.view.account.UsageActivity has leaked:
* GC ROOT static c

[2015-10-21 06:47] luckxudong opened #307 "Leak analysis failed"
![image](https://cloud.githubusercontent.com/assets/2245397/10629583/8f6029bc-7802-11e5-83e5-2e68d911f501.png)

Device : Nexus 5 ,Android 6.0

[2015-10-21 06:54] luckxudong commented on #305
Me too

[2015-10-21 10:29] jacobmattsson commented on #267
@pyricau Any progress on this (six weeks since last activity)? LeakCanary seems unusable on Marshmallow (even with 1.4-SNAPSHOT). Is there any workaround? Saw your talk on Droidcon NYC and thought I'd give it a try ... Thanks!

[2015-10-21 10:54] SaitejaP commented on #307
Same with Moto g, Lollipop 5.0.1

[2015-10-21 11:14] Zeliret commented on #307
The same (Nexus 5, Android 6.0)

[2015-10-21 11:15] Zeliret commented on #285
Well, I turned on this permission in the settings and now it works. :)

[2015-10-21 11:54] Zeliret commented on #305
Every time this exception. Nexus 5 Android 6

[2015-10-21 22:21] joshzana commented on #285
Our app conditionally requests the external storage permission in various flows, but if the user doesn't need it, we don't block usage of the app.  With this issue, I can't use LeakCanary on API23 devices without the permission.  I'd like our debug build to work reasonably similarly to how our release build, so forcing a request at startup isn't ideal.  It would be great if this storage could be m

[2015-10-22 03:19] goncalossilva commented on #307
Same (Karbonn Sparkle V, Android 6.0)

[2015-10-22 03:38] brucewuu520 opened #309 "Leak analysis failed"
D/LeakCanary: In com.android.boluome.life:2.0.0-debug:3.
10-22 11:30:43.625 4407-6436/com.android.boluome.life D/LeakCanary: * FAILURE:
10-22 11:30:43.625 4407-6436/com.android.boluome.life D/LeakCanary: org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
10-22 11:30:43.625 4407-6436/com.android.boluome.life D/LeakCanary:     at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddr

[2015-10-22 09:44] tudoubudou commented on #270
same! on Android 6.0

[2015-10-22 20:08] avuton commented on #307
Same (Nexus 6, Android 6.0)

[2015-10-23 09:28] Mauin opened #310 "Deprecated notification Method/Proguard issue"
When running ProGuard on our Application we see the following warning.

Warning: com.squareup.leakcanary.DisplayLeakService: can't find referenced method 'void setLatestEventInfo(android.content.Context,java.lang.CharSequence,java.lang.CharSequence,android.app.PendingIntent)' in library class android.app.Notification

We had to specifically add the -dontwarn com.squareup.leakcanary.DisplayLeakServ

[2015-10-23 14:21] geecko86 commented on #305
This has been addressed in 1.4. Preview is available here:

https://github.com/square/leakcanary/blob/master/CHANGELOG.md

[2015-10-26 02:33] lozery commented on #307
Same(Genymotion Nexus 6P, Android 6.0)

[2015-10-26 20:41] ndtaylor commented on #309
I can confirm. I got the same stack trace in my app.

[2015-10-27 00:06] asgarddesigns commented on #310
Yep, getting the same here... is this safe to add to -dontwarn?

[2015-10-27 02:28] franciscofranco commented on #306
com.chaione.evgo.util.BusProvider.BUS

Maybe you gotta release/unregister that inside onStop() or onDestroy() ?

[2015-10-27 02:59] yunair opened #312 "Is this problem with Android 6.0? I found NullPointerException bug"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzer

[2015-10-27 08:54] billhsu commented on #229
Same error for me. On Samsung S5 with Android 5.0.

[2015-10-27 08:58] Aexyn opened #313 "Leak Analysis failed"
* FAILURE:
java.lang.IllegalArgumentException: Field offset does not exists
	at com.squareup.leakcanary.HahaHelper.fieldValue(HahaHelper.java:143)
	at com.squareup.leakcanary.HahaHelper.asString(HahaHelper.java:81)
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:97)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:79)
	at com.squareup.leakcana

[2015-10-28 08:51] fingertricks commented on #224
Google appear to have fixed this in Google Play Services 8.3.0 release: https://code.google.com/p/gmaps-api-issues/issues/detail?id=8472

We can no longer reproduce the leak with an app depending on 8.1.0 of the maps library on devices running 8.3.0 of Google Play Services.

[2015-10-28 15:29] IgorGanapolsky commented on #306
@franciscofranco You are correct.  I neglected to unregister my Bus properly.  That probably caused the issue.

[2015-10-28 15:30] changetip commented on #306
Hi @franciscofranco, @IgorGanapolsky sent you a tip worth 3,253 bits ($1.00), and I'm here to deliver it ➔ **[collect your tip](https://www.changetip.com/collect/910905)**.

**[Learn more about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-10-29 03:05] anticafe commented on #94
I also got the same leak with v1.3.1:
[code]

[2015-10-29 13:36] AamirAbro opened #314 "Leak Canary null pointer exception"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
 at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
 at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
 at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzer

[2015-10-29 16:11] aoemerson opened #315 "Leak in android.os.UserManager (API: 21)"
This seems like a recurrence of Issue #62

Like issue #62, it occurred when coming back from a share intent. I thought the fix (5df8cbb) for #62 ignored this leak but perhaps it's been fixed in AOSP and then it's an issue with this manufacturer (HTC).

[code]

`TasksFragment` above is a retained Fragment which holds a couple of AsyncTasks neither of which hold any references to Activity context

[2015-10-30 08:18] ccl1115 commented on #314
I got the same exception.

[2015-10-30 09:29] TomGilbert commented on #312
Same here.

[2015-10-31 08:48] kuriandungu commented on #314
Same here as well
* FAILURE:
java.lang.NullPointerException: l
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerService.java:57)
	at android.app.IntentService$ServiceHandler.handleMessage(IntentService.ja

[2015-11-02 14:19] paulabaudo commented on #312
Same here

[2015-11-03 12:54] k-misztal commented on #314
Bump - the same with me :(

* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.on

[2015-11-03 16:07] #277 closed

[2015-11-03 18:03] RicardoBelchior commented on #139
maybe lame question, but why do we need the releaseCompile dependency if "nothing" is done ?

[2015-11-03 18:06] MGaetan89 commented on #139
Because even if it does nothing, you still need to have the classes to compile your application.

[2015-11-04 03:58] brianchu commented on #314
duplicate #305

[2015-11-04 04:00] brianchu commented on #313
This is similar to #305. The key is null.

[2015-11-04 04:01] brianchu commented on #312
duplicate #305

[2015-11-04 04:39] brianchu commented on #267
+1

[2015-11-04 07:21] idonans opened #316 "Leak analysis failed"
![device-2015-11-04-151902](https://cloud.githubusercontent.com/assets/4043830/10931956/63868ea2-8307-11e5-9b3f-9ad18496fdd6.png)

leakcanary v1.3.1
device MI 1S
Android 4.1.2 JZO54K

[2015-11-04 09:10] dylangreentakealot commented on #267
+1
In case it helps:

//For retrolambda
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

    compileSdkVersion 23
    buildToolsVersion '23.0.1'

    defaultConfig {
        minSdkVersion 15
//Avoid applying new permission model for now, only one man ;)
        targetSdkVersion 22
        versionCode 800066

[2015-11-04 09:10] renclav commented on #267
+1
In case it helps:

//For retrolambda
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

    compileSdkVersion 23
    buildToolsVersion '23.0.1'

    defaultConfig {
        minSdkVersion 15
//Avoid applying new permission model for now, only one man ;)
        targetSdkVersion 22
        versionCode 800066

[2015-11-04 09:15] TomGilbert commented on #305
See change log for details at: https://github.com/square/leakcanary/blob/master/CHANGELOG.md
This is a known issue: Android 6.0 is not supported on builds prior to current 1.4-SNAPSHOT.

[2015-11-04 10:00] rahultailor opened #317 "Leak analysis failed"
![screenshot_20151104-152826](https://cloud.githubusercontent.com/assets/13018528/10934941/dd6df614-8308-11e5-9ba5-471dd6a09336.png)

Nexus 5
Android Version M

[2015-11-04 13:49] mkovalyk commented on #171
Same leak faced. Is there any option to resolve it?

[2015-11-05 21:22] Blahartinger commented on #267
+1 just found out about this tool and was excited to use it, but since I'm on M I get this error every time :(

[2015-11-06 06:01] monusurana opened #319 "Leak Canary Crash with 1.4-SNAPSHOT"
* FAILURE:
java.lang.IllegalArgumentException: Field offset does not exists
at com.squareup.leakcanary.HahaHelper.fieldValue(HahaHelper.java:143)
at com.squareup.leakcanary.HahaHelper.asString(HahaHelper.java:81)
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:97)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:79)
at com.squareup.leakcanary.in

[2015-11-06 09:49] wuseal commented on #309
![image](https://cloud.githubusercontent.com/assets/9211902/10994049/aaab952c-84ae-11e5-958f-9b45da86908e.png)

[2015-11-08 21:35] vitovalov opened #320 "Activity instance is leaking with RecyclerView and InputMethodManager"
I've seen something related to InputMethodManager in LeakCanary built-in list of known Android leaks,
but still happens on Sony Ericsson 4.0.4.

[code]

[2015-11-09 06:39] Jacksgong commented on #267
[code]

[2015-11-09 10:31] frogermcs opened #321 "Leak analysis failed"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerSer

[2015-11-09 19:02] grishka commented on #321
Came here to report this. I have an exact same error on a Nexus 5.

[2015-11-10 04:30] ZhaoKaiQiang opened #322 "InputMethodManager.mCurRootView memory leak in Android 4.4 (devices is SM701)"
D/LeakCanary: In com.socks.jiandan:1.2:2.
* com.socks.jiandan.ui.MainActivity has leaked:
* GC ROOT static android.view.inputmethod.InputMethodManager.sInstance
* references android.view.inputmethod.InputMethodManager.mCurRootView
* references com.android.internal.policy.impl.PhoneWindow$DecorView.mContext
* leaks com.socks.jiandan.ui.MainActivity instance

I find the code about this ,but why it n

[2015-11-10 09:54] Diolor opened #323 "Leak Canary freezes the app on Marshmallow"
I have seen several issues with M but in this case the app just freezes forever:

Steps:
- Load the app in a M device (Nexus 6 here)
- LC detects a leak and tries to dump the memory
- heap dump fail or takes forever

Here is the log:
[code]

[2015-11-10 10:33] Diolor commented on #323
I will close this issue since it's indeed a permissions issue

[2015-11-11 15:04] AnuVk commented on #321
i have got the similar one as well

* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerSe

[2015-11-11 17:11] botondbutuza commented on #316
Same here:

[code]

[2015-11-12 06:04] ChengCheng-bjhl commented on #319
+1

[2015-11-12 06:04] ChengCheng-bjhl commented on #319
+1

[2015-11-12 12:26] Jacksgong commented on #267
[code]

[2015-11-12 12:47] Jacksgong opened #324 "Crash Every Day on Android M! java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)"
- Android M
- Nexus 5
- targetSdkVersion 23
- compileSdkVersion 23
- multiDexEnabled true

#### Crash every day:

#### 1.3.1:

[code]

#### Detail:

[code]

[code]

[2015-11-12 12:50] Jacksgong commented on #324
I fetched last code, and fix. but not release.....

#### Last code on master branch, but not release... and When?

[code]

[code]

[2015-11-12 17:07] lawloretienne opened #325 "java.lang.NullPointerException crash without any reference to my code"
I am using the latest snapshot release

  debugCompile 'com.squareup.leakcanary:leakcanary-android:1.4-SNAPSHOT'

and getting the following exception thrown, but I dont see in this stack trace any reference to my code

In com.biggu.shopsavvy:9.4.2:80230.
* FAILURE:
java.lang.IllegalArgumentException: Field offset does not exists
	at com.squareup.leakcanary.HahaHelper.fieldValue(HahaHelper.java:143

[2015-11-12 17:34] lawloretienne commented on #319
+1

[2015-11-12 17:35] lawloretienne commented on #313
+1

[2015-11-12 17:35] lawloretienne commented on #267
+1

[2015-11-12 23:57] emanuelet commented on #319
+1

[2015-11-13 04:12] eneim commented on #325
I got the same one. The cause maybe this line

[code]

Since ```findLeakingReference(String key, Snapshot snapshot)``` accept **Nonnull** key parameter, it's better to have the following fix I suppose.

[code]

[2015-11-13 11:47] ErikHellman commented on #171
Ok, I figured out what is causing this. It started to appear once I call `GoogleMap.setMyLocationEnabled(true);`.

The solution is to simply call `GoogleMap.setMyLocationEnabled(false);` in `Activity.onDestroy()` or wherever you are tearing down the map.

[2015-11-15 16:46] hkic commented on #285
Please also check if storage is out of space. You can check the available space in settings. When the available space is low, leak canary failed to write on storage/sdcard/download/leakcanary/. If you use android emulator, delete file by using Android Device Monitor > File Explorer.

[2015-11-16 06:33] techadroit opened #326 "java.lang.NullPointerException"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzer

[2015-11-16 06:37] johnwatsondev commented on #319
+1

[2015-11-16 09:20] shubhamchaudhary commented on #143
Propose to close based on PR above

[2015-11-16 12:16] cristiangarciascmspain commented on #326
this seems the same as #267

[2015-11-16 12:17] cristiangarciascmspain commented on #324
another issue related to #267

[2015-11-16 12:18] cristiangarciascmspain commented on #321
another issue relatd to #267

[2015-11-16 12:21] cristiangarciascmspain commented on #317
related to #267

[2015-11-16 12:21] cristiangarciascmspain commented on #316
related to #267

[2015-11-16 19:48] lawloretienne commented on #325
So how can you resolve this issue @eneim ?

[2015-11-16 19:49] shiami commented on #326
Same here.

[2015-11-16 19:55] shiami commented on #307
Same (Nexus 5, Android 6.0)

[2015-11-17 07:39] zhourihu5 opened #328 "LeakCanary FAILURE"
11-17 15:27:03.237 1732-7148/com.autotalent.carjob D/LeakCanary: * FAILURE:
11-17 15:27:03.237 1732-7148/com.autotalent.carjob D/LeakCanary: org.eclipse.mat.SnapshotException: SnapshotFactoryImpl_Error_NoParserRegistered
11-17 15:27:03.237 1732-7148/com.autotalent.carjob D/LeakCanary:     at org.eclipse.mat.parser.internal.SnapshotFactory.parse(SnapshotFactory.java:169)
11-17 15:27:03.237 1732-714

[2015-11-17 09:49] Zooc opened #329 "Leak analysis failed"
[code]

[2015-11-17 09:59] akohout commented on #267
+1

[2015-11-17 16:29] jasonwyatt commented on #329
This is also happening for me.

[2015-11-17 17:43] #326 closed

[2015-11-19 11:42] cet4free opened #330 "FAILURE: java.lang.NullPointerException"
In com.leo.kang:1.0:1. * FAILURE: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160) at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95) at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandl

[2015-11-19 14:50] sibeliusseraphini opened #331 "Probably Leak on ContentObserver PhoneWindow$SettingsObserver"
I'm having this leak on my activity, any guess how to solve this?

    11-19 11:48:21.344 32389-1750/ D/LeakCanary: In com.example:1.5.0:27.
    11-19 11:48:21.344 32389-1750/ D/LeakCanary: * com.example.activities.MyActivity has leaked:
    11-19 11:48:21.344 32389-1750/ D/LeakCanary: * GC ROOT android.database.ContentObserver$Transport.mContentObserver
    11-19 11:48:21.344 32389-1750/ D/LeakCa

[2015-11-19 18:43] sibeliusseraphini commented on #94
I've got this leak that could be similar
[code]

[2015-11-19 23:55] gaara87 commented on #319
+1

[2015-11-20 07:07] eneim commented on #325
@lawloretienne So sorry, I didn't mean I solved the problem. I'm working on a production which use this library to catch the leak, and face the same issues. But I didn't have enough time to investigate more or clone the project to local to modify it. But you could do it and try the fix I suggested.

[2015-11-20 07:39] joelpet commented on #330
Affects me too:

    * FAILURE:
    java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
    at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
    at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
    at com.squareup.leakcanary.internal.HeapAnalyzerS

[2015-11-20 14:35] vladad commented on #319
+1 with Nexus 7

    * Reference Key: 1a3bcdba-7ccd-4070-9232-37014bbb381d
    * Device: asus google Nexus 7 razor
    * Android Version: 6.0 API: 23 LeakCanary: 1.4-SNAPSHOT 6c0bee2

[2015-11-20 14:57] ipereziriarte commented on #330
Same issue here: Nexus 6, android 6.0

[code]

[2015-11-23 23:33] TheIcemanCometh commented on #267
+1

@pyricau  Any progress on this ?

[2015-11-25 05:01] fengqve opened #333 "Leak analysis failed"
when I close a Activity which contained in aar file，leakcanary will report this error.

![image](https://cloud.githubusercontent.com/assets/533341/11388074/c8e5095c-936c-11e5-90c2-66bd58522cde.png)

Android 5.0;leakcanary 1.3.1;Nexus 6

[2015-11-25 06:01] qbeenslee commented on #330
Same issue here: Nexus 5, android 6.0
 Process: com.xxx.demo:leakcanary, PID: 10877
 java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
 	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:154)
 	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:89)
 	at com

[2015-11-25 07:15] xiaomeixw opened #334 "Leak analysis failed:SnapshotImpl_Error_ObjectNotFound"
![screenshot_2015-09-17-15-17-03](https://cloud.githubusercontent.com/assets/7067231/11392614/df12cbdc-9395-11e5-8d5f-b2d168bc7acd.png)

[2015-11-25 08:35] scodemao opened #335 "LeakCanary java.lang.NullPointerException"
* FAILURE:
                                                                      java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
                                                                          at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)

[2015-11-25 13:03] chandas commented on #60
I am using Android Studio and getting the following errors in app build.gradle
Error:(25, 18) Failed to resolve: com.squareup.leakcanary:leakcanary-android:1.3.1
Error:(26, 20) Failed to resolve: com.squareup.leakcanary:leakcanary-android-no-op:1.3.1

I have not added any leakcanary project to my project. Do i need to import the leakcanary project ?

[2015-11-26 15:19] renaudcerrato commented on #335
+1 - was about to post a bug :-/

[2015-11-26 15:20] renaudcerrato commented on #330
Same issue - Nexus 6 / 6.0

[2015-11-26 15:21] renaudcerrato commented on #267
+1

[2015-11-26 15:21] renaudcerrato commented on #335
duplicate https://github.com/square/leakcanary/issues/267

[2015-11-26 15:22] renaudcerrato commented on #330
duplicate https://github.com/square/leakcanary/issues/267

[2015-11-26 15:23] renaudcerrato commented on #312
duplicate https://github.com/square/leakcanary/issues/267

[2015-11-27 06:36] zourb commented on #267
+1

[2015-11-27 07:14] spyStone commented on #29
I solved this problem minutes ago by doing this:

      <activity
          android:theme="@style/leak_canary_LeakCanary.Base"
          android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
          android:enabled="false"
          android:label="@string/leak_canary_display_activity_label"
          android:icon="@drawable/leak_canary_icon"
          android:taskAffinity="com.squa

[2015-11-27 07:50] Ctrl-Space commented on #334
I also encountered this problem

[2015-11-27 14:51] 541221507 commented on #117
Awesome! Thanks, @pyricau!

[2015-11-27 18:40] jettbow commented on #319
+1

[2015-11-28 17:46] Rockspin commented on #267
+1

[2015-11-29 01:40] liqian685 commented on #267
There is a problem with Android6.0, Leakcanary work properly in other Android platform.

[2015-11-30 08:52] lomza commented on #267
This one would be great to fix, as it occurs every time on my Nexus 5 with Android Marshmallow.

[2015-11-30 10:20] liqian685 commented on #267
I use Nexus 5 with Android Marshmallow too.

[2015-12-01 03:43] hcadoid commented on #334
+1

[2015-12-01 08:11] KennethYo opened #336 "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference"
[code]

[2015-12-01 10:05] alex-pers commented on #305
Every time this. Nexus 5 android 6

[2015-12-01 13:08] ialmetwally commented on #334
same here

[2015-12-02 14:08] nickgrim commented on #336
This is a duplicate of #267.

tl;dr: `1.3.1` doesn't work on Android 6.0.

[2015-12-02 14:09] nickgrim commented on #329
This is a duplicate of #267.

tl;dr: `1.3.1` doesn't work on Android 6.0.

[2015-12-03 05:32] vincentlong889 commented on #267
+1
 I use Nexus 5 with Android Marshmallow too.

[2015-12-03 07:27] imliujun commented on #334
I was updated the 1.3.1 version will appear after the problem

[2015-12-04 01:18] ferrannp commented on #267
Same here, it's impossible to use it with Nexus 5 running Android M.

[2015-12-05 11:38] Qixingchen commented on #267
+1
Nexus 5 with Marshmallow too

[2015-12-05 18:44] tommienu commented on #267
+1 with Marshmallow.

[2015-12-07 18:17] ligi opened #337 "org.eclipse.mat.SnapshotException"
My leak-canary instance told me to report this exception here:

[code]

[2015-12-08 11:55] 2dxgujun commented on #276
<img width="753" alt="screen shot 2015-12-08 at 7 51 33 pm" src="https://cloud.githubusercontent.com/assets/8072733/11655034/58e25898-9de5-11e5-987e-afc5a176edfd.png">
seems only happen on extreme devices

[2015-12-09 09:13] dlet24 commented on #267
+1

[2015-12-09 09:58] dimitark commented on #337
I get the same exception:

* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
	at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
	at org.eclipse.mat.parser.mode

[2015-12-09 11:40] orlando-antonino opened #338 "OutOfMemoryError - ArrayLongCompressed.java:106 - leakcanary:1.3.1"
Hi all,
I have found an OOM error, below the details:

leakcanary-android:1.3.1

Error Message
java.lang.OutOfMemoryError

Where
ArrayLongCompressed.java:106

Stacktrace
<code>
    java.lang.OutOfMemoryError
at org.eclipse.mat.collect.ArrayLongCompressed.init(ArrayLongCompressed.java:106)
at org.eclipse.mat.collect.ArrayLongCompressed.<init>(ArrayLongCompressed.java:95)
at org.eclipse.mat.parser.i

[2015-12-09 13:39] simasjoris commented on #307
Ping! (Nexus 6P, Android 6.0)

[2015-12-09 20:28] bdangel28 opened #339 "Leak Analysis failed"
![leakcanary](https://cloud.githubusercontent.com/assets/11048426/11697800/0d203b2c-9e81-11e5-9026-4a69d8a89d36.png)

[2015-12-10 03:34] softwater commented on #334
+1

[2015-12-10 08:56] zzy0990 commented on #334
+1

[2015-12-10 09:12] joezorry commented on #323
What permission is causing it?

[2015-12-10 09:39] Diolor commented on #323
@joezorry storage. LC needs storage permission which we do not use in our M app

[2015-12-10 10:28] joezorry commented on #323
@Diolor thx, I that was my suspicion. Could be done with a debug flavor.

[2015-12-10 15:35] #331 closed

[2015-12-10 16:25] herbig commented on #267
Adding to the +1 chorus.  LeakCanary is amazing, but unusable at the moment.

[2015-12-10 16:35] pwireless commented on #267
+1 (thanks for the software)

[2015-12-11 12:56] Trinkes commented on #337
* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
	at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
	at org.eclipse.mat.parser.model.AbstractObjectImpl.resolv

[2015-12-14 08:01] vkash commented on #226
Same exeption: `E/dalvikvm: can't open /storage/emulated/0/Download/leakcanary/suspected_leak_heapdump.hprof: Permission denied`
But folder exists `/storage/emulated/0/Download/`

[2015-12-14 09:38] Rogero0o commented on #267
+1 Nexus 5 with Marshmallow too, thanks for the software ~

[2015-12-14 15:19] agbison opened #341 "Report of NPE"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzer

[2015-12-14 21:35] svareniem commented on #267
+1. Useless for Android 6+. Pls fix it. On Android<6 works perfect. Great job!

[2015-12-15 00:12] aectann commented on #341
Happens for us too:

* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleI

[2015-12-15 11:44] jleidgens commented on #337
I get the same:

In com.xxx.android:0.3.null:1.
* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
at org.eclips

[2015-12-15 12:37] tuhuolong opened #342 "Leak Analysis multiple process"
my app have two process,  process A create an instance of binder stub, and process B reference it by binder proxy,  can leakcanary analysis this situation? actually there is none memory leak

[2015-12-16 15:10] philipgiuliani commented on #267
+1

[2015-12-16 15:41] jasonwyatt commented on #341
This is also happening for me, seems to be confined to Marshmallow.

[2015-12-16 16:45] ibamadd commented on #267
+1

[2015-12-16 23:21] gajayraghav commented on #267
+1

[2015-12-17 04:53] rafaelekol commented on #267
+1

[2015-12-17 23:25] IgorB10 commented on #267
+1

[2015-12-18 19:09] cristiangarciascmspain commented on #339
+1

[2015-12-18 19:14] cristiangarciascmspain commented on #339
Btw: it happens on Android 5.0 and also on 4.1
It's not the Marshmallow issue

[2015-12-18 19:15] cristiangarciascmspain commented on #333
+1

[2015-12-20 13:53] dudadayan commented on #267
+1

[2015-12-21 13:18] commonsguy commented on #338
I received a very similar stack trace on an Android 5.1 x86 emulator:

[code]

[2015-12-21 13:55] inverce commented on #229
Same for me on

Android Version: 5.1.1 API: 22 LeakCanary: 1.4-SNAPSHOT Samsung SM-G903F (S5 Neo)

[2015-12-21 15:57] asos-veskoiliev commented on #267
+1

[2015-12-21 18:59] koral-- opened #343 "com.squareup.leakcanary.internal.DisplayLeakActivity has leaked"
Similar to https://github.com/square/leakcanary/issues/1#issuecomment-100579429. Difference is that  affected field in `InputMethodManager` is `mServedView` instead of `mCurRootView`. It looks like it should also be ignored as well.

[code]

[2015-12-22 04:56] manishgithub1173 opened #344 "OutOfMemory Crash"
Is it possible that OutOfMemory crash can still occur without memory leak, may be because, there is no enough heap memory ?

[2015-12-22 07:33] gengjiawen opened #345 "Fix readme for leakcanary debug proguard"
The proguard in readme file is not valid for leakcanary 1.3.1 if your progurad app in debug version.You will get this warning:
[code]
Use this will make debug build pass:
[code]

[2015-12-22 07:34] halzhang commented on #267
+1 Nexus 6 ，Android 6.0

[2015-12-22 09:48] gbero commented on #310
Same here, any update ?

[2015-12-23 09:48] snowdream commented on #132
Good Job.

[2015-12-23 13:58] afeozzz commented on #341
+1, Nexus 5, Android M

[2015-12-24 18:08] baolongnt commented on #267
1

[2015-12-24 22:42] istalev commented on #267
+1

[2015-12-25 08:43] Yurii-Laguta commented on #267
+1

[2015-12-25 19:17] gogeta95 commented on #267
+1. Just tried to use this great tool but got stuck.

[2015-12-26 01:51] Fgabz commented on #267
+1

[2015-12-27 23:52] johngray1965 commented on #341
Seeing it on my 3rd Gen Moto X too (also running Marshmellow)

[2015-12-28 13:49] toncid commented on #267
+1

[2015-12-29 22:20] ygnessin commented on #265
@SandroMachado's solution worked for me as well. I don't think it is unsafe, as long as you include `-keep class com.squareup.haha.** { *; }` in addition to the `-dontwarn` lines, the classes will be preserved. I think this is the true solution and should be added to the README.

[2015-12-30 02:28] xckevin commented on #345
yep,  Android M remove method *setLatestEventInfo*

[2015-12-30 03:16] boomesh opened #346 "Adding a `data` scheme to the manifest in in the app, hides the app"
My manifest looks like this:
[code]

So adding the `data` tag will permanently display the LeakCanary app icon in the app drawer (if always installed).  If you disable LeakCanary (i.e. do not install in in your `Application` class), then the app is not at all accessible from the app drawer.

I'm not sure if I am doing something wrong.  Let me know if I should supply a sample project.

[2015-12-30 07:54] paristote commented on #48
Here's the original leak trace printed with LC 1.3.1.
As @pyricau suggested, the contexts are different:
- (mTextView) EditText.mContext = org.exoplatform.ui.login.LoginActivity [id=0x12f138b0]
- ClipboardUIManager.mContext = org.exoplatform.ui.login.LoginActivity [id=0x12f135d0]

[code]

[2015-12-30 08:18] paristote commented on #48
I guess this leak is ignored in 1.3.2-SNAPSHOT, cf 79317f7795 where the `mPreview` variable is ignored.

[2015-12-30 10:12] vanniktech commented on #345
See #308

[2015-12-30 11:32] borwoj commented on #341
+1

* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyze

[2015-12-30 21:10] sshuw opened #347 "Name the threads used in the leak canary project"
Currently only the "LeakCanary-Heap-Dump" is named. If the other threads used by Leak Canary are named, it becomes easier to track them.

[2015-12-30 21:43] TannerPerrien opened #348 "OOM when analyzing heap"
Occasionally I have experienced an **OutOfMemory** exception when a leak is being analyzed/processed. I'm wondering if it wouldn't be beneficial to use a large heap on the *leakcanaray* process?

[2015-12-30 21:58] TannerPerrien commented on #348
I get the following in Leak Canary:

**Leak analysis failed**
Android Version: 5.0 API: 21 LeakCanary: 1.4-SNAPSHOT 6c0
[code]

[2015-12-31 11:02] youfacepalm commented on #267
+1

[2016-01-02 15:40] johngray1965 commented on #267
+1 I'd love to use leakcanary, but this is killing me.

[2016-01-02 18:58] jrodbx commented on #267
1.3 issue fixed [here](https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e); 1.4-SNAPSHOT issue fixed in https://github.com/square/leakcanary/pull/350

[2016-01-02 18:58] #267 closed

[2016-01-02 18:59] jrodbx commented on #319
Duplicate of #267

[2016-01-02 18:59] #319 closed

[2016-01-02 18:59] jrodbx commented on #325
Duplicate of #267

[2016-01-02 18:59] #325 closed

[2016-01-02 18:59] jrodbx commented on #313
Duplicate of #267

[2016-01-02 18:59] #313 closed

[2016-01-02 19:05] jrodbx commented on #337
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:05] #337 closed

[2016-01-02 19:06] jrodbx commented on #334
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:06] #334 closed

[2016-01-02 19:06] jrodbx commented on #328
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:06] #328 closed

[2016-01-02 19:06] jrodbx commented on #309
Duplicate of https://github.com/square/leakcanary/issues/337

[2016-01-02 19:06] #309 closed

[2016-01-02 19:07] jrodbx commented on #339
Duplicate of https://github.com/square/leakcanary/issues/337

[2016-01-02 19:07] #339 closed

[2016-01-02 19:07] jrodbx commented on #295
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:07] #295 closed

[2016-01-02 19:08] jrodbx commented on #286
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:08] #286 closed

[2016-01-02 19:10] jrodbx commented on #316
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:10] #316 closed

[2016-01-02 19:10] jrodbx commented on #293
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:10] #293 closed

[2016-01-02 19:10] jrodbx commented on #303
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:10] #303 closed

[2016-01-02 19:10] jrodbx commented on #302
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:10] #302 closed

[2016-01-02 19:12] jrodbx commented on #333
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:12] #333 closed

[2016-01-02 19:13] jrodbx commented on #341
This was fixed in https://github.com/square/leakcanary/commit/47b098efdb5d2769a95db720a00616234237e20e.  Please update to 1.4-SNAPSHOT.

[2016-01-02 19:13] #341 closed

[2016-01-02 19:14] jrodbx commented on #307
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:14] #307 closed

[2016-01-02 19:14] jrodbx commented on #317
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:14] #317 closed

[2016-01-02 19:14] jrodbx commented on #321
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:14] #321 closed

[2016-01-02 19:14] jrodbx commented on #324
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:14] #324 closed

[2016-01-02 19:14] jrodbx commented on #314
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:14] #314 closed

[2016-01-02 19:14] jrodbx commented on #329
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:14] #329 closed

[2016-01-02 19:14] jrodbx commented on #336
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:14] #336 closed

[2016-01-02 19:14] jrodbx commented on #305
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:14] #305 closed

[2016-01-02 19:15] jrodbx commented on #312
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:15] #312 closed

[2016-01-02 19:15] jrodbx commented on #330
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:15] #330 closed

[2016-01-02 19:15] jrodbx commented on #335
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:15] #335 closed

[2016-01-02 19:15] jrodbx commented on #270
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:15] #270 closed

[2016-01-02 19:15] jrodbx commented on #290
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-02 19:15] #290 closed

[2016-01-02 19:20] jrodbx commented on #276
Duplicate of https://github.com/square/leakcanary/issues/226

[2016-01-02 19:20] #276 closed

[2016-01-02 23:55] IgorB10 opened #353 "Field offset does not exists"
Leak analysis failed
Android Version: 6.0.1 API: 23 LeakCanary: 1.4-SNAPSHOT

FAILURE:
java.lang.IllegalArgumentException: Field offset does not exists
at com.squareup.leakcanary.HahaHelper.fieldValue(HahaHelper.java:143)
at com.squareup.leakcanary.HahaHelper.asString(HahaHelper.java:81)
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:97)
at com.squareup.leakcanary.H

[2016-01-03 10:23] ktchernov opened #354 "Analysis failed"

[2016-01-03 10:23] #354 closed

[2016-01-03 17:09] kleisauke commented on #353
Same here (using custom kernel ElementalX-N5-6.0.7):

FAILURE:
java.lang.IllegalArgumentException: Field offset does not exists
at com.squareup.leakcanary.HahaHelper.fieldValue(HahaHelper.java:143)
at com.squareup.leakcanary.HahaHelper.asString(HahaHelper.java:81)
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:97)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak

[2016-01-03 20:09] jrodbx commented on #353
@IgorB10 @kleisauke could you try with the latest 1.4-SNAPSHOT?  https://github.com/square/leakcanary/commit/6c0bee2907076c8e20eb081f91e8f93798c36a27 is before https://github.com/square/leakcanary/commit/b8e444b351bd2cdb46acd9ef1c707c5d9b64f172 which should fix this offset issue

[2016-01-03 22:15] kleisauke commented on #353
@IgorB10 It's working with the latest 1.4-SNAPSHOT (compiled by myself because the snapshots are from July 22 2015)

By the way, it looks like the https://code.google.com/p/android/issues/detail?id=171190 issue still exits on Android M. See: [this](https://gist.github.com/kleisauke/fe70bd9c5c7825c71b9f) and [this](https://gist.github.com/kleisauke/8a16c44b91d68eb091b4). I think that the [AndroidEx

[2016-01-04 03:42] nickzhanglv opened #355 "org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound"
01-04 11:40:57.331 30998-31036/com.daimajia.slider.demo I/art: Explicit concurrent mark sweep GC freed 164(19KB) AllocSpace objects, 0(0B) LOS objects, 21% free, 29MB/37MB, paused 973us total 38.274ms
01-04 11:40:57.481 30998-30998/com.daimajia.slider.demo D/SecWifiDisplayUtil: Metadata value : SecSettings2
01-04 11:40:57.541 30998-30998/com.daimajia.slider.demo D/SRIB_DCS: log_dcs ThreadedRendere

[2016-01-04 10:17] jrodbx commented on #355
Duplicate of #337

[2016-01-04 10:17] #355 closed

[2016-01-04 10:34] jrodbx commented on #275
Duplicates #137

[2016-01-04 10:34] #275 closed

[2016-01-04 12:29] EGecius opened #356 "Clean API for excluding specific Activities"
Hi,

I came with what looks like quite a nice API to excluded specific Activities from being tracked by LeakCanary. Would you be interested in adding something similar to LeakCanary?

Here is my commit:
https://github.com/EGecius/Demo_LeakCanary/commit/a5087e6328c4cfcb9a38e6f4c1e1447d5ab8d34e

[2016-01-04 15:23] pyricau commented on #265
Should be fixed by  #308

[2016-01-04 15:23] pyricau commented on #345
Duplicates #265

[2016-01-04 15:23] #345 closed

[2016-01-04 15:24] pyricau commented on #310
Duplicates #265

[2016-01-04 15:24] #310 closed

[2016-01-04 15:27] pyricau commented on #344
Yes. Please ask this type of question here: http://stackoverflow.com/questions/tagged/leakcanary

[2016-01-04 15:27] #344 closed

[2016-01-04 15:28] pyricau commented on #342
Heap dumps are per VM, and each process gets its own VM, so LeakCanary can't be aware of that situation.

[2016-01-04 15:28] #342 closed

[2016-01-04 15:30] pyricau commented on #338
Duplicates of #229

[2016-01-04 15:30] #338 closed

[2016-01-04 15:40] pyricau commented on #356
I don't think many people need this as part of the LeakCanary library. As you pointed out, it can always be implemented with a custom install.

[2016-01-04 15:40] #356 closed

[2016-01-04 15:47] pyricau commented on #348
Duplicates #229

[2016-01-04 15:47] #348 closed

[2016-01-04 15:48] pyricau commented on #279
Duplicates #229

[2016-01-04 15:48] #279 closed

[2016-01-04 15:53] #281 closed

[2016-01-04 15:55] pyricau commented on #288
Should not happen in `1.4-SNAPSHOT`

[2016-01-04 15:55] #288 closed

[2016-01-04 15:58] pyricau commented on #292
Please open a new issue with a project file attached that reproduces the error if this is still happening.

[2016-01-04 15:58] #292 closed

[2016-01-04 15:59] #273 closed

[2016-01-04 16:01] pyricau commented on #296
Duplicates #297

[2016-01-04 16:01] #296 closed

[2016-01-04 16:03] pyricau commented on #297
PR mentioned above: #297

[2016-01-04 16:08] pyricau commented on #294
Sorry, I removed the comment about the tip thing, at first sight I thought it was spam :s .

[2016-01-04 16:08] pyricau commented on #294
@IgorGanapolsky @danielgomezrico Was the issue fixed by upgrading Google Maps?

[2016-01-04 16:11] IgorGanapolsky commented on #294
Not as of the previous version.  Haven't tried the latest version...

[2016-01-04 16:14] pyricau commented on #271
This is an interesting idea.

* I would definitely be concerned with api compatibility.
* I'd have to look into legal issues around publishing an app in the Play Store (I would need to check with Square).
* That could also be a non Play Store APK that can be downloaded from the web.
* This also makes LeakCanary less Plug & Play. Every dev needs to be prompted to download LeakCanary the first time

[2016-01-04 16:21] pyricau commented on #299
Not a leak in the DisplayLeakActivity, this is probably an Android SDK leak. Please report as such with more info if you can. Closing for now.

[2016-01-04 16:21] #299 closed

[2016-01-04 16:23] pyricau commented on #300
Seems similar to #190

[2016-01-04 16:23] #300 closed

[2016-01-04 16:26] #280 closed

[2016-01-04 16:29] pyricau commented on #177
PR welcome to ignore leak, with comment that explains how to go around it.

[2016-01-04 16:30] #304 closed

[2016-01-04 16:31] pyricau commented on #306
A better venue would be http://stackoverflow.com/questions/tagged/leakcanary :)

[2016-01-04 16:31] #306 closed

[2016-01-04 16:34] pyricau commented on #315
This is fixed in `1.4-SNAPSHOT`, you are still using `1.3.1`

[2016-01-04 16:34] #315 closed

[2016-01-04 16:47] pyricau commented on #320
We should update `AndroidExcludedRefs#INPUT_METHOD_MANAGER__SERVED_VIEW` to a sdk min of `ICE_CREAM_SANDWICH_MR1` instead of `JELLY_BEAN`

[2016-01-04 16:50] pyricau commented on #322
Probably because this is happening on an Android version that's not between 15 and 22. Please update with the Android version info, and I'll reopen.

[2016-01-04 16:50] #322 closed

[2016-01-04 16:51] pyricau commented on #171
@mandrachek @mkovalyk can you confirm the fix @ErikHellman suggested worked for you? Has this been fixed in Maps?

[2016-01-04 16:56] pyricau commented on #143
@ygnessin @shubhamchaudhary I don't recall: which one works by default on a new Android project, `androidTestCompile` or `testCompile`? I'd like the README to mention the most standard one.

[2016-01-04 16:59] #195 closed

[2016-01-04 17:04] pyricau commented on #94
Please refrain from posting different leaktraces on the same issue.

[2016-01-04 17:04] #94 closed

[2016-01-04 17:13] pyricau commented on #346
Yes please, a sample project that reproduces the issue would be nice.

Also, I'm quite unclear what the intended effect of `data` is in your case, and how leak canary breaks it.

[2016-01-04 17:16] pyricau commented on #347
Which other threads are you referring to? The only ones I can think of are the `AnalysisResultService` and the `HeapAnalyzerService` threads. These are `IntentService` subclasses, and intents are handled on a background `HandlerThread` with a name specific to leakcanary. What else?

[2016-01-04 17:24] pyricau commented on #353
So, this one is fixed (I'll publish a snapshot soon). @kleisauke can you file a separate issue for INPUT_METHOD_MANAGER__SERVED_VIEW ?

[2016-01-04 17:24] #353 closed

[2016-01-04 17:43] sshuw commented on #347
I'm referring to Executors.newSingleThreadExecutor() which creates threads using DefaultThreadFactory giving it names of the form "pool-2-thread-3":

https://android.googlesource.com/platform/libcore/+/refs/heads/master/luni/src/main/java/java/util/concurrent/Executors.java#510

There are a few ways of handling this according to StackOverflow:

http://stackoverflow.com/questions/6113746/naming-thr

[2016-01-04 17:46] boomesh commented on #346
Sure.  [I've zipped up a sample for you](https://github.com/square/leakcanary/files/77499/leakcanaryissue346.zip).

# Problem (I cannot access main main app `LC Issue 346`)
![vbox86pjls36gsumesh01042016123944](https://cloud.githubusercontent.com/assets/8161320/12095985/3e3f4ed2-b2e0-11e5-8e74-20e32d05a9b7.png)

This only happens when I have `<data android:scheme="..." />` in my one activity in the

[2016-01-04 17:52] pyricau commented on #138
Closing this. The follow up conversation on whether / how to build a separate app is in #271

[2016-01-04 17:52] #138 closed

[2016-01-04 17:53] pyricau commented on #347
We need to update `LeakCanaryInternals#fileIoExecutor` and `DisplayLeakActivity.LoadLeaks#backgroundExecutor`

[2016-01-04 18:01] #201 closed

[2016-01-04 20:37] agbison opened #358 "Marshmallow stack trace from 1-4.SNASHOT"
* FAILURE:
                                                         java.lang.IllegalArgumentException: Field offset does not exists
                                                             at com.squareup.leakcanary.HahaHelper.fieldValue(HahaHelper.java:143)
                                                             at com.squareup.leakcanary.HahaHelper.asString(HahaHelper.java:81)

[2016-01-04 21:02] agbison commented on #267
this is still occurring while testing the snapshot and should not be closed Opened #358 as I don't have permission to reopened closed bugs

[2016-01-04 22:19] JakeWharton commented on #25
#360

[2016-01-04 22:19] #25 closed

[2016-01-05 03:29] teslacoil commented on #346
This looks unrelated to LeakCanary, I'm surprised the icon shows in the launcher at all, but I guess it just gets confused when there are multiple activities or something.

I think this is what you're looking for:

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="

[2016-01-05 03:44] ygnessin commented on #143
@pyricau I think `testCompile` is for unit tests, which is probably the closest thing to "default" there is. I use `androidTestCompile` for the test API that I wrote which runs on a device; probably less common. Sorry for the confusion!

[2016-01-05 06:00] #205 closed

[2016-01-05 06:14] pyricau commented on #358
@agbison can you paste all the information that LeakCanary outputs? We need the details about the version & the leak canary build sha.

[2016-01-05 06:15] pyricau commented on #358
It looks like you're not using the latest build, given the line numbers.

[2016-01-05 06:23] pyricau opened #363 "Update to android-23"
Our `build.gradle` has `compileSdkVersion = 22` & `.travis.yml` has `android-22` has well. We should upgrade to 23, but some APIs were removed in 23 so we need to fix the code as well.

[2016-01-05 06:29] JakeWharton commented on #363
The only API at fault was just the use of `Notification#setLatestInfo` on a pre-11 branch.

[2016-01-05 06:30] #320 closed

[2016-01-05 06:33] pyricau commented on #143
thx!

[2016-01-05 07:11] pangli opened #364 "Why don't support Eclipse"

[2016-01-05 07:17] pyricau opened #365 "Add "reason" and "fix" to ExcludedRef"
In `AndroidExcludedRefs`, we added a great length of comments explaining why we are ignoring the leak, and sometimes also suggesting a fix.

Instead of comments, we should make those strings, and then pass those strings along in the `AnalysisResult` if a leak is an ignored leak.

[2016-01-05 07:25] pyricau commented on #364
Because too old.

[2016-01-05 07:25] #364 closed

[2016-01-05 07:49] pyricau commented on #154
Now tracked in #239

[2016-01-05 07:49] #154 closed

[2016-01-05 08:11] aoemerson commented on #315
@pyricau OK, gotya - thanks. Is there a mailing list I could sign up to find out when 1.4 goes onto jCenter / Maven?

[2016-01-05 08:38] #268 closed

[2016-01-05 08:39] #238 closed

[2016-01-05 08:43] dumeng1010 opened #367 "Failed to resolve: com.squareup.leakcanary:leakcanary-android:1.4-SNAPSHOT"
As title, I added following code in my build.gradle, but I got a failure prompt.

dependencies {
   debugCompile 'com.squareup.leakcanary:leakcanary-android:1.4-SNAPSHOT'
   releaseCompile 'com.squareup.leakcanary:leakcanary-android-no-op:1.4-SNAPSHOT'
 }

[2016-01-05 08:44] pyricau commented on #315
Nope. You could watch it on bintray: https://bintray.com/pyricau/maven/com.squareup.leakcanary%3Aleakcanary-android/view?source=watch

[2016-01-05 08:47] pyricau commented on #367
See https://github.com/square/leakcanary/blob/master/CHANGELOG.md#dependencies

[code]

[2016-01-05 08:47] #367 closed

[2016-01-05 08:50] pyricau commented on #229
Tracking ways to fix this in #223

[2016-01-05 08:50] #229 closed

[2016-01-05 09:04] DukeWong opened #368 "NullPointerException crash on android 6.0 pre"
* FAILURE:
 java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
     at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
     at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
     at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent

[2016-01-05 09:59] pyricau commented on #368
This should be fixed in the latest 1.4-SNAPSHOT, looks like you're not using that.

[2016-01-05 09:59] #368 closed

[2016-01-05 11:27] DukeWong commented on #368
could you upload 1.4-SNAPSHOT to maven?
I just found 1.3.1 in there.

[2016-01-05 13:38] pyricau commented on #368
See https://github.com/square/leakcanary/blob/master/CHANGELOG.md#dependencies

[2016-01-05 13:53] pyricau commented on #363
We'll also need to take care of #285 (storage permission) otherwise the sample will stop working.

[2016-01-05 13:55] pyricau commented on #239
Most things are in, see #369.

Storage permission: see #285
Displaying reason for excluded: see #365

[2016-01-05 13:55] #239 closed

[2016-01-05 14:25] johngray1965 commented on #358
I'm using the 1.4 Snapshot, and I'm seeing this:

    java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
         at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
         at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
         at com.squareup.

[2016-01-05 15:03] DukeWong commented on #368
Thank U, but in the link (You can watch releases on Bintray.), I just find 1.3.1 there. Are you forgot upload 1.4? (￣▽￣)"

[2016-01-05 21:14] boomesh commented on #346
@teslacoil Ah, I guess I needed that `DEFAULT` category.  Thanks for that!  Though...why is your `intent-filter` split out like that?  And why does it only work, when the filters are split as you suggested?  Perhaps you could point me to a resource.

[2016-01-05 21:47] teslacoil commented on #346
@boomesh Sorry I'm not aware of a good documentation resource on intent-filters.

Basically multiple tags of the same type (action, category) make the filter broader, it can handle either action (or category). But adding a data tag restricts it. However multiple data tags allow handling either data, not requiring both.

You basically want to respond to two things:
1) Icon in the Launcher. This nee

[2016-01-06 07:25] DukeWong opened #371 "OutOfMemoryError in leakcanary-analyzer"
(leakcanary-android-1.4-20160105.135951-12.aar)

W art     : Throwing OutOfMemoryError "Failed to allocate a 28 byte allocation with 1304 free bytes and 1304B until OOM" (recursive case)
01-06 02:20:13.320  7597 12015 W art     : "IntentService[HeapAnalyzerService]" prio=5 tid=20 Runnable
01-06 02:20:13.320  7597 12015 W art     :   | group="main" sCount=0 dsCount=0 obj=0x12c07760 self=0x9bd25a00

[2016-01-06 09:21] jrodbx commented on #358
@johngray1965: the line numbers in the provided stack trace point to an older version of the 1.4-SNAPSHOT.  This error was fixed in 47b098e.  Please update to the most recent build.

[2016-01-06 10:48] jrodbx commented on #368
Until a pending 1.4 release, you can add the snapshot repository to your build config.  Here's an [example in Gradle] (http://www.sonatype.org/nexus/2015/04/28/how-to-publish-your-open-source-library-to-maven-central/#h.r7ewmevztiex).

[2016-01-06 10:51] jrodbx commented on #371
Could you upload the heap dump that caused this OOM?  We're looking into this and a handful of examples will be useful for testing.

[2016-01-06 11:18] DukeWong commented on #371
Only crash in Genymotion (Android PREVIEW Version: 6.0 API: 23 LeakCanary: 1.4-SNAPSHOT e07929e) Simulator。

[2016-01-06 11:25] AlexLardschneider commented on #171
The bug fix by @ErikHellman does not work unfortunately. Issue still present in gservices v8.4.0

[2016-01-06 12:49] martynhaigh opened #373 "NullPointerException in HeapAnalyzer.java:160"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerSer

[2016-01-06 13:09] pyricau commented on #346
Closing since this isn't a leakcanary issue.

[2016-01-06 13:09] #346 closed

[2016-01-06 13:13] EGecius commented on #356
the problem that I am facing now that our CI is not building with a custom install, as shown in my example. The problem is that CI uses 'leakcanary-android-no-op' dependency, which knows nothing about the following classes:

import com.squareup.leakcanary.AndroidExcludedRefs;
import com.squareup.leakcanary.DisplayLeakService;
import com.squareup.leakcanary.ExcludedRefs;
import com.squareup.leakcan

[2016-01-06 13:21] johngray1965 commented on #358
Ugh, you are correct, apparently I had gone back to 1.3.1.  1.4-SNAPSHOT is working for me now.

[2016-01-06 13:34] martynhaigh commented on #373
Fixed in 1.4:SNAPSHOT

[2016-01-06 13:34] #373 closed

[2016-01-06 14:05] pyricau commented on #368
@DukeWong Go back to the link I pasted. There's gradle code to add the snapshot repository.

[2016-01-06 14:06] pyricau commented on #371
See #223

[2016-01-06 14:06] #371 closed

[2016-01-06 14:08] pyricau commented on #356
See https://github.com/square/leakcanary#customizing-and-using-the-no-op-dependency , it shows how you can actually install LeakCanary only in debug builds.

[2016-01-06 14:08] #358 closed

[2016-01-06 21:14] #347 closed

[2016-01-06 21:31] jrodbx commented on #371
@DukeWong that's fine.  still a heap dump (obtained via adb pull) would be useful.

[2016-01-07 08:27] skimarxall commented on #322
I have the same problem. LeakCanary tells me to ignore but still reported as a leak. Is that correct?

[code]

As you can see v22 using the SNAPSHOT version.

[2016-01-07 09:11] jrodbx commented on #322
@skimarxall see [here](https://github.com/square/leakcanary/blob/3d1f524b2fcabfdfd7647de6f27ed8735ad48ade/leakcanary-android/src/main/java/com/squareup/leakcanary/AndroidExcludedRefs.java#L153) and [here](https://github.com/square/leakcanary/blob/3d1f524b2fcabfdfd7647de6f27ed8735ad48ade/leakcanary-android/src/main/java/com/squareup/leakcanary/LeakCanary.java#L96); the issue still occurs in API 22

[2016-01-07 10:28] RomainPiel opened #374 ""Could not create leak directory" on Marshamallow"
I'm having a new crash on Marshmallow with the latest version of leak canary (1.4-SNAPSHOT, latest snapshot):
[code]

I don't think it was happening in the previous snapshot.

[2016-01-07 10:35] vanniktech commented on #374
+1 having the same here only on Android M

[2016-01-07 10:48] skimarxall commented on #322
@jrodbx is there a way to tell leakCanary to not report the leak? Is a bit annoying getting a message everytime this happens.

[2016-01-07 10:54] jrodbx commented on #374
possibly related to https://github.com/square/leakcanary/issues/285 (storage permission issue)?

[2016-01-07 10:55] EGecius commented on #356
my apologies. I should have found this myself.

[2016-01-07 11:13] jrodbx commented on #322
currently there is not.  feel free to open an issue and/or submit a PR.

[2016-01-07 11:25] RomainPiel commented on #374
Could be! This one doesn't happen "sometimes" though, I could reproduce it all the time when launching my app for the first time

[2016-01-07 11:46] #220 closed

[2016-01-07 11:51] #162 closed

[2016-01-07 12:04] pyricau commented on #374
Reproduced. This is exactly the same issue as #285, except the code change so it shows up differently.

@RomainPiel until we fix the permission issue, you'll have to manually go in and toggle on the storage permission to the app.

[2016-01-07 12:04] #374 closed

[2016-01-07 12:11] RomainPiel commented on #374
Cool, thanks for the details

[2016-01-07 13:28] #363 closed

[2016-01-07 14:33] #285 closed

[2016-01-07 14:36] pyricau commented on #374
@RomainPiel Should be good now (fixed in #377)

[2016-01-07 14:46] skimarxall commented on #322
Thanks @jrodbx meanwhile I used the workaround for it https://github.com/square/leakcanary/issues/256

[2016-01-07 18:12] RomainPiel commented on #374
All good yeah, thanks!

[2016-01-07 19:51] kleisauke opened #379 "INPUT_METHOD_MANAGER__SERVED_VIEW issue seems to still exist on Android M"
Tested LeakCanary on the [AOSP Calendar](https://github.com/android/platform_packages_apps_calendar) with Android M (using custom kernel ElementalX-N5-6.0.7). It produces the following leaks (after closing the app):
- In month view: https://gist.github.com/kleisauke/fe70bd9c5c7825c71b9f
- In day/week view: https://gist.github.com/kleisauke/8a16c44b91d68eb091b4
- In agenda view: https://gist.github

[2016-01-07 21:34] jrodbx commented on #379
my guess is we'll have to selectively update upper bounds in [AndroidExcludedRefs.java](https://github.com/square/leakcanary/blob/0cc505f167d637520e0a1fe34f2b55e858cdf5c0/leakcanary-android/src/main/java/com/squareup/leakcanary/AndroidExcludedRefs.java) since we just bumped to M here: https://github.com/square/leakcanary/commit/80421bc9410a457588a9d6391a9873189274b087

[2016-01-07 21:57] rohans310 opened #380 "Leak analysis failed"
[code]

Could you please address this?

[2016-01-07 22:05] vanniktech commented on #380
You're most probably using 1.3.1 and you should be using 1.4-SNAPSHOT since there this was fixed.

[2016-01-07 22:08] jrodbx commented on #380
Duplicate of https://github.com/square/leakcanary/issues/341

[2016-01-07 22:08] #380 closed

[2016-01-07 22:09] jrodbx commented on #380
@rohans310, as @vanniktech mentions, please refer to latest 1.4-SNAPSHOT.

[2016-01-07 22:09] rohans310 commented on #380
Thanks!

[2016-01-08 06:40] #379 closed

[2016-01-08 06:41] jrodbx commented on #379
Repro'd and fixed.  Thanks for the detailed analysis!

[2016-01-09 17:01] meisteg opened #382 "Crash opening "Leaks" activity on 1.4-beta1"
My test device is running Android M, and I have not had a leak to get the notification to grant storage permissions. When I run the Leaks activity, it crashes with the dump below. The activity is able to open after granting storage permission.

    D  Shutting down VM
    E  FATAL EXCEPTION: main
    E  Process: com.meiste.tempalarm, PID: 14231
    E  java.lang.RuntimeException: Unable to resume a

[2016-01-09 17:14] meisteg opened #383 "OutOfMemoryError seen while processing leak"
System  E  java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack trace available
             LeakCanary  D  In com.meiste.tempalarm:2.0.0-87b8c9d-dirty-dev:200.
                         D  * FAILURE:
                         D  java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack trace available

[2016-01-11 01:16] pyricau commented on #383
Duplicates #223

[2016-01-11 01:16] #383 closed

[2016-01-11 01:18] pyricau commented on #86
We're now ignoring gc roots which are binder subclasses.

[2016-01-11 01:18] #86 closed

[2016-01-11 01:20] pyricau opened #384 "Add a sample to upload to a remote crash collection server"
Write a sample that uses Bugsnag.

[2016-01-11 12:07] vanniktech opened #385 "NPE com.squareup.leakcanary.internal.LeakCanaryInternals.isInServiceProcess"
When running JVM tests with Robolectric 3.0 I got this error when using 1.4-beta1

	at com.squareup.leakcanary.internal.LeakCanaryInternals.isInServiceProcess(LeakCanaryInternals.java:107)
	at com.squareup.leakcanary.LeakCanary.isInAnalyzerProcess(LeakCanary.java:164)
	at com.squareup.leakcanary.LeakCanary.install(LeakCanary.java:50)
	at com.squareup.leakcanary.LeakCanary.install(LeakCanary.java:3

[2016-01-11 15:24] akoufa opened #386 "Leak analysis failed. Nullpointer exception"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerSer

[2016-01-11 21:17] jrodbx commented on #386
Duplicate of #341.  Please update to [1.4-beta1](https://github.com/square/leakcanary/blob/master/CHANGELOG.md#version-14-beta1-2016-01-08).

[2016-01-11 21:17] #386 closed

[2016-01-11 21:31] jrodbx commented on #385
Duplicate of https://github.com/square/leakcanary/issues/143.  A workaround is suggested there.

[2016-01-11 21:31] #385 closed

[2016-01-13 05:10] elliptic1 opened #387 "NPE invoking String.equals at HeapAnalyzer 160"

[2016-01-13 08:59] artemiygreg opened #388 "org.eclipse.mat.SnapshotException"
![screenshot_2016-01-13-11-38-21](https://cloud.githubusercontent.com/assets/8559765/12289500/f6dc35a0-b9ec-11e5-95fb-41e83bd043ae.png)

[2016-01-13 09:22] jrodbx commented on #388
Duplicate of https://github.com/square/leakcanary/issues/337

[2016-01-13 09:22] #388 closed

[2016-01-13 09:26] jrodbx commented on #387
Duplicate of #341. Please update to [1.4-beta1](https://github.com/square/leakcanary/blob/master/CHANGELOG.md#version-14-beta1-2016-01-08).

[2016-01-13 09:26] #387 closed

[2016-01-13 09:32] artemiygreg commented on #388
@jrodbx I understand you, thanks.

[2016-01-13 13:14] exallium opened #389 "LeakCanary Failed to Grab Info on Moto X Play Android 6.0"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerSer

[2016-01-13 13:18] vanniktech commented on #389
Was fixed with 1.4-beta1, so please use that one instead of 1.3.1

[2016-01-13 23:09] commonsguy opened #390 "Improve "Not watching specific activity classes"Documentation"
https://github.com/square/leakcanary#not-watching-specific-activity-classes

The code snippet seems to be out of date with respect to LeakCanary itself. Many of the methods cited in the code appear to be implemented on `LeakCanary`, but the code snippet behaves as though we are inheriting them from `ExampleApplication`.

[2016-01-14 05:21] manjunathc23 commented on #382
+1

[2016-01-14 05:23] manjunathc23 commented on #382
Worked for me after I gave permission to storage

[2016-01-14 10:12] jrodbx commented on #389
Duplicate of #341

[2016-01-14 10:12] #389 closed

[2016-01-14 10:15] jrodbx commented on #389
@exallium, this has been fixed.  please update to 1.4-beta1.

[2016-01-14 13:09] tobrun opened #393 "android.net.ConnecitivtyManager leak"
Context leak in [android.net.ConnectivityManager](https://github.com/android/platform_frameworks_base/blob/master/core/java/android/net/ConnectivityManager.java#L505)

* com.mapbox.mapboxsdk.testapp.MainActivity has leaked:
* GC ROOT static android.net.ConnectivityManager.sInstance
* references android.net.ConnectivityManager.mContext
* leaks com.mapbox.mapboxsdk.testapp.MainActivity instance
* Re

[2016-01-14 13:12] tobrun commented on #393
Code samples to reproduce:

[code]

[code]

[code]

[2016-01-14 13:55] exallium commented on #389
@jrodbx Ok, thanks!

[2016-01-14 16:46] Michenux commented on #171
We have the same issue, and it still appears when my location is disabled.

[2016-01-14 17:31] paulblessing opened #394 "ProGuard warnings with 1.4"
With 1.4-beta1, I get the following warnings causing ProGuard to fail:

[code]

and many more like it coming from the repackaged guava in the haha dependency, as well as these:

[code]

coming from the repackaged perflib in haha.

It seems likely that some more `-dontwarn` or `-keep` options need to be placed in `consumer-proguard-rules.pro` (or some other alternative).

[2016-01-14 18:57] digitalbuddha opened #395 "1.4-beta1 Leak Analysis Failed OOM"
Had issues with 1.3.1 and marshmallow, upgraded to 1.4-beta1 and every leak analysis is failing with the following info:

In com.nytimes.android.debug:5.11.1:1.
* FAILURE:
java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack trace available

* Reference Key: 8e473c2b-7418-40b3-9164-34ea5a4ec422
* Device: motorola motorola MotoG3 osprey_retus_2gb
* An

[2016-01-18 08:27] rogerhu commented on #265
What do these ProGuard fixes have to do with the Marshmallow M version?  I had to do the same thing in my ProGuard config as mentioned in https://github.com/square/leakcanary/issues/265#issuecomment-142618656

[2016-01-18 19:59] pyricau commented on #390
ExampleApplication is defined right above, in https://github.com/square/leakcanary#ignoring-specific-references . I agree this might be confusing. We should also remove the static imports, that's just more confusion.

PRs welcome btw :) .

[2016-01-18 20:00] pyricau commented on #382
PRs welcome!

[2016-01-18 20:07] pyricau commented on #393
Nice find! This leak still exists in the latest sources: https://github.com/android/platform_frameworks_base/blob/master/core/java/android/net/ConnectivityManager.java#L1566

Could you file an issue to AOSP? This needs to be fixed. See here for an example: https://code.google.com/p/android/issues/detail?id=171190

[2016-01-18 20:08] pyricau commented on #393
Ah, I see you've done it here: https://code.google.com/p/android/issues/detail?id=198852

Please always include more info in AOSP bugs, otherwise they won't look at it.

[2016-01-18 20:09] pyricau commented on #393
@tobrun btw you can totally have a temporary fix for this. All you need to do is make sure the ConnectivityManager is first created with an App Context. E.g. in some static init do: `context.getApplicationContext().getSystemService(Context.CONNECTIVITY_SERVICE)`

[2016-01-18 20:24] pyricau commented on #265
@rogerhu I don't use Proguard so I have no idea if there are still issues or not. Apparently there are, see #394

[2016-01-18 20:25] pyricau commented on #394
Thanks for the input. I'm happy to add more proguard rules, if someone figures out which ones.

[2016-01-18 20:29] pyricau commented on #395
Duplicates #223.

[2016-01-18 20:29] #395 closed

[2016-01-18 23:33] SandroMachado commented on #394
@paulblessing I also have some of that issues, but using the `proguard` instructions at the `readme` it works as expected.

BTW, are you including the Guava dependency or another project that you are importing contains the Guava dependency?

[2016-01-18 23:57] pyricau commented on #394
Google perflib depends on Guava. HAHA repackages perflib, but proguards the result so that only the needed classes from Guava are included. LeakCanary dev dependency uses HAHA.

[2016-01-18 23:58] pyricau commented on #394
@SandroMachado You mean this, right: https://github.com/square/leakcanary#proguard

That would be weird, the rules in there are already in https://github.com/square/leakcanary/blob/master/leakcanary-android/consumer-proguard-rules.pro

[2016-01-19 00:18] SandroMachado commented on #394
@pyricau the proguard consumer file method was only introduced in the version 1.4?

[2016-01-19 00:25] pyricau commented on #394
It's been there since May (1.3.1 I believe)

[2016-01-19 00:32] SandroMachado commented on #394
Hum, it is a bit late here... :night_with_stars:
Tomorrow I will try to remove the rules from my proguard file and just let the gradle import the library proguard rules and verifies if it stills compiling with warnings. Just to try to debug if the problem is not from the duplicated proguard rules or something like that.

[2016-01-19 05:37] rogerhu commented on #265
Added here:

 https://github.com/square/leakcanary/pull/398

[2016-01-19 10:49] SandroMachado commented on #265
It is working fine here with the latest update. No problems with the current proguard consumer files included in the library.

@rogerhu are you including any other proguard configuration? The latest version (1.4 beta 1) already includes the required proguard configuration file, so I don't need to add any other special rule.

[2016-01-19 10:59] SandroMachado commented on #394
@pyricau without my rules (just using the rules included in the library by the proguard consumer file) I don't get any warnings. :)

With the proguard enable for the debug configuration I got a lot of issues, but not only from `leakcanary`...

[2016-01-19 11:05] tobrun commented on #393
@pyricau thank you for adding that info to the AOSP ticket and suggested fix resolved this memory leak!

[2016-01-19 16:16] uKL commented on #382
Same here. Crash.

[2016-01-19 20:00] rogerhu commented on #265
rechecking...i noticed leak canary actually wasn't working for me until i brought these proguard lines in...but on a new project leakcanary works fine.  trying to figure out what's different

[2016-01-20 07:18] rogerhu commented on #265
The problem happens for debug builds, not for release builds because release compiles are using `com.squareup.leakcanary:leakcanary-android-no-op:1.4-SNAPSHOT`.

Change your relaseCompile dependency and you will see the same problem:

[code]

I've updated the PR for consumer-proguard-rules.pro  to ensure that the library includes these definitions by default.

[2016-01-21 01:33] Yumee opened #399 "API Level Is Too HIgh !"
1.4 use api 23, It's too high , M is  not exists in android.os.Build.VERSION_CODES in api 22

[2016-01-21 14:14] InI4 opened #400 "Leak analysis failed."
I have no clue. First run created an interesting result, second run, created this, "Please report this failure ...", ok this is what I am doing here:

                                                                           * FAILURE:
                                                                           org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound

[2016-01-21 14:59] liulei9385 opened #401 "oom"

[2016-01-21 15:00] liulei9385 commented on #401
In com.royalstar.smarthome.client:1.0.F4527D_beta:13.
* FAILURE:
java.lang.OutOfMemoryError: Failed to allocate a 2807208 byte allocation with 1632840 free bytes and 1594KB until OOM
	at com.squareup.haha.trove.TLongHashSet.rehash(TLongHashSet.java:162)
	at com.squareup.haha.trove.THash.postInsertHook(THash.java:283)
	at com.squareup.haha.trove.TLongHashSet.add(TLongHashSet.java:146)
	at com.squar

[2016-01-22 04:17] Harlber commented on #400
I had a similar issue
<p>
<img src="https://cloud.githubusercontent.com/assets/7955320/12502294/fcbeeb2c-c101-11e5-8b00-6b69bfe54398.png" width = "300" height = "572" alt="demo6" align=center />

[2016-01-22 20:48] mboukadir opened #403 "Leak caused by Adview"
Memory leak occurs when I leave the application or when i rotate the screen, regardless of the number of rotation that I do, I leak just the first activity.
I'm using AdView from google play services : com.google.android.gms:play-services-ads:8.4.0

![screenshot](https://cloud.githubusercontent.com/assets/795846/12522389/aaa01042-c150-11e5-8dfa-a7c66ffcca9a.jpg)

Here is the full trace :
In com.my

[2016-01-23 00:15] pyricau commented on #394
#398 should fix all this right?

[2016-01-23 00:16] pyricau commented on #393
We should add an entry to `AndroidExcludedRefs`

[2016-01-23 00:19] pyricau commented on #399
We will always use the latest compile SDK. You should too. There is no good reason for not updating the compile SDK, and we are not going to make the experience bad for most user.

[2016-01-23 00:19] #399 closed

[2016-01-23 00:19] pyricau commented on #401
Duplicate #223

[2016-01-23 00:19] #401 closed

[2016-01-23 00:20] pyricau commented on #400
Fixed in 1.4

[2016-01-23 00:20] #400 closed

[2016-01-23 00:21] SandroMachado commented on #394
Yes, that will remove the warnings.

[2016-01-23 00:49] pyricau commented on #390
@commonsguy Should be fixed now. Good?

[2016-01-23 00:49] #390 closed

[2016-01-23 01:14] #365 closed

[2016-01-23 06:39] commonsguy commented on #390
That helps, thanks! To be clear, the actual "not watch some activity" test is `activity instanceof ThirdPartyActivity` check in `onActivityDestroyed()`, right?

[2016-01-23 10:28] ArtemWidelab commented on #393
But if this leak have workaround, maybe, it will be better not to exclude it?

[2016-01-23 10:39] ArtemWidelab commented on #393
Sorry, i didn't see last updates

[2016-01-24 02:38] pyricau commented on #390
Yep. That's just an example, one way to do it. The point being that you have access to the ref watcher and can do whatever you want with it, select instances you want to watch in however way you want.

[2016-01-24 03:11] huzhenjie opened #407 "Failure while running"
* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
	at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
	at org.eclipse.mat.parser.model.AbstractObjectImpl.resolv

[2016-01-24 18:41] pyricau commented on #407
Fixed in 1.4

[2016-01-24 18:41] #407 closed

[2016-01-25 02:16] xing634325131 opened #409 "VerifyError: Rejecting class com.squareup.leakcanary.AndroidExcludedRefs"
**what's the problem?**
-- LG G3 /5.0.1

[code]

[2016-01-25 13:57] paulblessing commented on #394
This appears to be fixed for me with the changes from #398.

[2016-01-26 02:36] mazouri opened #410 "Letv x600 SnapshotException"
* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
	at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
	at org.eclipse.mat.parser.model.AbstractObjectImpl.resolv

[2016-01-26 16:32] jmvines commented on #251
Any ideas about this?

Thanks!.

[2016-01-27 08:28] drduan opened #412 "leak dump"
[code]

[2016-01-27 08:28] drduan commented on #412
How to deal with?

[2016-01-27 19:22] monachitnis opened #413 "LeakCanary OOM"
Please see attached screenshot. This was on a Nexus 5.

![device-2016-01-27-111746](https://cloud.githubusercontent.com/assets/571218/12625303/12346538-c4e8-11e5-9dd6-4bae381960c1.png)

[2016-01-28 08:20] Yumee opened #414 "Multiprocess aren't supported"
my app has a main process ,but it has another process named web to open the com.android.browser to load some pages, i use leak in my application.But when i try to open the web page using the web process, the app is crashed the error is as following:
** Could not get package info for com.android.browser
                                                 android.content.pm.PackageManager$NameNotFoundE

[2016-01-28 08:20] Yumee commented on #414
i am learning ,mabey u can help me

[2016-01-28 10:40] yayaa opened #415 "SnapshotException - SnapshotImpl_Error_ObjectNotFound"
I got this error on LeakCanary and it's said to report here so this is me being a good boy :)

* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
	at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
	at org.eclipse.mat.snapshot.model.ObjectReferenc

[2016-01-29 13:48] chiel99 commented on #403
Same problem with same call stack. Do you find any solution?

[2016-01-30 14:25] mboukadir commented on #403
@chiel99 No I did not find solution :(

[2016-02-01 06:33] androidyue opened #416 "NullPointerException on Nexus 6p"
Detailed information

[code]

[2016-02-01 08:39] fanwu123 opened #417 "java.lang.NullPointerException alyunOS"
In com.sumxiang.noteapp:1.0:2.
* FAILURE:
java.lang.NullPointerException: java.lang.NullPointerException
	at com.squareup.leakcanary.HahaHelper.classInstanceValues(HahaHelper.java:143)
	at com.squareup.leakcanary.HahaHelper.asString(HahaHelper.java:73)
	at com.squareup.leakcanary.HahaHelper.threadName(HahaHelper.java:55)
	at com.squareup.leakcanary.ShortestPathFinder.enqueueGcRoots(ShortestPathFin

[2016-02-03 06:38] jicksonpeppertap commented on #413
Same issue in Moto E 2nd Gen. Leakcanary Version 1.4-beta1.

![screenshot_2016-02-03-12-05-03](https://cloud.githubusercontent.com/assets/16488048/12774854/c931202e-ca6e-11e5-8150-693f3b0fe713.png)

[2016-02-03 08:08] Yky commented on #4
Is there a hack for this issue?

[2016-02-03 16:51] waltarmour commented on #416
I have a repro (same stack) with this device:

* Reference Key: 073e495a-9e0e-4c57-a283-3e9dac48d308
* Device: LGE google Nexus 5 hammerhead
* Android Version: 6.0.1 API: 23 LeakCanary: 1.3.1
* Durations: watch=6707ms, gc=156ms, heap dump=6826ms, analysis=18689ms

It does NOT repro on 1.4-beta1 .

[2016-02-05 20:48] guelo opened #418 "Don't notify or log if LEAK CAN BE IGNORED"
Using the library on an app that frequently hits known framework leaks makes it useless because the developer gets tired of all the false positives. Create an option to not notify on those types of leaks.

[2016-02-05 21:20] lolkittens commented on #418
[Ignoring specific references](https://github.com/square/leakcanary#ignoring-specific-references)

[2016-02-06 15:15] gabin8 opened #419 "java.io.IOException: Address already in use"
Getting error exception:

14508-14508/com.testproject.android:leakcanary I/fd: Created real app instance successfully :com.rawduck.testproject.TestProjectApp@24f9048a
14508-14508/com.testproject.android:leakcanary E/fd: IO Error creating local socket at com.testproject.android
                                                                     java.io.IOException: Address already in use

[2016-02-08 09:06] Yky commented on #29
I still have this problem. @pyricau Your link to https://github.com/square/leakcanary/blob/master/library/leakcanary-android/src/main/AndroidManifest.xml is broken. Could you please repaste it?

[2016-02-09 11:08] nickgrim commented on #413
Similar but less useful from leakcanary 1.4-beta1; this is the stock Android emulator running Marshmallow.
<img src="https://cloud.githubusercontent.com/assets/8376/12914615/37534e94-cf1d-11e5-82db-e720680028d3.png" width="50%">

[2016-02-09 19:41] IgorGanapolsky opened #420 "Leak analysis fails on Marshmallow"
I am running my app on a Marshmallow emulator, and I see this error in the leak analysis:
![screenshot_20160209-143943](https://cloud.githubusercontent.com/assets/201209/12928376/1c5c2b10-cf3b-11e5-99b2-d35ef506cd49.png)

This happens after I grant the runtime permissions for LeakCanary in marshmallow.

[2016-02-10 08:21] fingertricks commented on #420
Duplicate of #413 ?

[2016-02-10 09:26] olik79 commented on #190
You might not be able to reduce the number of methods below 65k so easily, if you are using a larger number of libraries. I had already picked only the necessary parts of Google Play Services and still exceeded the 65k limit.

For me it helped to add:

`defaultConfig {
     ...
     multiDexEnabled = true
     ...
}`

within my `build.gradle` file within your app module.

[2016-02-11 10:36] stoyicker opened #421 "Android TV support"
LeakCanary ~~does nothing~~ does not show an app entry when dumping a leak caused in an app running on Android TV, which leaves manually pulling the hprof file as the only possible solution (which probably should be done anyway, but having the visual interpreter is kind of nice).

[2016-02-11 14:43] dbarwacz opened #422 "RequestStoragePermissionActivity infinite loop on M"
Using leak canary requires external storage permission. On android 6 runtime permissions come into play. Unfortunately, if original app does not define this permission as requested, attempt to turn it on from notification issued by leak canary silently crashes.
I don't know how app + leak canary hybrid works but: is there a way to attach required permission / add permissions paragraph to instructi

[2016-02-11 15:04] fingertricks commented on #422
Possible duplicate of #382 ?

[2016-02-11 15:56] marcelorbenites commented on #413
+1

[2016-02-12 03:22] siripin701 commented on #415
I got the same issue. Here is my screenshot
<img width="453" alt="00000104" src="https://cloud.githubusercontent.com/assets/2408173/12998135/7dd393f4-d172-11e5-8907-8ed168e7b69d.png">

[2016-02-12 08:25] Yky commented on #92
I think the problem here is not the WebView itself but rather `android.os.ResultReceiver$MyResultReceiver.this$0`. I have this Leak in an Activity and I am not using a WebView.

[2016-02-12 14:35] dbarwacz commented on #422
I don't think so, I see no problem observed by reporter. The notification is issued (as this was fix for mentioned issue) but there is the problem to enable storage permission when original app does not request it in manifest.

[2016-02-12 15:26] fingertricks commented on #422
What version of the library are you using?

Can you post a crash stack?

[2016-02-12 16:25] dbarwacz commented on #422
Version 1.4-beta1
Actually, there is none, it enters loop of:
[code]

[2016-02-12 16:37] dbarwacz commented on #422
This is weird, I tried to debug it and the only thing that happens for me is `RequestStoragePermissionActivity.class` is launched.

[2016-02-13 04:22] makotu0814 commented on #403
.Did you try adview.destory() in your activity OnDestroy().

[2016-02-13 05:27] funkyidol commented on #403
I tried the adView.destroy() and it works but only if its done on onStop(). If its done in onDestroy() and app is minimized then it always gives the error. And because now im destroying views on onStop(), I have to restart them in onStart() and this makes the whole thing a little slower.

[2016-02-16 04:18] gildor commented on #413
+1

[2016-02-16 13:31] Maragues opened #423 "Leak Analysis failed, OOM (1.4-beta)"
1.4-beta on Genymotion Nexus 4 Android 5.1.0

![image](https://cloud.githubusercontent.com/assets/655970/13077554/c6365646-d4b9-11e5-81f6-5b6023ee3fb6.png)

[2016-02-17 09:35] Boza-s6 commented on #416
Same here with
* Device: Sony [Z5]
* Android Version: 6.0 API: 23 LeakCanary: 1.3.1

[2016-02-17 18:48] PatrickDattilio opened #424 "RequestStoragePermissionActivity infinite loop"
My app has a leak, I get a notification that I need to enable permissions to view it. Clicking the notification causes the following (seemingly) infinite looping messages in logcat. Nothing is shown on screen, but I'm unable to do anything but hit the home/recent buttons. Trying to open the Leaks app causes the same issues. Opening the Leaks app info takes me to _my_ app's page, where I do not hav

[2016-02-18 08:37] Jacksgong commented on #15
Well done!

[2016-02-18 08:53] Yky commented on #423
Looks like it might be a problem with  HAHA 2.0.2., which is used since 1.4-beta. A Snapshot is passed to HAHA and causes an OOM when trying to compute the dominators.

[2016-02-18 09:41] Maragues commented on #423
Let me know if I should open an issue there.

Unfortunately I've got lots of these "Leak analysis failed" in a branch, so I can provide some .hprof files if needed.

[2016-02-18 10:04] Yky commented on #423
Yes, it would be good if you could open an issue there and provide an hprof-file to reproduce this error.

[2016-02-18 10:26] Yky commented on #413
Similar issue to #423

[2016-02-18 10:28] Yky commented on #415
Same as #410

[2016-02-18 11:32] Maragues commented on #223
I'm getting this failed report on 1.4-beta, Genymotion Nexus 4 Android 5.1.0

![image](https://cloud.githubusercontent.com/assets/655970/13142148/87a21126-d63b-11e5-8db6-a709c7b3969d.png)

It's the same message as in https://github.com/square/leakcanary/issues/279, which is closed

[2016-02-19 07:11] bineanzhou opened #425 "NullPointerException nexus5"
![screenshot_20160219-150753](https://cloud.githubusercontent.com/assets/1778117/13168773/f80ba046-d71a-11e5-9f50-db52a256a36a.png)

[2016-02-19 08:39] Yky commented on #425
Duplicate of #416

[2016-02-20 06:48] tianshaokai opened #426 "org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound"
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
org.eclipse.mat.parser.model.AbstractObjectImpl.resolveValue(AbstractObjectImpl.j

[2016-02-20 10:45] Yky commented on #426
Duplicate of #415

[2016-02-20 14:10] DariusL commented on #267
I bumped to 1.4-SNAPSHOT and it didn't help. Started working after I uninstalled the application and did a clean build.

[2016-02-20 20:44] thepoofy opened #427 "OOM Using 1.4-beta1"
Using a Nexus 5x emulator with API 23

[code]

[2016-02-22 09:27] yue001 opened #428 "NoClassDefFoundError: Failed resolution of: Lcom/squareup/haha/perflib/io/MemoryMappedFileBuffer;"
[code]

[2016-02-22 12:45] NanFengyang commented on #413
？？？？？

[2016-02-23 03:04] southsea commented on #26
It seems never call onServiceDisconnected method on MediaScannerConnection class when App exits.
That can't release mService and mClient, then leak occured.

[2016-02-23 06:53] Yky opened #429 "java.lang.Thread.localValues (named 'main') leaks Activity"
[code]

I haven't found this leak trace while searching. The closest match I could find was
`GC ROOT thread java.lang.Thread.<Java Local> (named 'xyz')`

[2016-02-23 09:45] 54binge commented on #267
it can't fix it

[2016-02-24 06:36] MonteCreasor commented on #416
Same stack with:
* Reference Key: 76d55ea0-df4b-4f5b-afc0-56fe4fb568f8
* Device: motorola google Nexus 6 shamu
* Android Version: 6.0.1 API: 23 LeakCanary: 1.3.1
* Durations: watch=5009ms, gc=140ms, heap dump=5725ms, analysis=16739ms

[2016-02-24 06:37] xiaoluo commented on #416
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
                                                                              at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
                                                                              at com.squareup.

[2016-02-24 07:34] adityagundecha opened #430 "NPE using AUTH"
02-24 13:03:31.359 7834-7834/com.example.a2p1wk1.canteenapp E/AndroidRuntime: FATAL EXCEPTION: main
                                                                              Process: com.example.a2p1wk1.canteenapp, PID: 7834
                                                                              java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.a2p1wk1.cantee

[2016-02-24 07:34] adityagundecha commented on #430
package com.example.a2p1wk1.canteenapp;

import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;

import com.firebase.client.AuthData;
import com.firebase.client.Firebase;
import com.firebase.ui.auth.core.AuthProviderType;
import com.firebase.ui.auth.core.FirebaseLoginBaseActivity;
import com.firebase.ui.auth.core.FirebaseLoginError;

public class ActivityMain extends FirebaseLo

[2016-02-24 07:35] #430 closed

[2016-02-24 07:35] adityagundecha commented on #430
Sorry opened in a wrong place

[2016-02-24 14:26] androidlab opened #431 "Leak Analysis failed"
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
at org.eclipse.mat.parser.model.AbstractObjectImpl.resolveValue(Abstract

[2016-02-24 17:56] sreereddymenon opened #432 "Assistance in fixing memory leak for service connection class - anonymous class implements"
I have used a service which helps me tracking time spent on apps on the device(like usage statics ) kind of usage statistics  for pre lollipop devices.
02-24 13:00:58.909 2919-26918/com.sree D/LeakCanary: In com.sree:1.0:5.
02-24 13:00:58.909 2919-26918/com.sree D/LeakCanary: * com.sree.Activity.GetReportActivity has leaked:
02-24 13:00:58.909 2919-26918/com.sree D/LeakCanary: * GC ROOT static com

[2016-02-25 12:25] Yky commented on #431
Duplicate of #426, #415 and #410

[2016-02-25 14:45] sreereddymenon commented on #432
I have fixed  by calling

                        mContext.unbindService(mConnection);

instead of

   unbindService(myService.mConnection);

[2016-02-26 04:12] Awent opened #433 "Leak analysis failed"
In com.awen.demo:1.5.1:17.
* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
	at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
	at org.eclipse.mat.parser.mode

[2016-02-26 07:33] Awent opened #434 "LeakCanary caused RunTimeException in my app"
AndroidRuntime: FATAL EXCEPTION: LeakCanary-Heap-Dump
                                                                 java.lang.RuntimeException: Failure during heap dump; check log output for details
                                                                     at dalvik.system.VMDebug.dumpHprofData(Native Method)
                                                                     at dal

[2016-02-26 09:59] Yky commented on #433
Duplicate of #431, #426, #415 and #410

[2016-02-27 04:20] arturgaleno opened #435 "Leak analysis failed"
`* FAILURE:
                                                                        java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
                                                                            at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)

[2016-02-27 14:13] cenorasped opened #436 "Starts, but doesn't work"
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerService.java:5

[2016-02-29 14:03] yesenarman commented on #435
<pre>
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.List com.squareup.haha.perflib.ClassObj.getInstancesList()' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:96)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:80)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHand

[2016-02-29 14:05] yesenarman opened #438 "Leak analysis failed"
<pre>
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.List com.squareup.haha.perflib.ClassObj.getInstancesList()' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:96)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:80)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHand

[2016-03-01 03:54] AllenCoder opened #439 "Android 6.0 java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference"
leakcanary E/AndroidRuntime: FATAL EXCEPTION: IntentService[HeapAnalyzerService]
                                                                         Process: com.juyoulicai:leakcanary, PID: 7517
                                                                         java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null

[2016-03-01 11:50] airk000 commented on #439
Got this too.

[2016-03-02 09:09] aurae opened #440 "AppCompat-v7 23.2.0: android.support.v7.widget.TintResources leak"
The `mContext` of AppCompat 23.2.0's `TintResources` leaks because of a held reference by `Resources.sPreloadedDrawables`.

Observed with LeakCanary `1.4-beta1` using the default configuration (`LeakCanary.install(App)`).

Full trace incoming:

[code]

[2016-03-03 06:44] etby commented on #439
Yes. Nexus 6p, too. version:1.3.1

[2016-03-03 08:09] Schinizer commented on #440
Same here:
[code]

[2016-03-05 19:43] pranavmehta commented on #439
+1, Android 6, version 1.3.1

[2016-03-07 02:54] yuiopt opened #441 "Leak analysis failed"
![screenshot_2016-03-07-10-51-21_com kdlc app](https://cloud.githubusercontent.com/assets/9608805/13559799/f7f1f32c-e452-11e5-8746-0fb21947239b.png)

[2016-03-07 02:58] sandnychhy opened #442 "Android 6.0 cause ANR"
CPU usage from 4513ms to 5046ms later:
                                                  125% 16320/leakcanary: 123% user + 1.8% kernel / faults: 2576 minor
                                                    95% 16342/IntentService[H: 93% user + 1.8% kernel
                                                    31% 16331/HeapTaskDaemon: 31% user + 0% kernel

[2016-03-07 11:37] dbarwacz commented on #424
duplicate of #422

[2016-03-07 11:41] dbarwacz commented on #422
I think debug app should specify that it wants to request storage permission in runtime. During manifest merging of final apk, debug versions would have external storage persmissions available, release builds would not. That might break certain setups but the only other solution I see is:
* app has no storage permissions, check if storage request has been specified:
   * NOT:, tell developer to ad

[2016-03-08 07:45] MrIceFox opened #443 "Display other applicaion's leak"
I've install leakcanary on tow app A and B, but after leak found on A,  i saw the same leak info on B. The info was displayed on two different 'Leaks', i've research the directory which named leakcanary-'package name' in the file explorer, the directory with A's package name has two file(suffix .result and .hprof) but the other is empty.

[2016-03-09 07:47] hanzhifengyun opened #445 "SnapshotException: SnapshotImpl_Error_ObjectNotFound"
* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
at org.eclipse.mat.parser.model.AbstractObjectImpl.resolveVal

[2016-03-09 14:20] IgorGanapolsky commented on #60
I am having the same problem right now in **Android Studio 2.0 beta6**.  I've tried this in gradle:
`final LEAKCANARY_VERSION = '1.4-beta1'
debugCompile "com.squareup.leakcanary:${LEAKCANARY_VERSION}"
releaseCompile "com.squareup.leakcanary:leakcanary-android-no-op:${LEAKCANARY_VERSION}"`

Getting this error:

[2016-03-09 14:24] IgorGanapolsky commented on #60
Found the solution, need to use this:
`debugCompile "com.squareup.leakcanary:leakcanary-android:${LEAK_CANARY_VERSION}"`
instead of this:
`debugCompile "com.squareup.leakcanary:${LEAK_CANARY_VERSION}"`

[2016-03-09 20:59] jrodbx commented on #418
@guelo, as @DrewCarlson mentions, there's a way to do just that.  I'll close this issue; feel free to re-open if you meant something else.

[2016-03-09 20:59] #418 closed

[2016-03-09 21:01] jrodbx commented on #445
This was fixed in 47b098e. Please update to a later version.

[2016-03-09 21:01] #445 closed

[2016-03-09 21:02] jrodbx commented on #426
This was fixed in 47b098e. Please update to a later version.

[2016-03-09 21:02] #426 closed

[2016-03-09 21:03] jrodbx commented on #415
Duplicate of #337. Please update to a later version.

[2016-03-09 21:03] #415 closed

[2016-03-09 21:03] jrodbx commented on #410
Duplicate of #337. Please update to a later version.

[2016-03-09 21:03] #410 closed

[2016-03-09 21:03] jrodbx commented on #431
Duplicate of #337. Please update to a later version.

[2016-03-09 21:03] #431 closed

[2016-03-09 21:04] jrodbx commented on #433
Duplicate of #337. Please update to a later version.

[2016-03-09 21:04] #433 closed

[2016-03-09 21:05] jrodbx commented on #439
Duplicate of #341.  Please update to a later version.

[2016-03-09 21:05] #439 closed

[2016-03-09 21:06] jrodbx commented on #438
Duplicate of #341.  Please update to a later version.

[2016-03-09 21:06] #438 closed

[2016-03-09 21:08] jrodbx commented on #441
Duplicate of #223.  A potential fix is pending.

[2016-03-09 21:08] #441 closed

[2016-03-09 21:08] jrodbx commented on #436
Duplicate of #341. Please update to a later version.

[2016-03-09 21:08] #436 closed

[2016-03-09 21:09] jrodbx commented on #435
Duplicate of #341. Please update to a later version.

[2016-03-09 21:09] #435 closed

[2016-03-09 21:09] jrodbx commented on #425
Duplicate of #341. Please update to a later version.

[2016-03-09 21:09] #425 closed

[2016-03-09 21:10] jrodbx commented on #427
Duplicate of #223.  A potential fix is pending.

[2016-03-09 21:10] #427 closed

[2016-03-09 21:11] jrodbx commented on #420
Duplicate of #223.  A potential fix is pending.

[2016-03-09 21:11] #420 closed

[2016-03-09 21:13] jrodbx commented on #416
Duplicate of #341. Please update to a later version.

[2016-03-09 21:13] #416 closed

[2016-03-09 21:14] jrodbx commented on #413
Duplicate of #223.  A potential fix is pending.

[2016-03-09 21:14] #413 closed

[2016-03-10 08:42] shubhamchaudhary opened #446 "ShortestPathFinder OOM error 1.4-beta"
[code]

[2016-03-10 09:00] Zeliret commented on #265
Well. Same for me. Everything was fine. I don't know why this error occurs...
[code]

[2016-03-11 09:42] aurae commented on #440
This has been supposedly [fixed in appcompat-v7:23.2.1](https://code.google.com/p/android/issues/detail?id=202379). I haven't had time to verify this, though.

[2016-03-11 14:25] kaibookblue commented on #422
Not sure if this is related but I saw the same thing on our app.  We ask for that permission in app but as it's not essential I had declined with don't ask again.  When LC kicked in I saw the notification saying it needed permission but when I tapped on the notification I got into the same loop as mentioned.

[2016-03-11 15:48] insectatorious opened #447 "Possible NPE in DisplayLeakActivity.java"
Using [Infer](http://fbinfer.com) I noticed the following NULL_DEREFERENCE errors:

[code]

It looks like there's a chance that ```getVisibleLeak()``` can return a ```null``` value. In line 162 of the same file you can see the check being made for this case but in the other functions the check is not made.

[2016-03-11 16:11] insectatorious opened #448 "Potential NPE in AsyncTaskLeakTest.java"
Using [Infer](http://fbinfer.com) the following NULL_DEREFERENCE errors were spotted (like #447 but this is in a unit test and test utils class so this is probably low priority).

[code]

The static analyser is pointing out that in the ```result.leakTrace``` object there is a possibility that it is ```null`` but since this is in a unit test this may be low priority or a non-issue.

[2016-03-11 19:55] elcelista opened #449 "NullPointerException in LeakCanaryInternals.isInServiceProcess()"
It looks like ActivityManager.getRunningAppProcesses can return null: http://developer.android.com/reference/android/app/ActivityManager.html#getRunningAppProcesses()

LeakCanaryInternals.isInServiceProcess() doesn't seem to check for this case.

Stack trace excerpt:

java.lang.RuntimeException: Unable to create application [...]: java.lang.NullPointerException: Attempt to invoke interface method

[2016-03-13 22:52] jushlwest opened #450 "NullPointerException"
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerService.java:5

[2016-03-14 17:54] monxalo commented on #450
Seems a duplicate of #341.

[2016-03-14 18:25] jrodbx commented on #450
Correct, @monxalo.  Duplicate of #341.  Please update to a later version.

[2016-03-14 18:25] #450 closed

[2016-03-15 06:06] vickykang opened #451 "SnapshotException"
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
                                                                 at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
                                                                 at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)

[2016-03-15 08:41] jrodbx commented on #451
Duplicate of #337. Please update to a later version.

[2016-03-15 08:41] #451 closed

[2016-03-15 17:52] #223 closed

[2016-03-15 18:50] jemshit commented on #229
lol
![screenshot_2016-03-15-20-48-30](https://cloud.githubusercontent.com/assets/1948828/13790111/86839f44-eaef-11e5-8896-be09d0aeec3f.png)

[2016-03-15 19:21] jrodbx commented on #229
@jemshit, are you experiencing this issue with the latest 1.4-SNAPSHOT?

[2016-03-15 19:23] jemshit commented on #229
@jrodbx `1.4-beta1`

[2016-03-15 20:09] jrodbx commented on #229
ok, could you try with 1.4-SNAPSHOT?  It was updated earlier today with [this fix](https://github.com/square/leakcanary/pull/444).

[2016-03-16 10:55] mayongsheng commented on #428
i have the same problem

[2016-03-16 17:57] digitalbuddha commented on #337
I don't believe issue was fixed, I just upgraded to   leakCanaryVersion = '1.4-SNAPSHOT' and still am getting OOM when trying to open the trace.  Failed to allocate 2807208 bytes with 685312 free bytes.  This is on a moto G 3rd generation with 2gig ram.

[2016-03-17 03:03] tzrgaga opened #452 "java.lang.NullPointerException in .HeapAnalyzer.findLeakingReference"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzer

[2016-03-17 13:18] jemshit commented on #315
yeah i don't see this anymore on 1.4-SNAPSHOT.

[2016-03-18 08:48] yukawa commented on #92
This seems to be [Chromium Issue 595613](https://bugs.chromium.org/p/chromium/issues/detail?id=595613).

The root cause is that Chromium's [ResultReceiver](http://developer.android.com/intl/ja/reference/android/os/ResultReceiver.html) accidentally holds a strong reference to ```ContentViewCore```.  In this case, ResultReceiver passed to [InputMethodManager#showSoftInput(View, int, ResultReceiver)]

[2016-03-18 10:21] sewerk commented on #452
Duplicate of #341. This was fixed in 47b098e.

[2016-03-18 11:39] jemshit commented on #11
@pyricau question about Fragment, do i need to add `RefWatcher` to detect leaks in Fragment, or is `LeakCanary.install()` in Application class enough to detect leaks on both Activities and Fragments ?

[2016-03-18 13:09] alexliyu opened #453 "why use WeakReference for Handler still leak?"
in onCreate, i init the handler:
mEventHandler = new MyHandler(this);
and in onDestroy:
mEventHandler.removeCallbacksAndMessages(null);
mEventHandler = null;

but it is still show leak!why?

`private static class MyHandler extends Handler {
        private final WeakReference<ChannelPlayer> parentReference;

        protected MyHandler(ChannelPlayer activity) {
            parentReference = new We

[2016-03-19 22:16] pyricau commented on #453
Please see this: https://github.com/square/leakcanary#how-do-i-fix-a-memory-leak

[2016-03-19 22:16] #453 closed

[2016-03-19 22:42] pyricau commented on #409
Can you reproduce this every time? Does it happen only on one device?

[2016-03-19 22:45] #394 closed

[2016-03-19 22:55] pyricau commented on #412
Please see https://github.com/square/leakcanary/#how-do-i-fix-a-memory-leak

[2016-03-19 22:55] #412 closed

[2016-03-19 23:01] pyricau commented on #414
This stacktrace does not crash the app. It is logged because we cannot get the package info for the current process, but this does't prevent the app from movign forward.

[2016-03-19 23:01] #414 closed

[2016-03-19 23:03] pyricau commented on #417
@fanwu123 Can you reproduce this consistently? Does it happen on other devices as well?

@jrodbx yet another string parsing in heap dump problem? Not sure.. this is in API 19.

[2016-03-19 23:07] pyricau commented on #419
Not a leak canary bug. See this: https://github.com/square/leakcanary/pull/411

If you need more information, see http://stackoverflow.com/questions/tagged/leakcanary

[2016-03-19 23:07] #419 closed

[2016-03-19 23:18] pyricau commented on #29
https://github.com/square/leakcanary/blob/master/leakcanary-android/src/main/AndroidManifest.xml

[2016-03-19 23:22] pyricau commented on #421
I'd love to get more details about what exactly is going on, what's missing, etc.

[2016-03-19 23:32] pyricau opened #456 "Alleviate OOMs by providing a manual solution."
OOMs during leak analysis could become a special type of error. When that happens, we can provide instructions on how to manually extract the heap dump. We should provide instructions / tooling to run the analyser on a JVM.

[2016-03-19 23:40] pyricau commented on #423
duplicate #413 => #223

[2016-03-19 23:40] #423 closed

[2016-03-20 00:00] pyricau commented on #267
Please make sure you use `1.4-beta`, and if this still happen, create a new issue.

[2016-03-20 00:00] #432 closed

[2016-03-20 00:01] pyricau commented on #434
Missing details.

[2016-03-20 00:01] #434 closed

[2016-03-20 00:03] pyricau commented on #424
Yep, duplicate.

[2016-03-20 00:03] #424 closed

[2016-03-20 00:06] pyricau commented on #422
Pretty sure it's caused by this: https://github.com/square/leakcanary/blob/master/leakcanary-android/src/main/java/com/squareup/leakcanary/internal/RequestStoragePermissionActivity.java#L42

I've been lazy and didn't do the result checking.

Not sure what we should do when the permission is refused after we ask.

[2016-03-20 00:08] pyricau commented on #442
Need more info than just a cpu dump. I have no idea what's going on, how to repro, etc. Might be related to #424.

[2016-03-20 00:08] #442 closed

[2016-03-20 00:15] pyricau commented on #443
This should be fixed in `1.4-beta1`

[2016-03-20 00:15] #443 closed

[2016-03-20 00:22] pyricau commented on #446
We're hoping this will be fixed by #444

[2016-03-20 00:24] pyricau commented on #448
AsyncTaskLeakTest is a test.

[2016-03-20 00:24] #448 closed

[2016-03-20 00:26] pyricau commented on #447
This is more a design problem than a bug. `getVisibleLeak()` will return null if there is no visible leak, but those errors aren't called in that case.

[2016-03-20 00:26] #447 closed

[2016-03-20 00:29] pyricau commented on #449
Thanks!

[2016-03-20 01:36] pyricau commented on #428
Are you using proguard?

[2016-03-20 01:37] pyricau commented on #337
@digitalbuddha OOM is a totally different issue.

[2016-03-20 01:38] #452 closed

[2016-03-20 01:39] pyricau commented on #11
see the readme. https://github.com/square/leakcanary#how-do-i-use-it

[2016-03-20 08:10] jrodbx commented on #417
@pyricau Walking through the stack trace, the thread name returned [here](https://github.com/square/leakcanary/blob/b8e444b351bd2cdb46acd9ef1c707c5d9b64f172/leakcanary-analyzer/src/main/java/com/squareup/leakcanary/HahaHelper.java#L150) is null.
@fanwu123  Could you provide the heap dump that triggered this NPE?

[2016-03-20 08:17] #449 closed

[2016-03-20 08:21] stoyicker commented on #421
In phones, when LeakCanary detects a leak in the app, it dumps the .hprof file which can be either manually pulled through adb or viewed by the corresponding LeakCanary app.
In Android TV (Nexus Player, API 21), the later is not an option because there is no launcher for the LeakCanary app (could be because there's no TV banner provided). I can't dig deeper on it however as I accidentally found th

[2016-03-20 09:54] jrgonzalezg commented on #267
For me, it did not work on the 1.4-beta1, but it started working when i switched to 1.4-SNAPSHOT

[2016-03-20 10:28] jemshit commented on #322
Same here, on API 23, leakcanary 1.4-SNAPSHOT, it is not excluded as well

[2016-03-20 11:42] alexliyu commented on #453
no, i think it is a bug.
when i use only one process, it is be fine.
no leak report.

but in the sub process, when i finished the activity, it is be leak.

[2016-03-20 17:32] pyricau commented on #417
You're right, I looked at it too fast. So the Thread class definitely had a name field, but that field was null. Which is in theory impossible, since Thread will throw if you try to create an instance with a null name.

[2016-03-20 18:44] pyricau commented on #322
Right now it's supposed to be excluded up to LOLLIPOP_MR1. Is someone getting this on higher Android version? If yes, then **please provide the Android version**.

[2016-03-20 18:49] jemshit commented on #322
@pyricau  api 23, android M

[2016-03-21 06:47] fanwu123 commented on #417
but i have bad english, but at last i have provide  the heap dump.
the file i upload to baiduyun,if you can't download ,tell me your email,i will send to you

[2016-03-21 15:36] levibostian commented on #229
I am experiencing this issue with 1.4-beta1 as well. Very small app with 1 simple fragment. Using Nexus 5 running marshmallow simulator. I installed LeakCanary into my app since the beginning of the project and have not had a successful dump yet. This error every time.

I could try 1.4-SNAPSHOT for you @jrodbx. What is the gradle repo for the snapshot?

I added:
[code]
to my build.gradle, did a sy

[2016-03-21 21:23] jrodbx commented on #417
@fanwu123 Please upload and attach the heap dump to this issue.

[2016-03-22 02:46] yue001 commented on #428
No, I didn't use proguard, but I used java reflect, I am not sure if it's the reason.

[2016-03-22 03:05] fanwu123 commented on #417
![2016-02-01_16-29-47_334_hprof](https://cloud.githubusercontent.com/assets/6690471/13940984/c8f4189e-f01d-11e5-8a34-1fd9de6717c4.png)
i  can't upload hprof file,so i rename to png,you should rename it

[2016-03-22 03:06] fanwu123 commented on #417
the url is https://cloud.githubusercontent.com/assets/6690471/13940984/c8f4189e-f01d-11e5-8a34-1fd9de6717c4.png

[2016-03-22 03:25] lzy26fate opened #461 "java.lang.NullPointerException"
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerSer

[2016-03-22 06:23] aizhunimei commented on #461
In com.gaimei.tourist:1.6.3:6.
                                                                * FAILURE:
                                                                java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
                                                                    at com.squareup.le

[2016-03-22 07:15] herriojr commented on #229
I am experiencing the issue on 1.4-SNAPSHOT with the "no stack available" image posted by @jemshit

[2016-03-22 09:38] tv8eye commented on #461
I think I have the same issue today

[code]

[2016-03-22 09:52] huangqiyao opened #462 "NullPointerException"
Welcome and thank you for reporting an issue!

If you don't know how to fix a memory leak in your app, please do not file an issue. Read here: https://github.com/square/leakcanary/#how-do-i-fix-a-memory-leak

Are you sure this issue isn't already reported? Try the search field in https://github.com/square/leakcanary/issues .

^^^^^ PLEASE DELETE EVERYTHING ABOVE, INCLUDING THIS LINE ^^^^^

LeakCan

[2016-03-22 10:04] huangqiyao commented on #462
nexus6 android6.0.And it is ok on android5.0

[2016-03-22 16:51] herriojr commented on #323
Can we at least have a log message on this permission failure minimum?

[2016-03-24 01:35] wyhuster commented on #462
the same problem on Android 6.0.

[2016-03-24 07:37] Guolei1130 opened #464 "NullPointerException"
`* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyze

[2016-03-24 13:02] cypressious commented on #133
I just stumbled over this leak and was able to apply the fix on a Samsug device running Android 5.0 but not another device running Android 4.4. I think you should additionally gate the fix with a version check.

[2016-03-24 20:50] jrodbx commented on #464
Duplicate of #341. Please update to a later version, e.g., 1.4-beta2.

[2016-03-24 20:50] #464 closed

[2016-03-24 20:50] jrodbx commented on #462
Duplicate of #341. Please update to a later version, e.g., 1.4-beta2.

[2016-03-24 20:50] #462 closed

[2016-03-24 20:56] jrodbx commented on #461
@lzy26fate @aizhunimei Given the line numbers in your stack traces, this is a duplicate of #341. Please update to a later version, e.g., 1.4-beta2.

@tv8eye I'm guessing you'll still have this problem on 1.4-beta2.   Could you confirm that and, if so, open a separate issue and provide your hprof file?  Thanks.

[2016-03-24 20:56] #461 closed

[2016-03-24 20:57] jrodbx commented on #446
@shubhamchaudhary could you try with 1.4-beta2 and update this issue?

[2016-03-26 01:03] yukawa commented on #198
If you no longer see this with Chromium / WebView 50 and later, it's probably a duplicate of #92.  See [my comment there](https://github.com/square/leakcanary/issues/92#issuecomment-198259850).

[2016-03-28 06:44] GimiZhang opened #466 "afd"

[2016-03-28 06:46] #466 closed

[2016-03-28 11:06] cosic opened #467 "Wrong error: Have you declared this DisplayLeakActivity in your AndroidManifest.xml?"
I've got a wrong error:
[code]

Actually I've declared the DisplayLeakActivity in AndroidManifest but forgot to install the LeakCanary in the Application class by static method `LeakCanary.install(this);`.

[2016-03-28 19:26] spierce7 commented on #323
I'm seeing this issue as well.

[2016-03-29 06:00] liangxianshen opened #468 "report BUG"
![device-2016-03-29-135647](https://cloud.githubusercontent.com/assets/8497615/14099252/6f96a8f4-f5b6-11e5-8e6f-7b362b8dfe6f.png)

[2016-03-29 07:42] shi1315235 opened #469 "I find some bugs"
![image](https://cloud.githubusercontent.com/assets/7311419/14101118/c6f9eac6-f5c4-11e5-8f65-dea830dc1c3b.png)

[2016-03-29 07:58] yishoulong opened #470 "java.lang.UnsupportedOperationException: Could not create leak directory /storage/emulated/0/Download/leakcanary-"
android 6.0

![20160329154127](https://cloud.githubusercontent.com/assets/3970611/14101419/f6f6e344-f5c6-11e5-99ba-0e3cad935483.png)

[2016-03-29 11:05] jrodbx commented on #468
Looking at the stack trace, you are using an outdated version of the library.  Please upgrade to the latest (1.4-beta2).

[2016-03-29 11:05] #468 closed

[2016-03-29 11:07] jrodbx commented on #469
This looks similar to #341.  What version of LeakCanary are you using?

[2016-03-29 12:02] luxiaoyu opened #471 "java.lang.NullPointerException"
LeakCanary Version:
com.squareup.leakcanary:leakcanary-android:1.4-beta2

[code]

[2016-03-29 14:54] fengqingyun2008 opened #472 "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference"
In com.modernsky.istv:3.3.1:14.
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerSer

[2016-03-30 00:04] pyricau commented on #428
Does this happen every single time, or at random?

[2016-03-30 00:05] pyricau commented on #417
Thx. We will look into the head dump, see if there is anything interesting. We also want to check for null, with a comment explaining why.

[2016-03-30 00:07] pyricau commented on #229
@levibostian Can you try with `1.4-beta2` ?

btw, snapshot repo:

[code]

[2016-03-30 00:09] pyricau commented on #133
@cypressious PR welcome!

[2016-03-30 00:12] pyricau commented on #467
`DebugView.showLeaks` is your code, this isn't a bug in leak canary.

[2016-03-30 00:12] #467 closed

[2016-03-30 00:15] pyricau commented on #470
We can't help without more details, e.g. a full stacktrace and the leak canary version. I'll reopen when you update.

[2016-03-30 00:17] pyricau opened #473 "Add version number to error reports"
People post screenshots or error stacktraces. We should add the version number there, to make sure they are on the latest version.

[2016-03-30 00:18] pyricau commented on #472
Please update to 1.4-beta2

[2016-03-30 00:18] #472 closed

[2016-03-30 00:27] pyricau commented on #471
Interesting. This means `snapshot.findClass(KeyedWeakReference.class.getName());` returned null. It looks like the heap dump did not contain the `KeyedWeakReference` class, or perflib wasn't able to find it.

@luxiaoyu can you post a link to the heap dump file?

[2016-03-30 02:12] #417 closed

[2016-03-30 02:12] #473 closed

[2016-03-30 02:17] pyricau commented on #323
Actually, I didn't mean to reopen this. This should not happen with `1.4-beta2`. If you see this still happening when you don't grant permission, please let me know and I'll reopen.

[2016-03-30 02:17] #323 closed

[2016-03-30 02:26] pyricau commented on #469
Duplicate. Try `1.4-beta2`.

[2016-03-30 02:26] #469 closed

[2016-03-30 02:27] #382 closed

[2016-03-30 03:08] #422 closed

[2016-03-30 08:04] cypressious commented on #133
@pyricau I was only talking about the fix/hack, LeakCanary doesn't contain those, if I'm not mistaken.

[2016-03-30 08:50] ashishbhandari commented on #190
Now I am facing the same issue :+1:

i added leakcanary like this with other dependencies:

[code]

getting this issue:

Error:Gradle: Execution failed for task ':app:dexStagingDebug'.

[2016-03-30 11:23] matis11 commented on #131
@meierjan Try adding `android:largeHeap="true"` to your manifest.

[2016-03-30 12:16] meierjan commented on #131
@matis11 I don't see a reason for that. Leakcanary shouldn't require so much memory.

[2016-03-30 13:58] pyricau commented on #133
The `AndroidExcludedRef` file has advice on how to fix.

[2016-03-30 13:59] pyricau commented on #131
Locked conversation, please don't revive threads for old versions of LeakCanary, and update the version instead.

[2016-03-30 14:12] cypressious commented on #133
Done

[2016-03-30 20:17] frostymarvelous opened #481 "Trace. 1.4beta1"
LeakCanary Version: 1.4 beta1

[code]

[2016-03-30 21:46] pyricau commented on #481
Does that happen every single time?

[2016-03-30 21:48] frostymarvelous commented on #481
No. Just one time. I thought it was significant.
Also, it requested I submit it so.

[2016-03-31 05:40] ashishbhandari commented on #190
After adding  **multiDexEnabled ** flag in app gradle error removed, but don't know the reason ?

[code]

[2016-03-31 08:25] ajarl opened #482 "Leaked activity not detected as a leak by LeakCanary"
LeakCanary Version: 1.4-beta2

So I have an activity being leaked on configuration change. I think it's a MapView-related issue, but haven't been able to fix it yet. In any case, LeakCanary takes a heap dump and says it's analyzing it, and then comes back and says that no leak was found. However, the activity is clearly leaked as the memory usage keeps increasing until the app crashes with OOM if

[2016-03-31 09:02] ajarl commented on #482
I managed to fix the memory leak anyway. We weren't properly calling `LocationServices.FusedLocationApi.removeLocationUpdates`. Hopefully that helps to reproduce the issue so that LeakCanary can properly detect this leak as well.

[2016-03-31 14:24] pyricau commented on #481
Thanks! We released 1.4-beta2, please upgrade to the latest version, and let us know if it happens again on the new version.

[2016-03-31 14:24] #481 closed

[2016-03-31 14:25] pyricau commented on #482
Thanks!

[2016-03-31 14:27] frostymarvelous commented on #481
Sure.

[2016-04-01 06:50] msdx opened #483 "Leak analysis failed"
LeakCanary Version: 1.3.1

[code]

[2016-04-01 08:09] jamesbluecrow opened #484 "Leak analysis failed: OutOfMemoryError"
LeakCanary Version: 1.4-beta2

[code]

[2016-04-01 10:03] ushang000 opened #485 "the library why not leakcanary.jar ？"
Welcome and thank you for reporting an issue!

If you don't know how to fix a memory leak in your app, please do not file an issue. Read here: https://github.com/square/leakcanary/#how-do-i-fix-a-memory-leak

Are you sure this issue isn't already reported? Try the search field in https://github.com/square/leakcanary/issues .

^^^^^ PLEASE DELETE EVERYTHING ABOVE, INCLUDING THIS LINE ^^^^^

LeakCan

[2016-04-01 10:18] WonderCsabo commented on #265
I am also seeing these warnings. There are started happening when i updated to _2.1.0-alpha4_ version of the Android Gradle Plugin. The warnings are shown when the `transformClassesWithDexFor{Variant}` task is running.

[2016-04-01 14:56] vlad1m1r990 commented on #483
I am getting same error message.

[2016-04-01 14:59] Jonfor opened #486 "Overwriting TextView text"
LeakCanary Version: 1.4-beta2
Android OS Version: 6.0.1
Phone: Nexus 5X

![screenshot_20160401-104648](https://cloud.githubusercontent.com/assets/3246528/14210755/697e6c2e-f7f8-11e5-8e48-7babb91b3ffd.png)

Expected text in yellow background TextView: "Back to Concierge".
Actual text: "Click here to enable storage permission for %s". (See image)

Pretty hilarious bug!

[2016-04-01 17:56] pyricau commented on #484
@jrodbx so, yep, we still need to do something about this :) .

[2016-04-01 17:56] #485 closed

[2016-04-01 17:59] pyricau commented on #265
Help welcome!

We use jarjar & Proguard to embed perflib into LeakCanary. perflib depends on Guava, so Proguard allows us to shrink it down to the bare minimum. I think Proguard is a bit too agressive and removes inner classes attributes that later makes it unhappy when integrating into another app. Proguard is weird.

[2016-04-01 18:00] pyricau commented on #483
Please upgrade to the [latest release](https://github.com/square/leakcanary/blob/master/CHANGELOG.md) of LeakCanary.

[2016-04-01 18:00] #483 closed

[2016-04-01 18:01] pyricau commented on #486
Huh? Do you reference the string `leak_canary_permission_notification_text` in your code? Maybe it's a build issue, did you try a clean build?

Or is that an April 1st joke :) ?

[2016-04-01 18:18] Jonfor commented on #486
I don't reference the string at all but a clean build worked.

[2016-04-01 19:26] rogerhu commented on #265
The warnings are there but they are not fatal.  The Proguard rules set not to error on them (https://github.com/square/leakcanary/blob/master/leakcanary-android/consumer-proguard-rules.pro)

I don't think this is a blocking issue.  And it should probably be opened as a separate issue.

[2016-04-01 21:59] #486 closed

[2016-04-02 08:17] jrodbx commented on #484
Yep, indeed we do, @pyricau .  While we've reduced the memory pressure caused by enqueueing all GC roots, we're still hitting a wall during the analysis.  @DaviddeMiguel could you upload your heap dump?  I'm exploring some options and, the more heap dump samples for testing, the better!

[2016-04-04 10:19] leehz opened #487 "maybe a bug"
In com.socks.jiandan:1.2:2.
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerService

[2016-04-04 21:44] spacemase commented on #470
[code]

[2016-04-04 21:46] spacemase commented on #470
What's funny is that this crashes my KitKat device, and all my test devices running newer versions of Android are already unsupported by leakcanary.  Now the list of unsupported devices by leakcanary has attained 100% coverage of modern android versions.

[2016-04-04 21:47] spacemase commented on #470
btw, the code snippet yishoulong references is pretty obvious the issue, and was enough to proceed with fixing.

[2016-04-05 00:47] vovkab commented on #484
Happens all the time for me since updated to 1.4-beta2.
Don't have any issues with 1.3.1.

[2016-04-05 01:46] pyricau commented on #487
Please upgrade to the [latest release](https://github.com/square/leakcanary/blob/master/CHANGELOG.md) of LeakCanary.

[2016-04-05 01:46] #487 closed

[2016-04-05 02:00] pyricau commented on #470
@spacemase `Now the list of unsupported devices by leakcanary has attained 100% coverage of modern android versions.` I don't think this type of comments are helpful. Your help is very welcome, LeakCanary is a side project for all of us.

The issue isn't obvious from the screenshot. If we don't know what's calling `DefaultLeakDirectoryProvider.leakDirectory()`, we can't figure out where the proble

[2016-04-05 02:39] zouzhenglu opened #488 "class LeakCanary no found"
I found I cannot found the class LeakCanary in version 1.3 and 1.4,and I cannot found the class in you github . Did you modify the init method?

[2016-04-05 03:36] zouzhenglu commented on #488
clo

[2016-04-05 03:36] #488 closed

[2016-04-05 09:17] WonderCsabo commented on #265
@pyricau i am starting to think this is a ProGuard issue. I [added](https://github.com/team-supercharge/haha/commit/410ddad5a1662a8e34122dfff0646f89dbbbfa52) more ProGuard rules to preserve the `EnclosingMethod` attribute. However when examining the ProGuarded class (`javap -v Joiner$1.class`), it seems the attribute is still removed. 😢

[2016-04-05 12:13] WonderCsabo commented on #265
After reading further, `-keepattributes` should not be needed when not obfuscating (the manual says `-keepattributes` is only applicable when obfuscating. i guess because attributes are not stripped when not obfuscating). I opened a [topic](https://sourceforge.net/p/proguard/discussion/182456/thread/6920e89e/) in ProGuard forum for clarification.

[2016-04-05 17:40] Yky commented on #227
Can you provide a test-case to reproduce this?

[2016-04-05 17:42] Yky commented on #297
@pyricau I think this can be closed as the commit is included in 1.4-beta2

[2016-04-06 00:19] jrodbx commented on #297
@Yky thanks!

[2016-04-06 00:19] #297 closed

[2016-04-07 03:42] msdx commented on #484
I am getting same error message.

[2016-04-07 07:06] lennykano commented on #421
Would probably be as simple as adding a `LEANBACK_LAUNCHER` intent filter to the existing activity.

[2016-04-07 12:17] sprateek007 opened #489 "Could not attempt cleanup, leak storage not writable Issue"
LeakCanary Version: 1.4-beta2

I included LeakCanary in my application and when I start my application it says

D/LeakCanary: Could not attempt cleanup, leak storage not writable.

[2016-04-08 03:38] GoOnToDeth opened #490 "Leak analysis failed"
When I test a pager. leakcanary remind me that the activity had leak memory. And When I click the log.The screen show me this exception.

![qq 20160408113517](https://cloud.githubusercontent.com/assets/10951088/14373556/e988ed56-fd7d-11e5-82f4-670ca86fda59.jpg)

[2016-04-08 07:12] luowenjian commented on #490
I have the same problem

[2016-04-08 07:30] arlong opened #491 "Run Failed"
`Warning:Ignoring InnerClasses attribute for an anonymous inner class
(com.squareup.haha.guava.base.Joiner$1) that doesn't come with an
associated EnclosingMethod attribute. This class was probably produced by a
compiler that did not target the modern .class file format. The recommended
solution is to recompile the class from source, using an up-to-date compiler
and without specifying any "-target

[2016-04-08 07:38] uscheller commented on #171
![device-2016-04-08-093144](https://cloud.githubusercontent.com/assets/634090/14376894/bca515dc-fd6c-11e5-8d2b-6073dfb9c333.png)

I have (probably) the same problem and can not find any leak in my code. Also setMyLocationEnabled(false) doesn't fix it for me. When looking into the hprof file, there are several activities present. AndroidStudios "Detect leaked Activities" also detects these as leaks

[2016-04-08 13:36] DaviddeMiguel commented on #484
I can't @jrodbx because leakcanary tries to attach it to gmail and it seems to be bigger than 20MB.
I can tell you how to reproduce it, it is happening when I try to do login with facebook in a device that has not the facebook app installed (the memory leak seems to be related to the webview).

Here is the two traces reported with the version 1.3.1:

**1:**

[code]

** 2: **

[code]

[2016-04-08 15:08] DaviddeMiguel opened #492 "Leak analysis failed (KitKat) version 1.3.1"
LeakCanary Version: 1.3.1

[code]

[2016-04-09 17:55] bakua commented on #491
Started happening for me after update to Gradle 2.0

[2016-04-11 14:17] Yky commented on #492
Duplicate

[2016-04-11 15:10] rohitramkumar308 opened #493 "Leak analysis failed OOM exception"
LeakCanary Version: com.squareup.leakcanary:leakcanary-android:1.4-beta2

[code]

[2016-04-12 08:50] llsf opened #494 "android.support.v7.widget.RecyclerView.mContext leaks"
In top.itmp.uidemo:1.0:1.
* EXCLUDED LEAK.
* top.itmp.uidemo.ui.MainActivity has leaked:
* GC ROOT static android.view.inputmethod.InputMethodManager.sInstance
* references android.view.inputmethod.InputMethodManager.mNextServedView , matching exclusion field android.view.inputmethod.InputMethodManager#mNextServedView
* references android.support.v7.widget.RecyclerView.mContext , matching exclusio

[2016-04-12 16:28] jaredsburrows commented on #143
@ygnessin This works for me in all of my projects:

[code]

[2016-04-12 18:13] MichaelEvans commented on #265
I'm running into these warnings without using Proguard. Are there any fixes to silence these for non-proguard users?

[2016-04-12 18:16] WonderCsabo commented on #265
The core problem was [fixed](https://github.com/square/haha/pull/10). in `haha`. But to propagate the fix to `LeakCanary`, a new version of `haha` must be pushed, and the dependency on `haha` in `LeakCanary` must be modified to the new version. @pyricau when do you plan to do this?

[2016-04-12 20:55] pyricau commented on #265
when I or @jrodbx can get to it. Sorry, I can't provide any estimate, we have a tight deadline at work.

[2016-04-12 21:17] WonderCsabo commented on #265
@pyricau fair enough, thanks for the great library anyway!

[2016-04-13 05:08] gzfgeh opened #495 "SnapshotException:"
* FAILURE:
org.eclipse.mat.SnapshotException: SnapshotImpl_Error_ObjectNotFound
	at org.eclipse.mat.parser.internal.SnapshotImpl.mapAddressToId(SnapshotImpl.java:1194)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObjectId(ObjectReference.java:38)
	at org.eclipse.mat.snapshot.model.ObjectReference.getObject(ObjectReference.java:42)
	at org.eclipse.mat.parser.model.AbstractObjectImpl.resolv

[2016-04-13 11:21] d370urn3ur commented on #490
me too

Device: Samsung GT-I9100
OS Version: Android 4.1.2

[2016-04-13 20:05] patriciali opened #496 "Leak analysis failed with NullPointerException"
LeakCanary Version: 1.3.1

![screen](https://cloud.githubusercontent.com/assets/926828/14507623/52f7a554-0178-11e6-9af3-5d108da0449d.png)

[2016-04-14 05:24] jrodbx commented on #490
it looks you're using an older version (v1.3.1?).  please upgrade to 1.4-beta2.

[2016-04-14 05:24] #490 closed

[2016-04-14 05:25] jrodbx commented on #495
You're using an older version (1.3.1). please upgrade to 1.4-beta2.

[2016-04-14 05:25] #495 closed

[2016-04-14 05:26] jrodbx commented on #496
Please upgrade to 1.4-beta2.

[2016-04-14 05:26] #496 closed

[2016-04-14 05:26] jrodbx commented on #492
You're using an older version (1.3.1). please upgrade to 1.4-beta2.

[2016-04-14 05:26] #492 closed

[2016-04-14 07:19] luowenjian commented on #490
gradle:2.1.0-beta1

[2016-04-14 08:22] jrodbx commented on #490
@luowenjian I am referring to version 1.4-beta2 of LeakCanary, not the gradle plugin.

[2016-04-14 08:42] veqtor opened #497 "Add ability to toggle (pause/resume) LeakCanary at runtime"
The ability to toggle LeakCanary programmatically at runtime would make it much easier to only have it active at a stage of testing where one is looking for memory leaks. It's extremely annoying to have the application pause every now and then and and only being able to toggle it in the Application.onCreate isn't very flexible.

[2016-04-14 08:54] JiangDaYa0 opened #498 "java.lang.ArrayIndexOutOfBoundsException"
* FAILURE:
java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
	at com.squareup.haha.perflib.ClassObj.getStaticFieldValues(ClassObj.java:156)
	at com.squareup.haha.perflib.ClassObj.accept(ClassObj.java:194)
	at com.squareup.haha.perflib.analysis.ShortestDistanceVisitor.doVisit(ShortestDistanceVisitor.java:62)
	at com.squareup.haha.perflib.Snapshot.computeDominators(Snapshot.java:316)
	at c

[2016-04-14 09:40] luowenjian commented on #490
@jrodbx I am using v 1.4-beta2.
Device: XIAOMI HM NOTE3
OS Version: android 5.0.2

[2016-04-14 12:52] mqstack commented on #471
Got the same exception in version 1.3.1. Below is the link of heap dump file.

https://onedrive.live.com/redir?resid=182D1AF085345A36!928&authkey=!AM8KK_MVV4AKB6o&ithint=file%2chprof

[2016-04-15 06:07] eku commented on #497
:-1:

[2016-04-15 06:52] jrodbx commented on #490
@luowenjian OK.  However, the screenshot provided by @GoOnToDeth shows a stack trace that wouldn't occur on 1.4-beta2 since LeakCanary no longer relies on Eclipse MAT as its hprof parser.  Could you file a separate issue for what you're experiencing?  This issue is now closed, given that it's based on a 1.3 error.

[2016-04-15 09:00] gzfgeh commented on #495
thanks

[2016-04-15 09:01] AnswerZhao opened #499 "java.lang.IllegalArgumentException: File does not exist"

[2016-04-15 09:02] AnswerZhao commented on #499
`In cn.artand.android:1.0.8:108.
* FAILURE:
java.lang.IllegalArgumentException: File does not exist: /storage/emulated/0/Download/leakcanary/suspected_leak_heapdump.hprof
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:87)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerService.java:57)
	at android.app.IntentService$ServiceHandler.handleM

[2016-04-15 09:16] veqtor opened #500 "Add more no-op methods and classes"
Add more no-op methods and classes, specifically:

Basically all needed classes in the "Customizing LeakCanary" wiki page.

Motivation:
Creating a separate "debug" application-class when customising leakcanary is a hassle that leads to confusing gradle build scripts, it's simple to strip more classes of application code and they will likely be optimised away by proguard at release.

[2016-04-18 07:03] PaulWoitaschek commented on #265
My build was also just breaking without me using proguard. It worked fine for some time.

[2016-04-18 09:10] GPack1 opened #501 "Message "Brrr" but none notification"
After some device rotation I get a (single one) "Dumping memory, app will freeze. Brrr" toast message, but none leak's notification appears.
Is that message a leak's symptom or not?

Then I get a "Leak analysis failed" due to OOM:
![device-2016-04-18-112451](https://cloud.githubusercontent.com/assets/13414101/14599592/867142bc-0558-11e6-8db3-3762329aa1db.png)

LeakCanary Version:
1.4-beta2

[code]

[2016-04-18 21:13] dan-castle-rock opened #502 "OutOfMemory Error thrown during Leak Analysis"
LeakCanary Version: 1.4-beta2

This has happened every time I run the application and trigger the leak analysis of the fragment where I suspect I have a memory leak.

[code]

[2016-04-19 04:42] gzfgeh opened #503 "ViewConfiguration leak"
Hi, I have read the report,but can not fix my leak,
My leak is only appear in Sumsung SM-N7508V Android 4.3 and other phone have not appear
My leak is follow:
static ViewConfiuration.sConfigurations
references SparseArray.mValues
references array Object[].[0]
references ViewConfiguration.mContext
leaks SplashActivity instance

[2016-04-19 12:32] Jin35 opened #504 "NullPointerException in findLeakingReference(HeapAnalyzer.java:160)"
LeakCanary Version: 1.3.1

[code]

[2016-04-20 06:56] sabergeek opened #505 "OOM - Leak analysis failed on 1.4-beta2"
The error occurs shortly in-between my app's navigation:

LeakCanary Version: 1.4-beta2

[code]

[2016-04-20 07:19] kesenhoo commented on #504
I have met the same problem at Android N(Nexus 6)
![image](https://cloud.githubusercontent.com/assets/1456490/14666268/40731f88-070b-11e6-8cbd-0105976964a6.png)

[2016-04-20 07:30] jrodbx commented on #504
You're using LeakCanary version 1.3.1.  Latest is 1.4-beta2.

[2016-04-20 07:30] #504 closed

[2016-04-20 07:31] jrodbx commented on #499
@AnswerZhao does this occur on 1.4-beta2?

[2016-04-20 08:55] jrodbx commented on #503
Hi, it looks like you have a context leak in your application, not a bug report or feature request.  See more  for more: https://github.com/square/leakcanary/wiki/FAQ#how-do-i-fix-a-memory-leak

[2016-04-20 08:55] #503 closed

[2016-04-20 08:59] jrodbx commented on #446
ping, @shubhamchaudhary

[2016-04-20 11:46] AlexWih commented on #491
I solved the issue by adding following dependency to my build.gradle:

testCompile "com.squareup.leakcanary:leakcanary-android-no-op:1.4-beta2"

[2016-04-26 10:29] AmazingKevin opened #506 "Instrumentation$RecommendActivity.mTarget leaks"
static android.app.Instrumentation.mRecommendActivity
referencs android.app.Instrumentation$RecommendActivity.mTarget
leaks XXX.Activity

i dont know hot to fix it,could you please tell me why

[2016-04-26 17:14] Turnsole opened #507 "NPE in HeapAnalyzer"
LeakCanary Version: 1.3.1

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleInt

[2016-04-26 17:40] iverc opened #508 "Leak analysis failed - OOM 1.4-beta1"
LeakCanary Version: 1.4-beta1

[code]

[2016-04-26 17:52] Turnsole commented on #507
Oops, just found the other ticket.

[2016-04-26 17:52] #507 closed

[2016-04-27 07:14] hjw541988478 opened #509 "Version: 1.4-beta2 error occurs."
LeakCanary Version: 1.4-beta2

[code]

[2016-04-28 08:49] yweiquan commented on #491
Run into the exactly same issue, @AlexWih add testCompile in my situation is not working :(

[2016-04-28 09:48] krystianpe commented on #508
same here:

[code]

[2016-04-29 04:24] scdqs opened #510 "Leak analysis failed with LeakCanary: 1.4-beta2"
[code]

[2016-04-29 07:49] witchcraftstudios opened #511 "Fatal signal 11 (IntentService[H)"
leakcanary A/libc: Fatal signal 11 (SIGSEGV), code 2, fault addr 0x8909c558 in tid 11437 (IntentService[H)

[2016-04-29 14:21] francoispluchino commented on #97
@pyricau I tried your solution to avoid memory leak, namely, passed a null activity reference to the `AccountManager::getAuthToken` method, but I still get an alert with `NO LEAK FOUND` message.

Your fix is for `SDK <= LOLLIPOP_MR1`, but the problem is always present in `SDK MARSHMALLOW`.

[code]

This alert is displayed only that the activity is closed after retrieving the auth token.

[2016-05-01 15:34] kurganec opened #512 "No-op RefWatcher for debug builds."
LeakCanary Version: 1.3.1
In my team, we wanted to have an option to disable/enable leakcanary at runtime, because the library freezes our app a lot and it is not usable. So we've created a small adapter so we can have a no-op watcher in debug builds. Something like this:
[code]
I think it would be nice to have such feature in the library itself.
What do you think? If you think it is a nice idea,

[2016-05-01 20:40] wentenglee opened #513 "Leak analysis failed with LeakCanary: 1.4-beta2"
LeakCanary Version: 1.4-beta2

[code]

[2016-05-02 09:13] jtbuaa opened #514 "no DisplayLeakActivity after integrate Leakcanary"
LeakCanary Version: 1.4-beta2
I tried Leakcanary with several projects. two projects works fine, but the other two projects fail. after I integrate Leakcanary, I can't find the DisplayLeakActivity icon in Launcher.
my AndroidManifest.xml is not merged, so I copy below lines manually to my AndroidManifest.xml.

        <service
            android:name="com.squareup.leakcanary.internal.HeapAnalyzer

[2016-05-02 14:14] jtbuaa commented on #514
got it. need add LeakCanary dependencies in the application module, not in library module.

[2016-05-02 14:14] #514 closed

[2016-05-04 10:32] Soulcyber commented on #265
Waiting for the release ;)

Thank you guys

[2016-05-04 23:25] jtbuaa opened #515 "NullPointerException: HeapAnalyzer.findLeakingReference invoking 'List ClassObj.getInstancesList()' on null reference"
In easy.reader.free:3.2.4:113.

[code]

[2016-05-05 07:35] wjyadlx commented on #515
Me too, I encountered this same error.
The version is 1.4-beta2.

[2016-05-05 22:35] CameronMichael commented on #500
I agree with this! we have a specific memory_trace flavor and we specifically use the Android Excluded Refs line. during the install.

[2016-05-06 17:17] amitshekhariitbhu commented on #322
Simple solution to solve this
[InputMethodManagerMe][1]

  [1]: https://medium.com/@amitshekhar/android-memory-leaks-inputmethodmanager-solved-a6f2fe1d1348#.uc13g3awk

[2016-05-06 17:19] amitshekhariitbhu commented on #256
Simple solution to solve this
[InputMethodManagerSolution][1]

  [1]: https://medium.com/@amitshekhar/android-memory-leaks-inputmethodmanager-solved-a6f2fe1d1348#.uc13g3awk

[2016-05-09 02:23] ScottPierce opened #517 "Leak Analysis Failed"
LeakCanary Version: 1.4-beta2

[code]

[2016-05-09 03:38] basti-shi031 opened #518 "What does it means when I exit my app?"
Welcome and thank you for reporting an issue!

LeakCanary Version: 1.4-beta2

[code]

[2016-05-09 06:58] afrishberg commented on #502
I see the same thing
[code]

Runnig LeakCanary Version: 1.4-beta2 on Xiaomi Redmi note3

[2016-05-11 06:06] promontory7 opened #522 "fails"
Welcome and thank you for reporting an issue!

If you don't know how to fix a memory leak in your app, please do not file an issue. Read here: https://github.com/square/leakcanary/#how-do-i-fix-a-memory-leak

Are you sure this issue isn't already reported? Try the search field in https://github.com/square/leakcanary/issues .

^^^^^ PLEASE DELETE EVERYTHING ABOVE, INCLUDING THIS LINE ^^^^^

LeakCan

[2016-05-11 06:07] #522 closed

[2016-05-11 14:36] fingertricks commented on #518
It means there wasn't an actual leak. The garbage collector (gc) didn't kick in fast enough so Leak Canary thought there was a leak.

[2016-05-11 16:45] blaksos commented on #502
I'm experiencing the same issue

leakcanary version: 1.4-beta2
device : samsung A5 (android 5.0.2)

[code]

[2016-05-12 06:00] basti-shi031 commented on #518
thanks for you answer.

[2016-05-12 06:42] #518 closed

[2016-05-12 09:28] MerveGencer opened #524 "Leak analysis failed"
LeakCanary Version:
1.3.1
[code]

[2016-05-13 07:13] kellysnow commented on #508
I got the same error
* FAILURE:
                                                           java.lang.OutOfMemoryError: Failed to allocate a 701800 byte allocation with 307478 free bytes and 300KB until OOM
                                                               at com.squareup.haha.trove.TLongObjectHashMap.rehash(TLongObjectHashMap.java:227)

[2016-05-13 08:59] jrodbx commented on #471
@luxiaoyu: i'm closing this issue.  please reopen if you can provide a heap dump (*.hprof) to reproduce the issue.

@mqstack: taking a look at the hprof you provided, I did not get a NPE.  Instead, I get this from the leak trace:
[code]

[2016-05-13 08:59] #471 closed

[2016-05-13 09:18] jrodbx commented on #482
@ajarl: thanks for the hprof.  running TestUtil.analyze over it reveals this:
[code]

[2016-05-13 14:49] es0329 opened #525 "Could not create leak directory. RuntimeException DefaultLeakDirectoryProvider.java:45"
#### Device
[code]

#### System
[code]

#### LeakCanary Version: (app/build.gradle)
[code]

#### Stacktrace
[code]

[2016-05-13 14:56] es0329 commented on #525
Meanwhile, I've manually enabled storage permission in app info via device settings; and will monitor.

[2016-05-14 17:10] danielgomezrico commented on #489
Same for me but for Android N.

[2016-05-14 17:34] leonardo2204 opened #526 "leak analysis failed"
LeakCanary Version: 1.4-beta2

[code]

[2016-05-16 02:01] yuanjunli commented on #453
i met the same question

[2016-05-16 12:52] unsign3d commented on #526
I have the same error from the emulator.
I can attach the screenshot
![screenshot_20160516-144627](https://cloud.githubusercontent.com/assets/336675/15289949/c1050386-1b75-11e6-9af5-676fcf60251d.png)

[2016-05-16 12:58] unsign3d commented on #505
I have the same problem,
following my stacktrace

05-16 12:55:55.141 13227-13447/xxxx.xxxxxx D/LeakCanary: In xxxx.xxxx:1.0:1.
                                                              * FAILURE:
                                                              java.lang.OutOfMemoryError: Failed to allocate a 1403592 byte allocation with 734690 free bytes and 717KB until OOM

[2016-05-16 13:02] unsign3d commented on #505
I think the problem appears when you have an overridePendingTransition

[2016-05-17 07:57] amatkivskiy commented on #502
So do I 😞

[code]

[2016-05-17 10:08] amatkivskiy commented on #515
Me too.
[code]

[2016-05-17 11:01] Pulimet commented on #524
Same exception.

[2016-05-19 13:08] kuno commented on #502
+1

[2016-05-20 02:03] AnyLifeZLB opened #528 "Leakanalysis failed"
In com.vanke.wyguide:3.0.7.1:58.
* FAILURE:
java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack available

* Reference Key: a058adb6-bb4a-4169-b978-164365485eb2
* Device: samsung samsung SM-A8000 a8ltezc
* Android Version: 5.1.1 API: 22 LeakCanary: 1.4-beta2 3799172
* Durations: watch=5063ms, gc=135ms, heap dump=3685ms, analysis=32345ms
* Excluded R

[2016-05-20 03:16] blast526 commented on #528
* FAILURE:
java.lang.OutOfMemoryError: Failed to allocate a 2807208 byte allocation with 2251570 free bytes and 2MB until OOM
at com.squareup.haha.trove.TLongHashSet.rehash(TLongHashSet.java:162)
at com.squareup.haha.trove.THash.postInsertHook(THash.java:283)
at com.squareup.haha.trove.TLongHashSet.add(TLongHashSet.java:146)
at com.squareup.haha.perflib.analysis.TopologicalSort$TopologicalSortVisi

[2016-05-20 07:18] nm2n commented on #524
Same issue:

[2016-05-20 11:44] Pulimet commented on #524
Update LeakCanary version to solve the issue:

[code]

[2016-05-21 02:08] tomrozb commented on #515
+1

[2016-05-22 12:58] pt321 commented on #60
IgorGanapolsky where did you place final LEAKCANARY_VERSION = '1.4-beta1' in the gradle file

[2016-05-22 22:59] IgorGanapolsky commented on #60
@pt321  it's a declaration variable in groovy.  You can place it anywhere in the cradle file.

[2016-05-23 10:00] josejavier opened #529 "NPE in HeapAnalyzer"
LeakCanary Version: 1.3

[code]

[2016-05-23 21:13] frindly commented on #185
I'm getting a similar leak, did anyone ever find a resolution?

[code]

[2016-05-24 12:32] WonderCsabo commented on #265
@jrodbx updated the `haha` dependency, so this is now fixed. It is available in the Sonatype Snapshot repo using `leakcanary` version `1.4-SNAPSHOT`. Thanks guys!

[2016-05-24 15:20] jrodbx commented on #265
oops, forgot to update this here.  Thanks for taking point, @WonderCsabo!

[2016-05-24 15:20] #265 closed

[2016-05-25 03:19] lining301 opened #530 "No leak found"
what did this mean ? "The GC was being lazy"

[2016-05-25 06:35] smallarmy opened #531 "build error"
Welcome and thank you for reporting an issue!

If you don't know how to fix a memory leak in your app, please do not file an issue. Read here: https://github.com/square/leakcanary/#how-do-i-fix-a-memory-leak

Are you sure this issue isn't already reported? Try the search field in https://github.com/square/leakcanary/issues .

^^^^^ PLEASE DELETE EVERYTHING ABOVE, INCLUDING THIS LINE ^^^^^

LeakCan

[2016-05-25 11:00] Feximin commented on #502
This issue occurs on Samsung GT-I9500

[2016-05-26 03:44] Kiarasht commented on #499
I just got this and I'm using 1.4-beta2. But it doesn't look like I can recreate it.

http://imgur.com/Gz0UCJZ

[2016-05-26 04:47] wilsonssss commented on #515
+1  from 1.4-beta2

[2016-05-26 06:57] swxca opened #532 "Leak analysis failed,NullpointException."
![image](https://cloud.githubusercontent.com/assets/11407831/15566208/22e88be8-2352-11e6-9e53-31ad13433d7e.png)

[2016-05-26 22:47] nairbspace commented on #531
From @WonderCsabo:

See issue: [Proguard fails on 1.4-SNAPSHOT #265](https://github.com/square/leakcanary/issues/265)
and
[How do I use the SNAPSHOT version?](https://github.com/square/leakcanary/wiki/FAQ#how-do-i-use-the-snapshot-version)

[2016-05-27 04:51] smallarmy commented on #531
Very Good！

[2016-05-28 15:35] martyglaubitz commented on #530
i also get this. i suspect all the issues seen lately are related to how the ART GC works. but that's just an assumption of course...

[2016-05-30 06:52] AlanCheen opened #533 "DisplayLeakActivity leaked"
LeakCanary Version: 1.4-beta2

![](http://ww1.sinaimg.cn/large/98900c07gw1f4dexual2lj20b70i0759.jpg)

[2016-05-31 15:25] kzaikin commented on #177
Given hack fixes the problem for us:

In Activity:

    @Override
    public void onCreate() {
        registerActivityLifecycleCallbacks(new ActivityManagerDetacher());
    }

Remove reference to activity from static field

    class ActivityManagerDetacher implements Application.ActivityLifecycleCallbacks {
        @Override
        public void onActivityDestroyed(Activity activity) {

[2016-06-01 07:10] letronje opened #534 "1.4.0-rc2 exists ?"
Currently on 1.4-beta2.

Android studio notifies that there is an updated version `1.4.0-rc2` but when i try to switch to it in build.gradle, it is unable to find it during gradle sync.

[2016-06-01 08:01] idmaoning opened #535 "No such file: suspected_leak_heapdump.hprof"
[code]

[2016-06-01 10:00] 1and1get2 commented on #374
still happens. android N (probably on marshmallow too, haven't test)

[2016-06-02 03:13] xiaolongyuan opened #536 "NO LEAK FOUND. Version: 1.4-beta2"
LeakCanary Version: 1.4-beta2

[code]

[2016-06-02 03:15] xiaolongyuan commented on #530
https://github.com/square/leakcanary/issues/536

[2016-06-02 11:27] knezmilos13 commented on #297
I am using 1.4-beta2, on 4.1.1 it says: "This can be fixed manually by calling setCursorEnabled(false) ..." while it should say setCursorVisible(false), right?

[2016-06-04 17:16] mauricegavin commented on #491
Using leakcanary-no-op is the same as essentially just disabling Leak Canary. It doesn't do anything.
https://github.com/square/leakcanary/wiki/FAQ#how-many-methods-does-leakcanary-add

[2016-06-06 07:22] MRusinov opened #537 "NullPointerException in DisplayLeakActivity"
Hello!
During monkey testing (so it'll be hard to reproduce it) I've got NullPointerException. Hope this would be helpful...

LeakCanary Version: 1.4-beta2

You can see full trace and other info here:
http://crashes.to/s/f672ea58817

[2016-06-06 07:23] tsuijten commented on #489
I have the same issue. Because of this LeakCanary doesn't seem to work. Did anyone fix this issue?

[2016-06-06 09:49] xiaolongyuan commented on #534
exist

[2016-06-06 16:08] rahulrj opened #538 "LeakCanaray stops working sometimes"
LeakCanary stops working intermittently. I was testing it with one of my apps by including the library in `build.gradle` and writing this line in `MainActivity`.

[code]
Its able to detect the leaks when i close `MainActivity`(by pressing back).It  works fine for say 5-10 times and then it stops detecting anything or even dumping the HPROF file. Nothing at all happens on closing the `MainActivity`

[2016-06-07 12:51] rahulrj opened #539 "OOM Error in LeakCanary while detecting leak"
[code]

[2016-06-09 00:31] gilbertl commented on #489
I've the same issue

LeakCanary version 1.4-beta2
Android API 23

I've gone into settings and enabled "storage" permissions manually. It doesn't help. I still sese

D/LeakCanary: Could not attempt cleanup, leak storage not writable.

[2016-06-09 05:52] sprateek007 commented on #489
Downgrade API version to 22, This worked for me. Once you find/resolve leak
issues, you can again upgrade it to API 23.

On Thu, Jun 9, 2016 at 6:02 AM, gilbertl <notifications@github.com> wrote:

--
Prateek

[2016-06-09 08:44] rahulrj opened #540 "Leak analysis failed"
[code]

[2016-06-13 07:20] longlifeyw5756 opened #541 "eapAnalyzer.java bug"
Welcome and thank you for reporting an issue!

If you don't know how to fix a memory leak in your app, please do not file an issue. Read here: https://github.com/square/leakcanary/#how-do-i-fix-a-memory-leak

Are you sure this issue isn't already reported? Try the search field in https://github.com/square/leakcanary/issues .

^^^^^ PLEASE DELETE EVERYTHING ABOVE, INCLUDING THIS LINE ^^^^^

LeakCan

[2016-06-13 07:23] longlifeyw5756 opened #542 "HeapAnalyzer.java bug"
E/AndroidRuntime: FATAL EXCEPTION: IntentService[HeapAnalyzerService]
                                                                             Process: cn.ucai.day12_05:leakcanary, PID: 10350
                                                                             java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null

[2016-06-13 08:26] vlad1m1r990 opened #543 "Heap dump on Android Wear takes forever"
LeakCanary Version: 1.3.1

[code]

Is it possible to use this library with Android Wear? Heap dump is going on for 10 minutes and it doesn't look like it's going to end.

[2016-06-13 10:19] jenzz commented on #512
Why don't you just use `RefWatcher.DISABLED`?

That is basically the no-op implementation you are looking for.

[2016-06-13 10:23] kurganec commented on #512
Didn't know about it.

[2016-06-13 10:23] #512 closed

[2016-06-13 15:10] jemshit commented on #491
Any solution, same here. My conf:
[code]

[2016-06-14 07:44] jjhesk commented on #533
I have got the same thing too.

[2016-06-14 12:35] longlifeyw5756 commented on #542
Android Studio2.1.2中测试LeakCanary出现以上的HeapAnalyzer.java第154行的空指针异常。
测试的案例就是github上下载demo

[2016-06-15 00:07] jjhesk commented on #322
this ia api 23.

In n18.a0.x5.debug.debug:0.4.3:1053.
* xxxxxxxxxxx has leaked:
* GC ROOT static android.view.inputmethod.InputMethodManager.sInstance
* references android.view.inputmethod.InputMethodManager.mLastSrvView
* references com.android.internal.policy.PhoneWindow$DecorView.mContext
* leaks xxzzzzzzzzzxxxxxxxxxx instance

* Retaining: 1.2 MB.
* Reference Key: a7b50c31-fdba-475f-b1dd-6da1e

[2016-06-15 11:01] Pedramrn commented on #539
[code]

[2016-06-15 11:20] Pedramrn commented on #446
**1.4-beta2**

[code]

[2016-06-15 18:46] mrudulav3 commented on #539
java.lang.OutOfMemoryError: Failed to allocate a 701800 byte allocation with 322780 free bytes and 315KB until OOM
at com.squareup.haha.trove.TLongObjectHashMap.rehash(TLongObjectHashMap.java:227)
at com.squareup.haha.trove.THash.postInsertHook(THash.java:283)
at com.squareup.haha.trove.TLongObjectHashMap.put(TLongObjectHashMap.java:209)
at com.squareup.haha.perflib.Heap.addInstance(Heap.java:119)

[2016-06-16 06:37] hetianpeng opened #544 "OOM"
Please report this failure to http://github.com/square/leakcanary

java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack available

[2016-06-16 06:44] huangjinhong opened #545 "Error log in Android 6.0.1"
Caused by: java.lang.UnsupportedOperationException: Could not create leak directory /storage/emulated/0/Download/leakcanary-xxxxxx

[2016-06-16 13:16] defio opened #546 "NullPointerException"
Hi guys,
your wonderful tool gives me this NullPointerException.
[code]

Hope this would be helpful...

LeakCanary Version: 1.4-beta2
Device: LGE google Nexus 5 hammerhead
Android Version: 5.1.1 API: 22

[2016-06-16 14:06] sleliyk commented on #545
I've got same exception on Nexus 5 / Android 6.0.1

[code]

[2016-06-17 03:10] yuxingfafu opened #547 "leakcanary throws Exception java.lang.NullPointerException"
In com.centerm.ctsm.site:V001.9.4:29.
* FAILURE:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equals(java.lang.Object)' on a null object reference
	at com.squareup.leakcanary.HeapAnalyzer.findLeakingReference(HeapAnalyzer.java:160)
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:95)
	at com.squareup.leakcanary.internal.HeapAnaly

[2016-06-17 17:32] npike opened #548 "Leak analysis failed"
LeakCanary Version:  1.4-beta2

[code]

[2016-06-20 22:26] sandy-8925 commented on #547
We face the same issue as well.

[2016-06-20 22:28] sandy-8925 commented on #547
The app doesn't crash though, looks like the exception is caught and handled in the background.

[2016-06-21 18:46] zachary-sweigart-hotschedules commented on #511
Any update on this?

[2016-06-22 02:34] bineanzhou opened #549 "webview leaked?"
[code]

[2016-06-22 03:45] lawloretienne commented on #29
I still don't understand what the fix for this is.  I am getting the error :
`DisplayLeakActivity} does not exist.`

[2016-06-22 11:57] yjfnypeu commented on #547
l have also appear this issue,seems like it's a compatibility with Android 6.0.

[2016-06-22 15:12] CDRussell commented on #491
I guess the "solution" is to either use the SNAPSHOT or wait for a future release that contains the fix. (Note, 1.4-beta2 does NOT appear to contain the fix)

On a related note, 1.4-beta2 is 3 months old. Are we likely to see a new release soon? (even if just another beta)

[2016-06-23 06:57] ChenSiLiang commented on #421
@stoyicker I run LeakCanary on real TV (Android 4.4.2 and Android 5.0).When detecting a leak,LeakCanary launcher appears.
Hope it help~

[2016-06-23 09:03] xiaolongyuan commented on #110
+1

[2016-06-24 22:33] jrejaud commented on #491
If you want to use the snapshot, you also need to specify the maven repo:
https://github.com/square/leakcanary/wiki/FAQ#how-do-i-use-the-snapshot-version

[code]

[2016-06-24 23:42] jrodbx commented on #491
As @CDRussell points out, 1.4-SNAPSHOT contains the fix for this issue.  we're looking to push another release soon.  In the meantime, you can also explicitly include the HAHA dependency, like so:

[code]

[2016-06-24 23:42] #491 closed

[2016-06-24 23:47] CDRussell commented on #491
Thanks @jrodbx, explicitly listing HAHA dependency seems like a good intermediate compromise.

[2016-06-25 00:30] sattishv opened #550 "How to build a Java LeakCanary without referencing andriod"
Hi team,

Basically our environment is on Java, when we try to build a gradle project  its looking for andriod home with sdk installed not able to find the build failed.Is it possible to build a gradle project without referencing andriod home and sdk libraries as we don't need them. Could you please clarify

Thanks
Sattish

[2016-06-26 02:34] jrodbx commented on #549
Looking here:
[code]
and here:
[code]
it appears that several instances of ContentViewCore are being leaked.  I also notice this:
[code]

Are you missing a call to [WebView.removeJavascriptInterface()](https://developer.android.com/reference/android/webkit/WebView.html#removeJavascriptInterface(java.lang.String))?  See comment in [ContentViewCore.java](https://android.googlesource.com/platform/ext

[2016-06-26 02:38] jrodbx commented on #548
does this problem occur on latest (1.4-SNAPSHOT)?

[2016-06-26 02:40] jrodbx commented on #547
You're using LeakCanary version 1.3.1. Latest is 1.4-beta2.  Please reopen if the problem appears on latest.

[2016-06-26 02:40] #547 closed

[2016-06-26 02:41] jrodbx commented on #546
that's interesting.  could you provide a link to the hprof file?

[2016-06-26 02:46] jrodbx commented on #545
This should be fixed [here](https://github.com/square/leakcanary/commit/131a8ae309b8f422d54685875ee0568da50ef2dc).  Looking to push a new release soon.  Does this occur with the latest version (1.4-SNAPSHOT)?

[2016-06-26 02:47] jrodbx commented on #544
Could you provide the full stack trace?

[2016-06-26 02:49] jrodbx commented on #544
Could you provide a link to the heap dump?

[2016-06-26 02:52] jrodbx commented on #542
Duplicate of #341. Please update to a later version.

[2016-06-26 02:52] #542 closed

[2016-06-26 02:53] #541 closed

[2016-06-26 02:54] jrodbx commented on #540
Could you provide a link to the heap dump?

[2016-06-26 02:56] jrodbx commented on #539
@rahulrj @Pedramrn @mrudulav3 Could you provide links to your respective heap dumps?

[2016-06-26 03:01] jrodbx commented on #538
Could you provide more details?  It'd help me understand the root cause better.  LeakCanary version?  Android SDK version?  Device model?

Also, have you attached a debugger to see what might be happening?

[2016-06-26 03:45] jrodbx commented on #534
No.  Currently, 1.4-beta2 is the latest version.

[2016-06-26 03:45] #534 closed

[2016-06-26 04:22] jrodbx commented on #533
Do you have the leak trace handy?

[2016-06-26 04:28] jrodbx commented on #532
Duplicate of https://github.com/square/leakcanary/issues/417, fixed in https://github.com/square/leakcanary/pull/475.  We'll push a release soon.  In the meantime, you could try pointing to 1.4-SNAPSHOT to figure out the cause of your leak.

[2016-06-26 04:28] #532 closed

[2016-06-26 04:30] jrodbx commented on #531
In the meantime, you can also explicitly include the HAHA dependency, like so:
[code]

[2016-06-26 04:30] #531 closed

[2016-06-26 04:31] jrodbx commented on #529
Duplicate of #341. Please update to a later version.

[2016-06-26 04:31] #529 closed

[2016-06-26 04:32] jrodbx commented on #524
Duplicate of #341. Please update to a later version as @Pulimet suggests.  We're looking to push a new release soon.

[2016-06-26 04:32] #524 closed

[2016-06-26 04:33] jrodbx commented on #530
Tracked under #536.

[2016-06-26 04:33] #530 closed

[2016-06-26 04:34] jrodbx commented on #517
Could you provide a link to your heap dump?

[2016-06-26 04:34] jrodbx commented on #513
@wentenglee Could you provide a link to your heap dump?

[2016-06-26 04:35] jrodbx commented on #510
@scdqs Could you provide a link to your heap dump?

[2016-06-26 04:36] jrodbx commented on #528
@AnyLifeZLB @blast526 Could you provide links to your heap dump?

[2016-06-26 04:42] jrodbx commented on #501
@GPack1 Could you upload your heap dump somewhere and provide a link?

[2016-06-26 04:47] jrodbx commented on #515
Similar to https://github.com/square/leakcanary/issues/546.

@jtbuaa @wjyadlx @amatkivskiy @tomrozb @wilsonssss could you upload your heap dumps somewhere and provide a link?

[2016-06-26 04:48] jrodbx commented on #526
@leonardo2204 Could you upload your heap dump somewhere and provide a link?

[2016-06-26 04:49] jrodbx commented on #525
This should be fixed in 131a8ae. Looking to push a new release soon. Does this occur with the latest version (1.4-SNAPSHOT)?

[2016-06-26 05:05] jrodbx commented on #511
@witchcraftstudios Can you provide more information?

[2016-06-27 07:37] defio commented on #546
sure: https://drive.google.com/open?id=0B-R9r4J5wDqnNkJuOWRtTVZBX2s

[2016-06-28 03:33] AlanCheen commented on #533
Sorry ,no leak trace now

[2016-06-28 07:48] jtbuaa commented on #515
@jrodbx  any standard method to get the heap dumps you mentioned?

[2016-06-28 20:32] efung commented on #62
This leak seems to still exist in 6.0.x (on my Sony Xperia Z3), as well as user reports on the Google bug ticket https://code.google.com/p/android/issues/detail?id=173789

Can the `SDK_INT` upper bound be increased in `AndroidExcludedRefs.java`?

[2016-06-29 23:23] d2callpod opened #553 "Leak Analysis Failed"
LeakCanary Version:

[code]

[2016-06-29 23:28] d2callpod commented on #553
[Heap Dump](https://drive.google.com/file/d/0B98OH1iQxYC6cG1OZ3NmVDFHZHM/view?usp=docslist_api)

[2016-06-30 02:15] hetianpeng commented on #544
Very sorry, So late reply to you，I am afraid I don't quite understand what you mean. What you said is this?

![dump 1](https://cloud.githubusercontent.com/assets/5644311/16474700/804fe01e-3eab-11e6-856c-9fce1da54286.png)

[2016-06-30 02:26] huijielv commented on #553
n com.huoli.driver:2.07:2015062401.
* FAILURE:
java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack available

* Reference Key: 1dd6823c-6139-43ff-8352-b6ccbad2c895
* Device: samsung samsung SM-A7000 a7ltezc
* Android Version: 5.0.2 API: 21 LeakCanary: 1.4-beta2 3799172
* Durations: watch=5030ms, gc=143ms, heap dump=4377ms, analysis=102567ms
* Exclud

[2016-06-30 02:28] huijielv opened #554 "Leak Analysis Failed"
n com.huoli.driver:2.07:2015062401.
- FAILURE:
  java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack available
- Reference Key: 1dd6823c-6139-43ff-8352-b6ccbad2c895
- Device: samsung samsung SM-A7000 a7ltezc
- Android Version: 5.0.2 API: 21 LeakCanary: 1.4-beta2 3799172
- Durations: watch=5030ms, gc=143ms, heap dump=4377ms, analysis=102567ms
- Exclu

[2016-06-30 02:41] huijielv commented on #553
+1

[2016-07-01 04:21] LandChanning commented on #499
I got this exception too, and I'm using 1.4-beta2.

In com.deepai.paipai:1.0.0:1.
* FAILURE:
java.lang.IllegalArgumentException: File does not exist: /storage/emulated/0/Download/leakcanary-com.deepai.paipai/suspected_leak_heapdump.hprof
at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:74)
at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIntent(HeapAnalyzerServ

[2016-07-02 08:19] jrodbx commented on #533
OK, if you are able to obtain the leak trace, then feel free to reopen.

[2016-07-02 08:19] #533 closed

[2016-07-02 09:09] jrodbx commented on #515
@jtbuaa `adb pull /sdcard/Download/leakcanary-{your package}/{timestamp}.hprof`

[2016-07-02 09:10] jrodbx commented on #554
@huijielv could you upload your heap dump somewhere and provide a link?

[2016-07-02 09:49] jrodbx commented on #544
No problem.  No, that's not what I meant.  Instead, I'm asking if you copy the hprof file off the device via `adb shell`, upload it somewhere and provide a link so I can take a look.  It'll be useful to analyze a handful of hprof files to tackle the OOM issue.

[2016-07-03 13:24] huzhenjie opened #555 "Report Leak analysis failed"
My dependencies in build.gradle

[code]

Sometimes, it case this problem.

[code]

[2016-07-04 02:02] hetianpeng commented on #544
@jrodbx Sorry, I have some difficulty reading English. But thank you very much for your help!  This is the hprof file [https://www.dropbox.com/s/g4rjo61lenvy06b/dump.hprof?dl=0](url) .   Galaxy Note3, Android 5.0

[2016-07-04 02:26] huijielv commented on #554
https://drive.google.com/a/huoli.com/file/d/0B9XXxg6yQjaDVjlLMXA3UlVSdlE/view

[2016-07-04 03:08] huijielv opened #556 "Leak Analysis Failed"
n com.huoli.driver:2.07:2015062401.

FAILURE:
java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack available

Reference Key: 1dd6823c-6139-43ff-8352-b6ccbad2c895

Device: samsung samsung SM-A7000 a7ltezc
Android Version: 5.0.2 API: 21 LeakCanary: 1.4-beta2 3799172
Durations: watch=5030ms, gc=143ms, heap dump=4377ms, analysis=102567ms
Excluded Refs: |

[2016-07-04 03:09] huijielv commented on #556
this  is  my link   https://drive.google.com/a/huoli.com/file/d/0B9XXxg6yQjaDVjlLMXA3UlVSdlE/view

[2016-07-05 07:13] Draffodx commented on #374
I can confirm this still occurs on Android 6.0.1 with 1 June 2016 security patch on my Nexus 5. Followed the latest instructions from the Github README and when I click on the LeakCanary app icon it crashes straight away. The application also doesn't show up in the Apps list where I would grant it the permissions so I cannot get around the issue manually.

[2016-07-05 08:14] Draffodx opened #557 "Could not create leak directory on Android 6.0.1"
LeakCanary Version: 1.4-beta2

This issue is reported as being fixed in #374 however I can confirm that it is still occurring with version 1.4-beta2 on my Nexus 5 running Android version 6.0.1.

In addition to this I cannot manually grant the LeakCanary application the permission it requires because the application does not show up on the Apps listing where I would normally grant permissions.

[co

[2016-07-05 10:15] codeteo opened #558 "DisplayLeakActivity has leaked"
LeakCanary Version: 1.4.2

Is this an issue with LeakCanary ? I found similar issues reported before but I opened a new issue since this involves Facebook sdk also.

[code]

[2016-07-05 16:20] sichevoi commented on #511
I am also seeing this issue now with 1.4-beta2 on Samsung Galaxy S4 Android 5.0.1.
Here are two crash dumps collected from that device: [first](http://pastebin.com/mnu6LGKh) and [second](http://pastebin.com/68hcXga1)
On this device I see the crash every time I run leakcanary. Here is the log before the crash:
[code]
Please let me know how I can collect more information for investigation.
I haven't

[2016-07-05 16:53] sichevoi commented on #511
I confirmed it works fine with the previous version I used - 1.3.1.

[2016-07-05 17:21] ragunathjawahar commented on #374
Can't resist putting down a +1 here for Nougat.

[2016-07-06 03:43] jeyhan opened #559 "haha lib occur OutOfMemoryError while parse HPROF file"
haha lib is the core while parse hprof memory mirroring file.
firstly, haha lib will load the file to ByteBuffer which is the first step of eating memory, instead of load and analyse in same time like mat.
secondly, haha lib is read all infomation into memory, for example, an object will become an Instance, and Instance maybe heavliy than orgin object...

[2016-07-06 05:13] jrodbx commented on #556
duplicate of #554

[2016-07-06 05:13] #556 closed

[2016-07-06 17:23] BryanJBryce commented on #374
+1

[2016-07-06 17:24] BryanJBryce commented on #525
My app doesn't show up in storage permission settings.

[2016-07-07 12:14] GoOnToDeth opened #560 "Leak analysis failed cause by OOM"
Look the image

![Uploading QQ截图20160707201150.png…]()

[2016-07-07 19:52] npike commented on #548
Seems to be resolved on 1.4-SNAPSHOT.

[2016-07-07 19:52] #548 closed

[2016-07-08 19:02] es0329 commented on #525
@jrodbx Only now am I able to revisit this however Gradle can't resolve the 1.4-SNAPSHOT when I try to sync. Double-checked correctness following [these instructions](https://github.com/square/leakcanary/wiki/FAQ#how-do-i-use-the-snapshot-version).

[2016-07-11 07:41] avenwu commented on #470
[code]
Similar exception on one of my Galaxy S5 device, it's seems the mkirs failed because of system issue, after reboot devices, my application runs well:

[2016-07-11 08:34] squeeish commented on #553
Here's mine:

* FAILURE:
                                 java.lang.OutOfMemoryError: Failed to allocate a 701800 byte allocation with 346006 free bytes and 337KB until OOM
                                     at com.squareup.haha.trove.TLongObjectHashMap.rehash(TLongObjectHashMap.java:227)
                                     at com.squareup.haha.trove.THash.postInsertHook(THash.java:283)

[2016-07-12 10:39] ouyangzn commented on #560
where is your image?我现在公司的项目貌似出现了比较多次这个

[2016-07-13 08:19] jeyhan commented on #560
那个读内存镜像的库有问题，没有使用流式IO，一次性全部读入内存

[2016-07-14 06:50] ant-github commented on #322
FAILURE:
java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw OutOfMemoryError; no stack available

* Reference Key: 3f876ccd-3f51-44f3-b397-400184455fd8
* Device: samsung samsung SAMSUNG-SM-G900A klteuc
* Android Version: 5.1.1 API: 22 LeakCanary: 1.4-beta2 3799172
* Durations: watch=5071ms, gc=253ms, heap dump=7815ms, analysis=23215ms
* Excluded Refs:
| Field: android.view.i

[2016-07-14 07:02] ant-github commented on #322
Not able to get if this is an issue or not . Log showing NO LEAK FOUND, but  still get the lealcanary warning" App will freeze for some time".

D/LeakCanary: In ********:1.14:4.
                                                              * NO LEAK FOUND.

                                                              * Reference Key: ebf12938-5a5f-425b-9ba6-fe137588b92a

[2016-07-14 10:08] ant-github commented on #502
In #########:1.14:4.
07-14 15:31:40.348 2499-4661/######### D/LeakCanary: * com.piiq.personas.Views.Overlay.OverlayActivity has leaked:
07-14 15:31:40.348 2499-4661/######### D/LeakCanary: * GC ROOT com.android.internal.util.AsyncChannel$DeathMonitor.this$0
07-14 15:31:40.348 2499-4661/######### D/LeakCanary: * references com.android.internal.util.AsyncChannel.mSrcContext
07-14 15:31:40.348 2499-4

[2016-07-15 08:17] doritoswb opened #561 "What does the "NO LEAK FOUND" log mean?"
The following is what my app outputted in the android monitor.
There are 3 questions for the following logs.
1. It says hprof file has been dumped in the "/mnt/internal_sd/Download/leakcanary-wg.roomis.media/suspected_leak_heapdump.hprof", but there is no such file in the directory "/mnt/internal_sd/Download/leakcanary-wg.roomis.media/".
2. why does leakCanary print the "*NO LEAK FOUND" log and th

[2016-07-15 12:04] aa5279aa opened #562 "java.lang.ArrayIndexOutOfBoundsException:length=26;index=26"
LeakCanary Version:
1.4_beta2

Hi,When i using the leak canary,it's have a crash.
the log here:
And i hopeyou can solve this crash.
best wish to you.

crash:
java.lang.ArrayIndexOutOfBoundsException: length=26; index=26
	at com.squareup.haha.perflib.ClassObj.getStaticFieldValues(ClassObj.java:156)
	at com.squareup.haha.perflib.ClassObj.accept(ClassObj.java:194)
	at com.squareup.haha.perflib.analys

[2016-07-15 15:32] kenyee commented on #560
I just tried to add LeakCanary to a project and get this OOM error too...screenshot attached...
<img width="485" alt="screen shot 2016-07-15 at 11 32 03 am" src="https://cloud.githubusercontent.com/assets/586670/16879719/d41303cc-4a7f-11e6-9a1c-dfd7528490df.png">

[2016-07-17 07:49] mzgreen opened #563 "Compiler warnings"
LeakCanary Version: 1.4-beta2

It's actually not a stacktrace, but compiler output. I'm using LeakCanary in project written in Kotlin, not sure if it's related though. It's a warning, project compiles and runs normally but leak analysis fails with OOM. I didn't have this issue when I was using `1.3.1`.

[code]

[2016-07-19 02:00] woitaylor opened #564 "Leak analysis failed"
Welcome and thank you for reporting an issue!

LeakCanary Version: 1.4.2beta
Android Version: 5.1

* FAILURE:
java.lang.IllegalArgumentException: File does not exist: /storage/emulated/0/Download/leakcanary-com.ailei.boliyigou/suspected_leak_heapdump.hprof
	at com.squareup.leakcanary.HeapAnalyzer.checkForLeak(HeapAnalyzer.java:74)
	at com.squareup.leakcanary.internal.HeapAnalyzerService.onHandleIn

[2016-07-19 21:04] skykelsey commented on #563
@mzgreen Add a dependency to haha-2.0.3 (haha-2.0.2 is a dependency and was producing these warnings).

`compile 'com.squareup.haha:haha:2.0.3'`

[2016-07-20 01:27] Mathematicalfunk commented on #500
@pyricau I would find this valuable too even though I already applied a similar workaround as in the wiki to my app. Let me know if this is wanted. If so I can bite off this chunk of work.

[2016-07-20 15:54] dan-castle-rock commented on #557
Not sure if this is related, I am not seeing the above crash, but am seeing the following log message:

LeakCanary: Could not write to leak storage to dump heap

Also running on Android 6.0 on a Moto X Pure Edition using 1.4-Beta2

[2016-07-21 08:50] VeHan opened #565 "problems in LeakCanary.isInAnalyzerProcess(Context context)"
I have a doubt that whether the situation the current process is the process running the link HeapAnalyzerService will happen. I dont't understand it.

[2016-07-22 00:23] kai2014 opened #566 "Leaks were not detected"
I wrote a small app to demo leakcanary, which includes obvious leaking of MainActivity. But after opening and closing the MainActivity a couple of time on my phone (Android 6.0.1), no leaks were detected by leakcanary.

This source code of ExampleApplication and MainActivity is as below:

public class ExampleApplication extends Application {

    public static RefWatcher getRefWatcher(Context cont

[2016-07-22 01:33] uccmawei opened #567 "OutOfMemoryError"
LeakCanary Version: 1.4-beta2

[code]

[2016-07-22 02:41] manjunathc23 commented on #374
+1

[2016-07-22 03:50] 850759383 opened #568 "Leak analysis failed OOM"
LeakCanary Version: 1.4-beta2

[code]

[2016-07-25 09:42] kuno opened #569 "What might cause this ?"
I have several activities facing same leak issue, which didn't referencing any member of the Activity instance, but just show the logs similar to below

[code]

And the size of memory that leaked were very big, up to  more than 10 MB.

Can anyone provide some insights what might cause this ?

[2016-07-25 10:04] justziyang commented on #560
我也遇到了相同的问题，请问您解决了吗？

[2016-07-25 10:49] tmexcept opened #570 "ArrayIndexOutOfBoundsException in ClassObj.getStaticFieldValues"
[code]

[2016-07-26 14:42] Mathematicalfunk commented on #500
The core issue with the workaround is when running tests around the different build variants, Robolectric cannot run the real implementation as it is a service. This forces me to have to do a second workaround for my test architecture.

[2016-07-27 05:34] ljian opened #572 "InputMethodManager.mLastSrvView memory leak in Android6.0 with huawei mobile phone"
com.xxx.activity.XXXActivity has leaked:
* GC ROOT static android.view.inputmethod.InputMethodManager.sInstance
* references android.view.inputmethod.InputMethodManager.mLastSrvView
* references com.xx.TextView.mContext
* leaks com.xxx.activity.XXXActivity instance

i just fond this with mCurRootView excludedRefs
        INPUT_METHOD_MANAGER__ROOT_VIEW = new AndroidExcludedRefs("INPUT_METHOD_MANAG

[2016-07-27 07:00] jeyhan commented on #560
I worte a same analyzer project by C++， run as native，can avoid OOM of Java

[2016-07-27 07:05] linzhongshu opened #573 "java.lang.OutOfMemoryError"
LeakCanary Version:  android:1.4-beta2

OutOfMemoryError thrown while trying to throw OutOfMemoryError;no stack available

[2016-07-27 12:53] Yky commented on #573
Please show the entire stack trace of your exception and give more information on how to reproduce this problem.

[2016-07-27 12:55] Yky commented on #572
Leaks for certain manufacturers are also added to AndroidExcludedRefs. You can file a pull request with your desired addition.

[2016-07-27 12:57] Yky commented on #550
You can check out the code and modify it to work without referencing the unwanted parts. I don't think there is any configuration to do what you are trying to do without changnig the code.

[2016-07-27 12:58] Yky commented on #559
Please show the stacktrace and/or provide steps on how to reproduce this problem.

[2016-07-27 13:12] Yky commented on #569
Looks similar to issue #429

[2016-07-27 14:52] mmBs commented on #374
I have the same issue (Nexus 5X, Android 6.0.1 with the newest security patch).

[2016-07-28 04:11] jeyhan commented on #559
the issue is pretty high fluency and common，the stack is clearly telling oom exception while parsing hprof file.

inner the core parser engine haha lib,describe an object by an object,easily produce an oom.

<div>-------- 原始邮件 --------</div><div>发件人： Yky <notifications@github.com> </div><div>日期:2016-07-27  20:58  (GMT+08:00) </div><div>收件人： square/leakcanary <leakcanary@noreply.github.com> </div><

[2016-07-28 22:11] sismotur opened #574 "NPE on ClassObj.getInstancesList()"
LeakCanary Version: 1.4

[code]

[2016-07-30 03:22] ximencx commented on #572
I  have  same question ， how  to  deal  with  ? thanks

[2016-08-01 01:51] barriosnahuel commented on #557
Hi! I'm facing this issue too, but after going to #374 I finally encountered #377 which will be released in 1.4.. for the moment you should be ok using the workaround [described in this comment on #285](https://github.com/square/leakcanary/issues/285#issuecomment-146820321) for Android < M

[2016-08-01 05:27] piersguo commented on #573
I also happened this issue, the log can be shown as below:
08-01 13:24:55.801 23413-23449/com.fineclouds.privatesystem D/LeakCanary: Could not dump heap, previous analysis still is in progress.
08-01 13:24:56.971 14568-18000/com.fineclouds.privatesystem:leakcanary I/art: Clamp target GC heap from 135MB to 128MB
08-01 13:24:56.971 14568-18000/com.fineclouds.privatesystem:leakcanary E/art: Throwing

[2016-08-02 07:49] coldneverdie opened #575 "FATAL EXCEPTION: LeakCanary-Heap-Dump"
nexus 5x android N:

Exception:
Process: com.caiyi.funds.debug, PID: 18791
                                                                       java.lang.RuntimeException: Couldn't dump heap; open("/storage/emulated/0/Download/leakcanary/suspected_leak_heapdump.hprof") failed: No such file or directory
                                                                           at dalvik.system.VM

[2016-08-03 08:59] liulinhuai opened #576 "java.lang.NullPointerException: java.lang.NullPointerException at com.squareup.leakcanary.HahaHelper.classInstanceValues(HahaHelper.java:143)"
[code]

[2016-08-03 13:23] tomkoptel opened #577 "Custom Gradle script broken due to "compileAfterEvaluateJavaWithJavac FAILED""
Hello!

LeakCanary conflicts with custom Gradle scripts during compile stage. The basic idea of the script to dynamically generate build config fields. It looks like I am hooking my code into wrong place. Can you advise what is the correct way to perform key generation inside `buildTypes` closure?

`app.gradle`
[code]
`common-methods.gradle`
[code]
`MainApp.java`
[code]

LeakCanary Version:  1.4-b

[2016-08-06 13:15] Alexander-- commented on #157
Interestingly, I just stumbled onto another article, which straight-up confirms the premise behind this issue — http://www.fasterj.com/articles/finalizer2.shtml. Relevant SO answer — https://stackoverflow.com/questions/17850978