[2019-09-11 13:36] BraisGabin commented on #1534
I was using the alha-3 at that point. I moved to that commit and updated to beta-3 and it show the shortest path without the weak references. So it seems that it's fixed now. I close this issue.

[2019-09-11 13:36] #1534 closed

[2019-09-11 13:54] BraisGabin opened #1582 "Invalid Hprof? Found unknown object id"
I'm getting these messages when LeakCanary analyze the heap dump.

[code]

It doesn't appear all the times, but it's kind of easy to reproduce it.

It seems that it's not a major problem because Leak Canary shows me all the leaks and it's paths but it's kind of strange to get that messages in a reproducible way, for this reason I'm reporting it.

I attach the hprof: [2019-09-11_15-17-22_658.hprof.

[2019-09-11 16:32] pyricau commented on #1326
The goal is to make it a supported feature via a distinct artifact made for release. However it'll require work and testing and iteration to get that right and we're just not there yet, so I'm putting a POC out there first.

[2019-09-11 16:41] pyricau commented on #1582
Thanks @BraisGabin !

Initially this was causing crashes and I added guards to ignore these missing objects. I'm more and more convinced that this is just how Android sometimes dumps the heap, though I'm not sure what's causing it. I'll probably remove these logs in the next release (keeping this open to remember to do it).

[2019-09-12 15:11] elihart opened #1584 "Beta3 crashes during analysis with leakcanary-android-process"
### Description
When run in a separate process, Leakcanary crashes during heap analysis with:

[code]

I can get it to work if I manually add the app watcher during application creation with
[code]

### Steps to Reproduce
Follow the documentation to run heap analysis in a separate process by replacing the normal `leakcanary-android` dependency with `leakcanary-android-process`.

1. Open Leaks acti

[2019-09-13 17:16] BraisGabin commented on #1582
I'm getting now two new messages:

[code]

And I'm getting this warnings in my Pixel 3XL (Android 10) and the emulator (Android 9). And I can reproduce that state nearly always.

I imagine that I can ignore those too, right?

[2019-09-13 20:51] pyricau commented on #1582
Yes

[2019-09-14 14:10] #1584 closed

[2019-09-14 14:10] #1582 closed

[2019-09-16 10:25] FinleyLC commented on #1154
https://www.jianshu.com/p/f2d6e6bc4b77

[2019-09-16 12:53] BraisGabin opened #1587 "[shark-cli] Find the shortest path of any given instance"
### Problem description
When I load a hprof in AS I see that I have 2 instances leaked. When I run `shark-cli` with the same hprof it doesn't find those leaks because shark-cli can't know if they are really leaked or not.

### Potential solutions
I know the memory position of these instances so it would be great to add something like this to shark-cli:

`./bin/shark-cli find-shortest-path file.hpr

[2019-09-16 13:08] lannyf77 commented on #1552
@pyricau we do run test on real devices and with espresso, also for several submodules they have tests without ui such as for database; data model; middle tier etc. We would like to be able to run some flavor of test without leakCanary running.

[2019-09-17 05:58] ZacSweers opened #1588 "Android 10 leaks Activity#mActivityTransitionState"
https://issuetracker.google.com/issues/141132765

TL;DR - Every shared element transition leaks the view that was used in the transition, which means at least that view is leaked after detach and likely also that the fragment (or whatever construct) it was created in is also leaked as a result of the shared Context.

### LeakTrace information

[code]

[2019-09-17 19:10] ZacSweers commented on #1588
Just tested on API 28, and it looks like the leak happens there as well. So not limited to just Android 10 :/

[2019-09-17 21:28] pyricau commented on #1587
Thanks for filing!

How did you establish that? If you've found that we should be able to make LeakCanary find that.

In general, what's your use case / what are you trying to do? These sort of things might be better suited for a UI than a CLI, if you had a UI would you prefer using the UI?

[2019-09-18 13:03] BraisGabin commented on #1587
Those leaks are outside the Android framework. I mean, they are not Activities, Views or Fragments. They are repositories and similar objects. I think that Shark can't detect them automatically.

I'm adding now the watchers in the proper points to allow `LeakCanary` to find them directly from the UI. When possible, this is the best way.

But there are some times that you end up with the hprof and

[2019-09-18 20:30] pyricau commented on #1587
Would love to get a concrete example. Is it because you've moved on to another screen? Is there a specific field (similar to Activity.mDestroyed) that you looked at?

[2019-09-19 07:38] BraisGabin commented on #1587
The repository is a "singleton" by user. If the user logout and then login again there should be a new instance of that repository. The previous one should be garbage collected.

When I checked the hprof I saw 3 intaces of that repository so I know that two of them are leaked.

[2019-09-19 13:20] pyricau commented on #1587
Great! Did you have a way to determine which two were leaking?

[2019-09-19 18:04] BraisGabin commented on #1587
Sure, the one with a reference from my UserComponent.

[2019-09-19 21:56] sahil2441 opened #1592 "Caused by: java.lang.IllegalArgumentException: Hprof file is 0 byte length"
### Description

We are seeing instrumentation tests failing due to the following stack trace:
[code]
Leakcanary is enabled on Instrumentation tests with the appraoch suggested in:
https://github.com/square/leakcanary/blob/133a8f1febf4156ab139c9b4a436f669e501b077/docs/api/leakcanary-android-instrumentation/leakcanary/-instrumentation-leak-detector/-init-.md#add-an-instrumentation-test-listener

Th

[2019-09-20 12:07] personshelldon opened #1593 "LeakCanary 2 is not visible on Android TV devices"
### Problem description
LeakCanary 2 is not visible as app (icon) on Android TV devices
### Potential solutions
add `intent-filter` to the LeakCanary main `activity` with categoty `android.intent.category.LEANBACK_LAUNCHER` to the `manifest`
### Additional information

[2019-09-20 16:12] Armaxis commented on #1593
Thanks for raising this issue! As someone who worked a lot with Android TVs in past 3 years I know how important it is to capture the memory leaks, so I'm definitely going to help making LeakCanary 2 work on TVs.

Solution you've mentioned is correct, definitely going to do that, althoug might not be enough to achieve full support on TVs

Here's list of things that should be done, based on initial

[2019-09-20 17:40] pyricau commented on #1592
Interesting! We could introduce a sleep, though I wonder how long would be needed. Can you tell by looking at the timestamp of when the heap dump file was last modified (vs timestamp of when dumping heap) ?

[2019-09-20 19:29] sahil2441 commented on #1592
Looks like it's not logged in logs anywhere. Our devices are remote so it's difficult to grab file info.
I'll try to reproduce it locally.

[2019-09-21 02:12] avinabaray commented on #1069
`debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.0-beta-3'`

I'm using the above version, but as it detects the leak, the following things occur:
1. A notification comes:

2. I tap on that notification
3. "Leak Canary is Dumping the heap" Toast appears.
4. Notification "Dumping Heap" remains forever and tapping it doesn't do anything.

[2019-09-21 07:33] msfjarvis opened #1594 "LeakActivity leaks on Android 10"
### Description

LeakActivity leaks on Android 10 due to known `IRequestFinishCallback` issue.

[code]

### Steps to Reproduce

1. Build app with LeakCanary dependencies, open 'Leaks' app and use back button to exit

**Expected behavior:** Activity does not leak

### Version Information

* LeakCanary version: 2.0-beta-3
* Android OS version: 10
* Gradle version: 5.6.2

### Additional Information

[2019-09-22 17:48] Armaxis commented on #1593
TIL: there's a bug in new TV launcher UI that prevents having two launcher icons for the same app. It works on API 25, but was broken after Google revamped the UI to support 'Channels' on main screen.
Might have to add a comment in docs that LeakCanary needs to be launched via `adb command` if launcher icon doesn't show up.
Also, going to test it on FireTV stick 4K to see if Amazon have a similar

[2019-09-22 23:33] orionlee opened #1595 "Better explanation on "App visible, waiting until <n> retained objects" in notification"
**Version:** 2.0.0-beta3

**Suggestions:**
During running LeakCanary against an app, I occasionally see the following notification.
  1 retained objects, tap to dump heap
  App visible, waiting until <n> retained objects

When I exit the app, a new notification suggesting the retained object is garbage collected.

From what I gather, it seems to mean LeakCanary find objects that might or might not

[2019-09-22 23:37] orionlee commented on #1566
@pyricau  for the use case of ignoring leaks in 3rd-party libraries, I find the 2.0 improved UI helps without additional configuration at all.

Specifically, the new UI groups leaks into new and known ones. So 3rd-party libraries leaks can be seen in the known ones, once a developer sees it once.

[2019-09-25 15:01] adnanafzal565 commented on #1073
Please tell the complete line and file name where you have made changes ?
Thank you.

[2019-09-25 15:01] adnanafzal565 commented on #1073
Please tell the complete line and file name where you have made changes ?
Thank you.

[2019-09-25 15:07] adnanafzal565 commented on #1073
In my case I had one library in _app > build.gradle_ which has "androidx" at the beginning. Search for "androidx" in _app > build.gradle_ and remove or change that dependency.

It worked for me. Hope it will help someone else fixing the issue.

[2019-09-26 08:01] CaiJingFu opened #1597 "Unable to get provider leakcanary.internal.LeakCanaryFileProvider"
Error message：

[code]

Dependency：
[code]

不集成的时候，都是可以运行的，一集成之后就跑不了。项目是使用了AndroidX的，语言是java

Edit with translation from Google translate:

[2019-09-30 01:26] IgorGanapolsky commented on #967
Does LeakCanary work on WearOS?  I'd like to integrate it into my wearable app.

[2019-10-01 18:18] GuilhE opened #1599 "[Help] Groovy to Kotlin DSL"
Can you help me translate this piece of code:

Groovy:
[code]
I've changed to:
[code]

But it says I must return `Boolean` instead of `Unit`. I've seen some couple of samples but I don't see what it's missing.

Tanks for your time.

[2019-10-02 10:24] GuilhE commented on #1599
Ok I found it! Just delete `config ->` and the following `config.` and it works.

[2019-10-02 10:24] #1599 closed

[2019-10-03 15:40] MetalDent commented on #1595
Hi, is anyone working on this issue?

[2019-10-03 15:49] Armaxis commented on #1595
Watching and retaining is mostly covered in the Fundamentals:
https ://square.github.io/leakcanary/fundamentals/

However, we can probably add a section about notifications.

[2019-10-04 07:54] H4xX0r1337 commented on #1594
Happens to me too.

[2019-10-04 17:08] Armaxis commented on #1597
Hello!
It looks like the `LeakCanaryFileProvider` is not present in the final apk, while being present in the `AndroidManifest.xml` as a content provider (this is done my leakcanary, it's correct).

With the `LeakCanaryFileProvider` being a part of `-core` package it's quite surprising it didn't made its way to the apk. Are you using code shrinker on the debug builds?

Also, can you please share t

[2019-10-05 12:12] Guneetgstar commented on #650
I've been messing with this leak this whole week and finally, I have enough evidence to say that ```EditText```(or any sub-class) does not get destroyed every time it gets focused and retains the ```mContext``` until the focus gets shifted to another ```EditText```. Please note that ```mContext``` is destroyed as soon as the focus gets shifted to another ```EditText``` and again a new ```mContext`

[2019-10-05 16:47] Guneetgstar commented on #650
@jrodbx Please re-open the issue

[2019-10-05 17:03] jrodbx commented on #650
@guneetgstar can you provide a small reproducible sample?

[2019-10-06 05:58] Guneetgstar commented on #650
Simple just use an ```EditText``` anywhere inside activity and make sure it's focused and after ```Activity.onDestroy()``` you will get the leak.
I have set up a sample project that reproduces the issue [here](https://github.com/Guneetgstar/LeakEditText.git).

[2019-10-06 06:51] Guneetgstar commented on #650
I just saw the LeakCanary debug logs and I found that this bug has already been identified and traced [here](https://code.google.com/p/android/issues/detail?id=171190) but I am seeing this bug on API 23 LG Nexus 5 which as per the tracker is fixed.

[2019-10-08 06:37] CaiJingFu commented on #1597
This is my dependence
`debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.0-beta-3'`

[2019-10-08 11:23] MetalDent commented on #1595
@Armaxis where do you think the section on notifications should go?

[2019-10-08 16:35] Armaxis commented on #1595
I think ['Code Recipes'](https://github.com/square/leakcanary/blob/master/docs/recipes.md) is a good starting place, we can always move it later.

[2019-10-08 16:37] Armaxis commented on #1597
Dependency looks correct.
Does the issue remain if you try using **2.0-beta-2** version of the lib?

[2019-10-08 16:43] MetalDent commented on #1595
And can you tell me the rough explanation to be written? (I just need it for reference)

[2019-10-08 16:47] Armaxis commented on #1595
Just something explaining different types of notifications user can see during work: about retained instances, heap dump notification, leak analysis and results availability.

[2019-10-10 10:34] CaiJingFu commented on #1597
yes,I still have problems with this version 2.0-beta-2. I guess if I used Alibaba's hotfix.I have 2 Applications.This is my wrong log.SophixStubApplication is the application of hotfix.There is also a my own application.
`java.lang.RuntimeException: Unable to create application com.xincaidong.truemerger.base.SophixStubApplication: java.lang.RuntimeException: abandon initialization: installProvider

[2019-10-12 09:10] Guneetgstar commented on #185
@pyricau as @stephanenicolas said its an SDK leak please include it in ```AndroidExcludedRefs.java```.
Please re-open the issue.

[2019-10-13 05:27] Armaxis commented on #967
@IgorGanapolsky I don't think it's been tested on WearOS. It might work fine though 😊
But it doesn't mean that we can't make it explicitly compatible with WearOS! Personally, I haven't worked with watches, so I have no idea what's the ecosystem there and if it will work fine with LeakCanary 2.0. If that's something you want to help with, I will be happy to help!

Are there activities/fragments or

[2019-10-16 05:59] nariyoon opened #1605 "BuildError(HeapAnalysisFailureScreen$createView$1$1$1 NPE)"
### Description

[Description of the issue]
Build Error
Exception in thread "main" java.lang.NullPointerException: Couldn't find outer class leakcanary/internal/activity/screen/HeapAnalysisFailureScreen$createView$1$1 of leakcanary/internal/activity/screen/HeapAnalysisFailureScreen$createView$1$1$1
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:1079)
	at com.google.devtoo

[2019-10-17 01:52] nariyoon commented on #1605
I guess it was fixed gradle plugin v3.2.0.

After update plugin version to v3.2.0 from 3.1.0 it works normaly.

thanks.

[2019-10-17 01:52] #1605 closed

[2019-10-17 02:00] Armaxis commented on #1605
Oh, cool, glad to hear it's resolved!

[2019-10-21 08:57] forJrking commented on #1597
me too

[2019-10-22 02:38] meablelee2013 commented on #1597
I meet the same issue.
do not debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.0-beta-3' the application is ok,but do it,even if a add -keep class leakcanary.internal.LeakCanaryFileProvider
 to multidex-config.pro,it still show the this error.

[2019-10-22 07:32] youuupeng opened #1606 "kotlin.KotlinNullPointerException"
### Description

Threre is a NPE when using shark to analyze hprof

### Steps to Reproduce
[2019-10-21_16-51-51_598.zip](https://github.com/square/leakcanary/files/3754208/2019-10-21_16-51-51_598.zip)
1. copy hprof file from "InternalStorage/Download/leakcanary-<packagename>" to my computer
2. open git bash in shark directory like this:
![image](https://user-images.githubusercontent.com/8243280/67

[2019-10-22 15:20] Armaxis commented on #1606
Thank you for the detailed report!

It looks like it cannot find `android.os.Build` in the heap dump, which is very odd, as this class should always be present. Is this heap dump coming from an Android app? Can you please tell what device / Android OS version are you running?

[2019-10-23 01:06] youuupeng commented on #1606
@Armaxis

device:MI PLAY
android os version:8.1.0
MIUI version:10.3.4

As you say,it seems like NPE happens in here :
`val buildClass = graph.findClassByName("android.os.Build")!!`

Strange things is,only two hprof file have NPE,the other files can be analyzed normally.
![image](https://user-images.githubusercontent.com/8243280/67347291-35d9fa00-f574-11e9-8b20-6a9582ba73e0.png)
NPE hprof file:2019

[2019-10-23 01:13] Armaxis commented on #1606
What about the hprof file with name ending in *57_979.hprof*? I suspect this one would fail too..
One thing that is definitely suspicious here is the size of the *hprof* file that crashes - only *220KB*. This is very small for an Android app heap dump - it means that the whole memory footprint of the app was only 220kb, which is pretty much impossible.
Seeing that you also have other memory dumps

[2019-10-23 01:18] youuupeng commented on #1606
it's from LeakCanary,fold directory is "InternalStorage/Download/leakcanary-<packagename>"

[2019-10-23 01:31] Armaxis commented on #1606
Thanks! We will take a look if there's something wrong with the heap dumper

[2019-10-24 15:13] GWYloved commented on #1597
me too,i also use

[code]
in proguard and multidex-config

still not work

and in output.apk i can find the provider registered in AndroidManifest.xml.

and no problem happened to other provider

[2019-10-25 04:52] shelpy opened #1607 "FATAL EXCEPTION: IntentService[HeapAnalyzerService]"
### Description

My App runs well before 'debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.0-beta-3', but it crash after that.
The application using kotlin and androidx, enable multiple-dex.

[code]

[2019-10-25 05:01] Armaxis commented on #1607
Thanks for reporting this issue, we will take a look.
Can you please try running it with a previous version like this: `debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.0-beta-2'`

Also, what device / OS version are you running?

[2019-10-25 05:20] shelpy commented on #1607
Android 6.0.1, beta-2 still crash, now it works by using 1.6.3  ..

[2019-10-28 09:37] pyricau commented on #1069
@avinabaray can you file a new issue and provide a sample project to reproduce?

[2019-10-28 09:41] pyricau commented on #1594
We should definitely add it to https://github.com/square/leakcanary/blob/master/shark-android/src/main/java/shark/AndroidReferenceMatchers.kt

[2019-10-28 09:48] pyricau commented on #650
@Guneetgstar The leaktrace you provided is very different from the leaktrace the original author had provided, this is a different issue. It's also likely a different issue from the link you provided to the google tracker (input method manager has many leaks)

Can you open a new issue with the info you provided so that we can close that one back? The next step will likely be to add a reference mat

[2019-10-28 09:52] pyricau commented on #1595
Agreed, we need to better document this.

Also not sure if there's a way to make the notifications more clear.

[2019-10-28 09:52] pyricau commented on #1595
Agreed, we need to better document this.

Also not sure if there's a way to make the notifications more clear.

[2019-10-28 14:31] Guneetgstar commented on #650
Sure the leak traces are different and before opening a new issue I want to show you the leak traces I just added in [README.md](https://github.com/Guneetgstar/LeakEditText) of the sample project that reproduces the issue, it's again a different trace but it refers to the issue whose link I added in my last comment. So if it's about the different leak traces than I must open two new issues now but

[2019-10-28 17:13] msfjarvis commented on #1594
Opened #1608 adding the leak

[2019-10-29 04:01] afinal commented on #1597
I have this problem too

[2019-10-29 04:32] pyricau commented on #185
This was two years ago. @Guneetgstar are you still seeing this leak? If yes can you provide a leaktrace from LeakCanary 2.0, as well as the Android X or support library version ? If not we'll have to close this.

[2019-10-29 04:37] pyricau commented on #967
👍the core principles should be reusable on WearOS but some parts would need to be adapted. Definitely a great place to have LeakCanary as memory is more constrained. However we need someone to champion this and lead the way. If you (or anyone else) is interested and wants to help we should open a new issue.

[2019-10-29 04:57] #1594 closed

[2019-10-29 05:01] pyricau commented on #1606
Fascinating! @Armaxis maybe next steps here might be opening the hprof with both Android Studio profiler and also YourKit, see if it works for those. Could also look at the file content in terms of bytes, see if it's a valid hprof (looks like it is though)

[2019-10-29 05:04] Armaxis commented on #1606
Good idea, I'll give it a look and post back once I find anything.

[2019-10-29 06:45] Guneetgstar commented on #185
@pyricau Here is the leak trace from Nexus 5 API v6.0.1, using Android X 1.1.0 and LeakCanary 2.0-beta-3 :-
[code]

[2019-10-29 07:25] pyricau commented on #1607
@shelpy when does it crash exactly? Does it crash on app started, or later? Do you see a leak notification / the leakcanary toast? Can you reproduce in a sample project?

Based on the stacktrace : https://github.com/square/leakcanary/blob/master/leakcanary-android-core/src/main/java/leakcanary/internal/HeapAnalyzerService.kt#L48

The intent is non null, but it doesn't have the extra that has the p

[2019-10-29 07:28] pyricau commented on #650
Ha! Thanks for that, I had missed the readme.

See this?

[code]

It means the two leaks that were found were correctly identified by leakcanary as "library leaks", ie known android leaks. I'm not sure what else we should do here?

[2019-10-29 07:29] pyricau commented on #650
(note: we should probably make it clearer in the leaktrace what app vs lib leaks are)

[2019-10-29 07:42] pyricau commented on #1597
Please refrain from adding "me too" comments that don't provide any insights, and use 👍 reactions instead.

Questions for those having the issue:

- do you use proguard? Anyone having this issue and not using proguard?
- can you provide a sample project that reproduces the issue?
- can you provide an APK that reproduces the issue?
- Is the LeakCanaryFileProvider class included into the dex files o

[2019-10-29 12:28] Guneetgstar commented on #650
I can see clearly that this leak is identified by LeakCanary and although, with that huge description and links in it this should be clear to everyone.
But am I supposed to see this library leak? Do LeakCanary report all the library leaks?
I guess I shouldn't be seeing them as being an application developer I can't do anything about it.

[2019-10-29 12:42] Guneetgstar commented on #650
@pyricau I What I wanted to convey with [README.md](https://github.com/Guneetgstar/LeakEditText) is that both the leak trace in [README.md](https://github.com/Guneetgstar/LeakEditText) and the leak trace I posted here is due to the same library leaks because I am trying to do the same thing in both the applications but the traces are different. Isn't that possible?

[2019-10-29 12:46] IgorGanapolsky commented on #967
@pyricau I can look into it on your new issue.  I am actively building a WearOS app, and would love to integrate Leak Canary into it.

[2019-10-29 16:54] Armaxis commented on #1606
Both Android Studio and YourKit refused to open the file claiming that it's not a heap dump.

So I went ahead and opened it with Sublime with UTF-8 encoding. Beginning of file shows that it is indeed a heap dump
![image](https://user-images.githubusercontent.com/2152942/67789803-d2e3d980-fa31-11e9-80f0-da7d6fd5ca0a.png)

But the file ends pretty abruptly.

![image](https://user-images.githubuserco

[2019-10-29 22:41] pyricau commented on #650
Yes it's likely these are two different leaks, they're just both triggered by the same actions.

As for reporting library leaks, LeakCanary has no way to know until the analysis is performed. If we stopped reporting them then devs would be confused, asking what happened with the leak. Also, library leaks can indeed by fixed, though it's harder. For instance by using reflection or finding other way

[2019-10-29 22:43] pyricau commented on #1606
Thanks! What's also interesting is that shark doesnt fail the initial parsing. I wonder if there's content that valid hprofs have that we could look for, so that we can report this invalid without proceeding further.

[2019-10-29 22:43] pyricau commented on #967
Cool. Feel free to open one

[2019-10-30 05:27] Guneetgstar opened #1610 "Another leak in EditText"
As discussed in [here](https://github.com/square/leakcanary/issues/650#issuecomment-547661243), this is another leak of `EditText`(or any other subclass of it) that does not get destroyed every time it gets focused and retains the `mContext` until the focus gets shifted to another `EditText`. Please note that `mContext` is destroyed as soon as the focus gets shifted to another `EditText` and again

[2019-10-30 05:31] Guneetgstar commented on #650
Thanks @pyricau I have created a new issue for this [here](https://github.com/square/leakcanary/issues/1610#issue-514409412). You may close it back now.

[2019-10-31 07:46] #650 closed

[2019-11-01 05:16] adsonafonso commented on #297
I'm using a Pixel 2, Android 10 and I ran into this

├─ android.net.ConnectivityThread
    │    Leaking: UNKNOWN
    │    Thread name: 'ConnectivityThread'
    │    GC Root: Java local variable
    │    ↓ thread ConnectivityThread.<Java Local>
    │                                ~~~~~~~~~~~~
    ├─ android.os.Message
    │    Leaking: UNKNOWN
    │    ↓ Message.obj
    │              ~~~
    ╰→ c

[2019-11-06 02:29] XiFanYin commented on #1597
me to

[2019-11-07 09:33] XiFanYin commented on #1597
我也发生了这个错误：
原因是我也依赖了[aspectjx](https://github.com/HujiangTechnology/gradle_plugin_android_aspectjx)AOP，但是没有排除某些库。
解决办法：
在app.build中添加如下代码
aspectjx {
    exclude 'com.squareup.leakcanary'
}
dependencies {
//其他依赖
}

 Clean Project ->  Rebuild Project

真香~

希望能帮助你们

[2019-11-07 11:03] CaiJingFu commented on #1597
楼上解决了我的问题，十分感谢

[2019-11-07 13:22] CaiJingFu commented on #1597
解决了我的问题，十分感谢

[2019-11-07 13:33] eneim commented on #1081
@pyricau I think I found a pattern to reproduce the related issues: Open a DialogFragment from a Fragment, then press 'Current App' button (the Square button on NavigationBar), then press it again to bring everything to normal, then press 'Back' button until the App is closed.

I can always reproduce this on my LG G7 running Android 9, but not always for AVD with Android 9 or 10. Details below:

<

[2019-11-08 10:03] SmasSive opened #1612 "Unable to get provider leakcanary.internal.AppWatcherInstaller"
### Description

Hi!

**Scenario:**
I'm building an instant app through app bundle. At the time of launching the instant app I get a runtime exception.
There is a way to disable leak canary when is instant app?

**StackTrace:**
[code]

### Steps to Reproduce

From an instant enabled dynamic feature:

1. Add leak canary dependency to gradle
2. Run instant app feature

**Expected behavior:**
Instant

[2019-11-08 17:37] Armaxis commented on #1612
I made a PR with fix, but I don't have Instant Apps environment set up at the moment, so can't verify it 😄
Also, there's no guarantee something else won't start breaking now. We really need to test Instant App case.
@SmasSive if you have a chance and can check out my branch to verify the fix, that would help a lot! 🙌

[2019-11-08 22:09] #1612 closed

[2019-11-08 22:10] pyricau commented on #1612
@SmasSive Can you test with the latest Snapshot version? https://square.github.io/leakcanary/faq/#how-do-i-use-the-snapshot-version

[2019-11-09 14:00] pyricau commented on #1597
Note: I will delete "me too" comments as well as comments that aren't in English.

[2019-11-09 15:12] SmasSive commented on #1612
Hi! Thank you all for that quick response!
I had the chance to test the latest snapshot and I can confirm it's working! 🎉

[2019-11-09 16:38] Armaxis commented on #1612
@SmasSive thanks for verifying it!
If you notice any other issues with Instant Apps - please let us know.
By the way, does leak Canary create a launcher icon for its activity when used from instant app?

[2019-11-09 18:36] SmasSive commented on #1612
@Armaxis no, the leak canary's launcher icon is not created.
Do not hesitate to ask me about leak canary features in instant apps, I'll be glad to help!

[2019-11-11 07:11] zhuruyi2013 commented on #1597
i meet this problem too.
And I decompile the apk to see leakcanary core code，but only has a R.java.
my project define flavor，and i compile use “devDebug” build variant.

this is my import code :
`debugCompile compileDependencies.leakCanaryDebug `。
my gradle version is too below， 3.3.

i think reason of this problem may be Depend on the isolation.
api or implemention？

[2019-11-11 07:49] Armaxis commented on #1597
@zhuruyi2013 try using `debugImplementation` instead of `debugCompile`. Let us know if that helps.

[2019-11-11 21:08] pyricau commented on #1333
"Library Leaks" isn't clear, we need to explain the different straight in the report.

We might also want to show with text which fields we believe are the problem? or something that points people to the references and de emphasize the leaking object.

[2019-11-11 21:09] pyricau opened #1614 "Improve "brrr app will freeze""
### Problem description

The current message isn't obvious to people who don't use LeakCanary.

[2019-11-13 18:33] pyricau commented on #1597
I don't see how`debugCompile` or `debugImplementation` can make a difference, looks like a class is missing. We need a sample project to investigate this further, and if none can be provided then I'll close this issue.

[2019-11-13 18:37] #1592 closed

[2019-11-13 18:39] pyricau commented on #1558
We've made a few performance improvements, but overall we haven't been able to reproduce the issue here so I'm going to close it. Happy to reopen and look into this if we have a way to repro.

[2019-11-13 18:39] #1558 closed

[2019-11-13 19:06] #1607 closed

[2019-11-13 19:20] pyricau commented on #1356
We don't necessarily need to flatten for the grouping, we can sometimes replace one line with another.

[2019-11-13 19:23] #1614 closed

[2019-11-13 19:45] pyricau commented on #1552
Suggestion from @vRallev (based on our codebase) : we could look for `"org.junit.Test"` and disable leakcanary when found.

[2019-11-13 20:31] tasomaniac commented on #1552
As a user you can do this and it is fairly easy (plus it's useful for many things)

[code]

[2019-11-14 00:19] pyricau commented on #1552
Thanks  🙏 . That's useful for people finding this issue. That being  said, I want to automate this if possible so that LeakCanary keeps a minimal config and no one has to run into this.

[2019-11-14 02:29] pyricau commented on #1528
I've been searching for the version name string and it's not available out of the box in memory (unless the app package). Therefore I don't think there's much value in providing it by requesting it from the package manager for all users, but instance we'll provide a  map API so  that anyone can add anything.

[2019-11-14 04:31] #1519 closed

[2019-11-14 04:32] pyricau commented on #1528
The next release will enable you to add this, and the docs have a recipe for adding app version details.

[2019-11-14 04:32] #1528 closed

[2019-11-14 20:33] #1333 closed

[2019-11-14 23:33] pyricau commented on #1297
Not sure if something changed but this trick doesn't seem to work, I have an app where 0x07070000 doesn't map to any id (cc @romainguy )

[2019-11-14 23:36] pyricau commented on #1297
It looks like numbers in apps aren't sequential anymore.

[2019-11-14 23:41] #1552 closed

[2019-11-15 17:13] #1595 closed

[2019-11-18 02:20] tianshaokai opened #1623 "crash"
2019-11-18 10:19:20.047 2147-4873/? W/ContentService: Observer android.database.IContentObserver$Stub$Proxy@8002e8a is already registered.
2019-11-18 10:19:20.057 15306-15306/com.example.leakcanary D/StrictMode: StrictMode policy violation; ~duration=138 ms: android.os.StrictMode$StrictModeDiskReadViolation: policy=327743 violation=2
        at android.os.StrictMode$AndroidBlockGuardPolicy.onReadF

[2019-11-18 05:59] pyricau commented on #1623
The cause is fairly clear:

[code]

Looks like the android fwk is loading a native lib from disk on view inflation. That's super strange, maybe a bad android rom, but anyway not related to LeakCanary.

[2019-11-18 05:59] #1623 closed

[2019-11-18 10:28] shumidub commented on #1597
I have simmilar error

`
Fatal Exception: java.lang.RuntimeException: Unable to get provider leakcanary.internal.AppWatcherInstaller: java.lang.ClassNotFoundException: Didn't find class "leakcanary.internal.AppWatcherInstaller" on path: DexPathList[[zip file "/data/app/com.tradingview.tradingviewapp-HSrgA6AQJPZdqvhQVPC8Gw==/base.apk"],nativeLibraryDirectories=[/data/app/com.tradingview.tradingview

[2019-11-18 12:30] alexander-smityuk opened #1624 "ava.lang.NoSuchMethodError: No interface method getBuffer()Lokio/Buffer"
### Description

java.lang.NoSuchMethodError: No interface method getBuffer()Lokio/Buffer

![viber_image_2019-11-18_13-30-09](https://user-images.githubusercontent.com/13106194/69051771-f933de00-0a0d-11ea-914b-f28f4584f3cf.jpg)

### Version Information

* LeakCanary version: 2.0-beta-3
* Android OS version: all
* Gradle version: 4.10.2

### Additional Information

[code]

[2019-11-18 20:10] pyricau commented on #1624
@alexander-smityuk Can you check which version of Okio is in your project?

[2019-11-18 20:12] pyricau commented on #1597
Can you provide a project that we can use to reproduce this issue?

Note that your proguard rules are not correct anymore (these are for leakcanary 1.0) but this should be ok because the new version has its proguard rules included.

[2019-11-18 23:41] pyricau commented on #1445
Closing this as #1622 fixes most issues. There's still a ton of design improvements to be made, but the initial overhaul is done.

[2019-11-18 23:41] #1445 closed

[2019-11-19 03:19] hfyqsy opened #1626 "NullPointerException"
### Description

运行时崩溃
debugImplementation 'com.squareup.leakcanary:leakcanary-android:1.3'
### Steps to Reproduce

![image](https://user-images.githubusercontent.com/23046221/69112452-36a27500-0abb-11ea-92c1-fbd18585b88b.png)
![image](https://user-images.githubusercontent.com/23046221/69113626-7f0f6200-0abe-11ea-8665-5158b766d519.png)

**Expected behavior:** [What you expect to happen]

### Versi

[2019-11-19 03:44] #1626 closed

[2019-11-19 05:56] shumidub commented on #1597
I can not provide project, because it is my company production app

[2019-11-19 12:46] matejdro commented on #185
Here is similar one, but for services:

[code]

[2019-11-19 17:28] vishal-i4gs opened #1628 "Memory leak in BottomSheetDialogFragment"
# LeakTrace information
[code]

[2019-11-19 19:27] pyricau commented on #1597
"It happends only with little count of users" => Are you using the object watcher in production? If you have no need for it you can set it as a debug dependency (which should be the default when you add leakcanary) and that way it won't ship in production.

[2019-11-19 19:31] pyricau commented on #1628
Known leak: https://github.com/square/leakcanary/pull/1591/files#diff-17b98fabdb720dcdfe3e14eec57b1b83R129

[2019-11-19 19:31] #1628 closed

[2019-11-19 22:25] pyricau commented on #185
Cool. Looks like this is also well documented on stack overflow: https://stackoverflow.com/questions/44674696/fragmentmanagerv4-not-removing-fragments-from-mcreatedmenus

[2019-11-20 13:07] shumidub commented on #1597
I use dependencies:
`
implementation "com.squareup.leakcanary:leakcanary-object-watcher-android:2.0-beta-3"
debugImplementation "com.squareup.leakcanary:leakcanary-android:2.0-beta-3"
`

If I remove implementation "com.squareup.leakcanary:leakcanary-object-watcher-android:2.0-beta-3"  I get compilation error, because something should be imported for non debug build type

[2019-11-20 13:11] DanEdgarTarget opened #1630 "Warning: Multiple substutions in leak_canary_about_message missing proper multiple substution markup"
### Description

[Description of the issue]
When using latest Leak Canary within Android Studio 3.5.2 we get the following warning generated from the `leak_canary_about_message`:
[code]

I think the fix is as simple as changing the string to include the positional markers:
[code]

### Steps to Reproduce
Just include latest Leak Canary, build, and watch your build warnings.

**Expected behavior:**

[2019-11-20 15:04] vishal-i4gs commented on #1628
Hello pyricau, is it so that we need to make that fix that has been made for 'GoogleApiHandler' to every handlerThread ?
Because this issue can happen on any handlerThread be it custom/userDefined handlerThread or google/android related handlerThreads. I am seeing that each time it leaks on some or the other handlerThread and not specifically 'GoogleApiHandler'.
Thanks.

[2019-11-21 16:30] Armaxis commented on #1597
Can you share the error message you get? LeakCanary is intended to be debug-only dependency; this might be the reason why you get the crashes.

[2019-11-22 01:06] pyricau commented on #1628
Yeah it's a common issue with Android and threads. Only solution is to make sure threads do work every now and then.. or not use dialogs. It's bad...

[2019-11-22 05:08] shumidub commented on #1597
I have : `import leakcanary.AppWatcher

interface ReferenceWatcher {
    fun watch(watchedObject: Any)

    object DISABLED : ReferenceWatcher {
        override fun watch(watchedObject: Any) {}
    }

    object ENABLED : ReferenceWatcher {
        override fun watch(watchedObject: Any) {
            AppWatcher.objectWatcher.watch(watchedObject)
        }
    }
}`

and use It as ` if (BuildConfig

[2019-11-22 05:29] Armaxis commented on #1597
As an alternative you can use reflection to set these, by checking first that the class is available at the runtime. It's more boilerplate, but will work if you can't extract code to some `debug`-only folder.

[2019-11-22 23:46] pyricau commented on #1597
`leakcanary-object-watcher-android` is meant to be used in production, that's actually ok, though if the content provider class isn't available for a number of users then I have no idea what could cause this.

[2019-11-23 00:09] pyricau commented on #1630
Fixed by #1632

[2019-11-23 00:09] #1630 closed

[2019-11-23 10:54] msfjarvis opened #1634 "LeakCanary beta 4 fails to find leak that beta 3 does"
### Description

LeakCanary beta 3 correctly sees [BiometricPrompt](https://developer.android.com/reference/android/hardware/biometrics/BiometricPrompt.html) holding on to the `mAuthenticationCallback` field. Logcat snippets showing both versions processing the leaking event are [here](https://gist.github.com/msfjarvis/c955835b7074722c8d61f8d553c01319).

### Steps to Reproduce

Sample project: htt

[2019-11-24 10:26] pasniak opened #1635 "Doc issue with getting_started/ page (for Version 2.0)"
I had 3 LeakCanary dependencies; now there is 1 so maybe clarify?
[code]

[2019-11-24 20:08] hnljp commented on #1635
There is this documentation for people upgrading to LeakCanary 2
https://square.github.io/leakcanary/upgrading-to-leakcanary-2.0/

[2019-11-25 16:00] pyricau commented on #1634
@msfjarvis Thanks for the detailed report! Can you share the hprof file from the leak found in Beta 3? That way I can repro automatically & git bissect.

[2019-11-25 16:20] msfjarvis commented on #1634
Absolutely, there you go. [2019-11-25_21-47-40_879.hprof](https://transfer.sh/qe4wb/2019-11-25_21-47-40_879.hprof)

[2019-11-25 16:45] pyricau commented on #1635
Updated the getting started page to add a link to the upgrade guide in 0911423833103b8f586b6bb8045bf2a454791985

Result: https://square.github.io/leakcanary/getting_started/

[2019-11-25 16:45] #1635 closed

[2019-11-25 16:50] pyricau commented on #1634
Thanks, reproduced, bisecting now.

[2019-11-25 17:33] pyricau commented on #1634
Thanks a ton for the bug report! This is pretty bad, I'll make a new release ASAP.

[2019-11-25 17:37] msfjarvis commented on #1634
Glad to be of assistance :-)

I want to follow up about the potential framework leaks in `BiometricPrompt` and `FingerprintManager`, should I start another issue for those?

[2019-11-25 17:37] pyricau commented on #1634
Definitely!

[2019-11-25 17:46] Armaxis opened #1639 "KtLint to validate code style"
### Problem description
Missing braces are bad (ask @pyricau )

KtLint should report such errors. It is configurable via `detekt.yml`
Also we should evaluate if other checks are worth enabling.

[2019-11-25 18:14] msfjarvis opened #1640 "`mAuthenticationCallback` field leaks in FingerprintManager and BiometricPrompt"
### LeakTrace information

BiometricPrompt leaks the field from [here](https://android.googlesource.com/platform/frameworks/base/+/5a90a653f5613fb5ef84c760ee35fc64710559a3/core/java/android/hardware/biometrics/BiometricPrompt.java#328) and FingerprintManager from [here](https://android.googlesource.com/platform/frameworks/base/+/a38653cb349418bd54daae231d874eaa012aa56b/core/java/android/hardware/f

[2019-11-25 18:59] pyricau commented on #1640
From #1634 :

### Steps to Reproduce

Sample project: https://github.com/msfjarvis/leakcanary-test-project

1. Checkout the sample project to [`d3f9bbfedf78fc3bdb2ecc889e7bfc4637835fa3`](https://github.com/msfjarvis/leakcanary-test-project/commit/d3f9bbfedf78fc3bdb2ecc889e7bfc4637835fa3), so you can be on LeakCanary beta 3.
2. Install and launch the app, authenticate with fingerprint, and then use

[2019-11-25 19:00] #1634 closed

[2019-11-26 00:33] pasniak commented on #1635
Be consistent... the doc still says "That’s it, there is no code change needed! " when, based on the new link, there clearly is :-) (i.e. LC code should get removed)

[2019-11-26 00:49] pyricau commented on #1635
There is no code change for new users of LeakCanary, all they have to do is add the dependency. Getting started guides are not optimized for users who are upgrading.

This community has a [code of conduct](https://square.github.io/leakcanary/code_of_conduct/), please check it out.

[2019-11-26 07:11] dknchris commented on #1640
A workaround is to house the `AuthenticationCallback` in a static class and have a `LiveData` for the activity to observe the callback results. Be sure to use Application context in BiometricPrompt.Builder (I'm using framework APIs instead of androidx.*)

Feedbacks?

[code]

[2019-11-26 10:36] NerdAnonymous opened #1641 "about lambda support for canary"
My app leaked and had some log as below:

-$$Lambda$RecommendModule$91w4HPGfz_9fXgEbYqnKITWDSCI

It's means anonymous class for Lambda，but i can't find it in my code.Then i decompile my apk,i find onLocationChanged:-1, -$$Lambda$RecommendModule$91w4HPGfz_9fXgEbYqnKITWDSCI (com.tyk.module.recommend.di.module) ,i know -$$Lambda$RecommendModule$91w4HPGfz_9fXgEbYqnKITWDSCI expresses onLocationChanged.

[2019-11-26 15:46] msfjarvis commented on #1640
I've bumped the repository to `2.0-beta-5` ([commit](https://github.com/msfjarvis/leakcanary-test-project/commit/cded56a49f52886488c06ae67f20b6a86b04145c)) so this shouldn't be needed anymore.

[2019-11-26 16:54] pyricau opened #1642 "Support multiple devices for Shark CLI"
### Problem description

Currently Shark CLI runs adb directly without any `-s` parameter. We should support that and pass it through. Ideally the library should detect when there are multiple devices connected and suggest using a `-s` parameter.

[2019-11-26 16:55] pyricau commented on #1642
Source: https://stackoverflow.com/questions/58999359/how-to-use-shark-cli-library-with-2-usb-connected-devices

[2019-11-26 17:18] pyricau commented on #1641
Unfortunately this is how lambdas get compiled and I don't know that there is anyway for LeakCanary to reverse this at runttime.

[2019-11-26 17:18] #1641 closed

[2019-11-26 17:18] martino2k6 commented on #1573
I've been using version `2.0-beta-5` which should include the fix for this, however I'm still having LeakCanary report the following:
[code]

This is on an API 28 emulator. Is there a reason why it's still being reported?

[2019-11-26 17:27] pyricau commented on #1573
In the logs, you see:

and in the trace you pasted, at the top:

This is still being reported because leakcanary will not fix leaks for you.

[2019-11-26 17:30] martino2k6 commented on #1573
Ah, so `AndroidReferenceMatchers` fills in details for _known_ leaks. It doesn't ignore them when they happen. I think I misunderstood it's purpose! Thanks.

[2019-11-26 17:32] pyricau commented on #1573
Yep! What made you think it would ignore them / what do you think we could do to clarify this confusion for others as well?

[2019-11-26 17:43] pyricau commented on #1624
Can you please provide the Okio version? If not I will close the issue until we can repro.

[2019-11-26 19:51] pyricau opened #1643 "Sources missing in Maven Central"
https://repo1.maven.org/maven2/com/squareup/leakcanary/leakcanary-android-core/2.0-beta-5/leakcanary-android-core-2.0-beta-5-sources.jar

The sources jar is uploaded but it's empty.  I suspect this happened with the Kotlin conversion.

[2019-11-26 21:27] pyricau commented on #1643
Also the javadoc jar si empty

[2019-11-26 21:30] pyricau commented on #1643
The source jar is available with kotlin files for the pure jvm projects.

[2019-11-26 21:38] pyricau commented on #1643
1.6.3 has the sources and 2.0-alpha1 doesn't.

[2019-11-26 22:17] pyricau commented on #1643
Adding back a Java file, the java file shows up in the sources. So it looks like .java works but not .kt

[2019-11-27 00:29] jrodbx commented on #1643
Javadoc publication still not working.  I tried copying paparazzi's config over since it also uses the Chris Banes script, but later realized paparazzi is also not publishing javadocs correctly 😄...

SqlDelight is publishing javadocs correctly and uses the Banes' script.  Not sure why.

[2019-11-27 02:29] pyricau commented on #1643
🙏will close for now, we can reopen later if necessary.

[2019-11-27 02:29] #1643 closed

[2019-11-27 03:02] #1642 closed

[2019-11-27 04:37] SmallLee opened #1646 "TransactionTooLargeException"
### TransactionTooLargeException

[com.squareup.leakcanary.internal.DisplayLeakActivity.shareLeak(DisplayLeakActivity.java:199)]

### Steps to Reproduce

[Provide a sample project, a .hprof file or a failing test]

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

### Version Information

* LeakCanary version:1.6.3
* Android OS version:9.0
* Gr

[2019-11-27 12:05] martino2k6 commented on #1573
I suppose my thinking was that if it is a known platform memory leak then there is no use in reporting it, as the app will likely not be able to fix the issue. Although in hindsight it may be able to do something else to mitigate/avoid it, so still worth showing.

Looking at https://square.github.io/leakcanary/api/shark-android/shark/-android-reference-matchers/ it's clearer now, but I only found

[2019-11-27 13:09] cristan opened #1647 "Release LeakCanary 2.0"
When you go to https://github.com/square/leakcanary/releases, you'll see 2.0 there. However, when you look at https://jcenter.bintray.com/com/squareup/leakcanary/leakcanary-android/, you'll see that there is no artifact for LeakCanary 2.0 final. Also, the [getting started page](https://square.github.io/leakcanary/getting_started/) still references 2.0-beta-5.

Therefore: either remove the 2.0 tag

[2019-11-27 17:24] pyricau commented on #1646
This has been fixed, please update.

[2019-11-27 17:24] #1646 closed

[2019-11-27 17:25] pyricau commented on #1647
Thanks! That was a mistake, 2.0 hasn't been released yet but will soon.

[2019-11-27 17:25] #1647 closed

[2019-11-27 20:11] pyricau commented on #1573
You can add your own custom "library leak patterns", and those could possibly match your own code. However LeakCanary has to analyze the heap to know what each leak is about, so you'll pay the cost anyway, it's only a classification difference. You're better off actually fixing that leak ;) . Even android framework leaks can be fixed with enough imagination and hackery.

[2019-11-28 12:27] jstefanowski opened #1649 "Allow LeakCanary to dump the heap even if junit is in the dependencies"
### Problem description
I'm working on a project which is using a library that has an indirect dependency on JUnit. Current implementation of LeakCanary disables heap dump automatically if `org.junit.Test` exists in the classpath. It would be helpful if there was an option to disable this feature.

### Potential solutions
- Use a different way of detecting unit tests than checking if `org.junit.Te

[2019-11-28 17:30] pyricau commented on #1649
What is the library that uses junit? Is it okhttp mockwebserver?

[2019-11-28 17:32] pyricau commented on #1649
In the meantime you can post your config update to a main thread handler and that will work.

[2019-11-29 12:21] Maragues opened #1651 "Unit tests: Could not initialize class leakcanary.AppWatcher"
### Description

Unit tests fail with

[code]

### Steps to Reproduce

I have this dependency in my build.gradle (it's a library, so I think I need to use implementation and not debugImplementation)

```implementation "com.squareup.leakcanary:leakcanary-object-watcher-android:2.0"```

I've tried to use `testImplementation libraries.leakCanaryWatcher` without success

**Expected behavior:** [What y

[2019-11-29 14:59] jstefanowski commented on #1649
I already did that and it works, thank you :) I think that this dependency on JUnit is just a mistake. It seats a couple levels deep in my dependency tree so it is going to take a while before it will be fixed and updated on every level. I understand that this is a rare issue but I think it could happen to other people once in a while. And the fact that one of the config parameters gets replaced c

[2019-11-30 03:32] pyricau commented on #1649
Absolutely. Logcat has all these details on the leakcanary tag, e.g. :

[code]

I'm going to change that message to be more specific and mention junit

[2019-12-02 18:12] douglasiacovelli opened #1656 "LeakCanary require us to clean references to views"
I've filled an issue to Google Issue tracker regarding a leak pointed out by LeakCanary and in response they said "this is not technically a leak (the reference will eventually be cleaned...".

The issue occurs when using data binding with nested fragments added to the back stack and it is better explained here: https://issuetracker.google.com/issues/145468285. There's also a sample project on the

[2019-12-03 02:24] pyricau commented on #1656
When using fragments with a backstack, the expectation is that you should clear any view reference from the fragment in Fragment.onDestroyView(). That's unfortunate, but that's an issue with the design of the fragment API. Fragment stay in memory in the backstack, so if each fragment keeps a reference to its view hierarchy you can end up with a large number of view hierarchies kept in memory, lead

[2019-12-03 02:24] #1656 closed

[2019-12-03 02:25] pyricau commented on #1656
If you're interested, here's my rant on Twitter: https://twitter.com/Piwai/status/1201686009349455872

[2019-12-03 02:35] #1649 closed

[2019-12-03 02:35] #1651 closed

[2019-12-03 02:48] douglasiacovelli commented on #1656
Thank you really much. It sounded a bit odd when they said that, but as I don't have such a deep knowledge about that matter I couldn't argue.

If I understood it correctly it's a temporary leak, right? I noticed about a year ago there's been a similar issue that they were able to fix on their side, but it seems to work differently when using nested fragments.

[2019-12-03 02:50] pyricau commented on #1656
All leaks have a lifespan, some shorter / longer than others. This one has a lifespan of "until you go back to that fragment or clear the backstack". Could be temporary. Could last days :) .

[2019-12-03 06:19] pyricau opened #1657 "Make LeakCanary modules be Kotlin friends"
AFAIK the Kotlin compiler can extend "internal" to other modules when those are considered "friends". Apparently that's only been recently supported in Gradle?

I don't know much about this, but it sounds useful because it could reduce some of the duplication without increasing the public API surface.

Somewhat related: I just realized KeyedWeakReference is public but I don't think it needs to?

[2019-12-03 06:52] #1639 closed

[2019-12-03 07:28] Heipi opened #1659 "ReportFragment was nerver GCed but no leak found"
There was a leak in my application, I tried to use MAT detection, the TransitActivity has destroyed, but leak. I can't  solve the problem

[heap dump hprof](https://pan.baidu.com/s/1lAjsZfSO-l6fzDm0V-3UFg)

[2019-12-04 03:31] tianshaokai opened #1660 "crash"
My Phone is OPPO K1

[code]

[2019-12-04 03:46] tianshaokai commented on #1660
App failed to start MainActivity in simpe application. The enabledStrictMode method  is commented out and it can be run.

[2019-12-04 19:40] pyricau commented on #1660
Duplicate of #1623 . This device is doing disk reads on app startups, strict mode would fail in any app. You can disable strict mode or use a different device (e.g. emulator)

[2019-12-04 19:40] #1660 closed

[2019-12-05 14:02] Tolriq opened #1661 "Surface Library leaks in UI"
### Description

Often got a leak from leakCanary on emulator:

[code]

### Version Information

* LeakCanary version: 2.0
* Android OS version: Q emulator

### Additional Information
Should probably be fixed or automatically ignored :)

The additional question is that when sharing the leak trace as text there's some added information that I can't see inside LeakCanary like:

[code]

Is there a wa

[2019-12-05 23:21] chambj commented on #1048
Should also include process of configuring LeakCanary

[2019-12-06 01:30] devism commented on #1597
I think I'm getting the same issue.

`12-05 20:17:29.651 15083-15083/? I/art: Late-enabling -Xcheck:jni
    Late-enabling JIT
12-05 20:17:29.682 15083-15083/? I/art: JIT created with code_cache_capacity=2MB compile_threshold=1000
12-05 20:17:29.746 15083-15083/com.app.tablesign W/System: ClassLoader referenced unknown path: /data/app/com.app.tablesign-1/lib/arm
12-05 20:17:29.794 15083-15083/com.a

[2019-12-06 19:25] pyricau commented on #1661
This is a known AOSP leak, LeakCanary cannot fix or ignore leaks, it can only show you that they're known.

In any case, that's a good point, we need to surface these details in the UI.

[2019-12-06 19:26] pyricau commented on #1048
https://square.github.io/leakcanary/ is much more comprehensive these daysl

[2019-12-06 19:26] #1048 closed

[2019-12-06 19:28] pyricau commented on #1597
@devism this is a different issue. Do you have a sample project that reproduces it? If yes can you create a new issue?

[2019-12-06 20:22] devism commented on #1597
I do have a sample project that reproduces the issue. I will create a new issue.

[2019-12-06 20:29] Tolriq commented on #1661
By fixing / ignoring I meant the leak generated by leakcanary itself :(

In my app only LeakCanary create the other process that causes this according to description.

Current solution to ignore those is:

This means that I need to either live with AppWatcher in release build or create the interface and everything and then manually watch my activities to workaround this.

This is a looot of work a

[2019-12-06 20:47] devism opened #1662 "Unable to get provider leakcanary.internal.AppWatcherInstaller$MainProcess:"
### Description

Failure on building debug apk. Unable to get provider leakCanary when it tries to install  AppWatcher

### Version Information

* LeakCanary version: 2.0
* Android OS version: 6.0.1
* Gradle version: 4.1

### Additional Information

sample project that reproduces issue: https://drive.google.com/file/d/1DSTrQOqsiYNZ71zJUK_DjbihFCxNSR6Z/view?usp=sharing

Logcat:

[code]

[2019-12-06 23:24] pyricau commented on #1661
LeakCanary 2.0 does not create another process. This is related to an Inter Process Call with the Activity Manager process, which is unrelated to LeakCanary.

[2019-12-07 15:45] mzgreen commented on #1297
Are you saying it doesn't work on Android 10 or in general? There is a pretty new blogpost about this technique https://jebware.com/blog/?p=600

[2019-12-07 22:51] pyricau commented on #1297
oh cool! It's very possible that I messed up, I'll try again with the code from @jebstuart

[2019-12-10 02:50] pyricau commented on #1597
Note to readers: @devism moved their issue to #1662

Everyone else here: which version of the support library (or Android X) are you using?

Can you provide a sample project or an APK that reproduces this consistently?

[2019-12-10 02:56] pyricau commented on #1662
Thanks @devism, thanks to your project I was able to figure it out.

In `./node_modules/cordova-android/spec/fixtures/android_studio_project/app/build.gradle` you have this:

[code]

This means your project depends on a really old version of the support library. In [version 25.0.2](https://developer.android.com/topic/libraries/support-library/rev-archive#important-changes_4) of the support library

[2019-12-10 05:44] #1297 closed

[2019-12-10 12:30] #1662 closed

[2019-12-10 12:36] pyricau commented on #1659
@Heipi It looks like the file has expired, can you reupload?

[2019-12-10 12:51] Heipi commented on #1659
This link:
https://pan.baidu.com/s/1dV0zR8O_tCrNcyw9lvLUvw

Now I've updated to 2.0 and this problem doesn't happen

[2019-12-10 13:33] pyricau commented on #1659
Great, thank you. If it stopped happening then I'm closing.

[2019-12-10 13:33] #1659 closed

[2019-12-11 00:51] devism commented on #1662
I'm still getting the same error. Do I have to change the following to something else? :

` debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.0'`

[2019-12-11 05:54] pyricau commented on #1662
You can wait for the next release (no date yet) or use the snapsnot version: https://square.github.io/leakcanary/faq/#how-do-i-use-the-snapshot-version

[2019-12-11 12:07] SamYStudiO opened #1668 "DialogFragment onCancelListener leak"
Hi, I'm getting this leak when i cancel a dialogfragment by touching background dim, is this a known one?

### LeakTrace information

[code]

[2019-12-11 16:57] pyricau commented on #1668
Hi,

You can see this is a known leak by reading the first two lines of the report you pasted:

I keep iterating on this to figure out how to convey that information but still not quite there.

[2019-12-11 16:57] #1668 closed

[2019-12-12 00:07] SamYStudiO commented on #1668
Ok I missed that, thx!

[2019-12-12 03:55] tangtang-feng opened #1669 "shark.AndroidObjectInspectors$SUPPORT_FRAGMENT$inspect$1.invoke(SourceFile:221)"
createdAtTimeMillis=1576122857598, analysisDurationMillis=18675, exception=
    e.e
        at shark.AndroidObjectInspectors$SUPPORT_FRAGMENT$inspect$1.invoke(SourceFile:221)
        at shark.AndroidObjectInspectors$SUPPORT_FRAGMENT$inspect$1.invoke(SourceFile:216)
        at shark.ObjectReporter.whenInstanceOf(SourceFile:58)
        at shark.AndroidObjectInspectors$SUPPORT_FRAGMENT.inspect(Source

[2019-12-12 03:56] tangtang-feng commented on #1669
When I build the source,and delete "SUPPORT_FRAGMENT",but "ANDROIDX_FRAGMENT" cannt invoke.

###
       at shark.AndroidObjectInspectors$ANDROIDX_FRAGMENT$inspect$1.invoke(SourceFile:240)
        at shark.AndroidObjectInspectors$ANDROIDX_FRAGMENT$inspect$1.invoke(SourceFile:235)
        at shark.ObjectReporter.whenInstanceOf(SourceFile:58)
        at shark.AndroidObjectInspectors$ANDROIDX_FRAGMENT

[2019-12-12 04:40] tangtang-feng commented on #1669
I soon sorry for the issue.
My main project not add "-keep class androidx.**  { *; }"for androidx or android.support

[2019-12-12 04:40] #1669 closed

[2019-12-12 21:38] adamfit opened #1670 "java.lang.IllegalStateException: Hprof file missing"
### Description

Leak canary appears to crash intermittently if automation tests are run with dumpHeap forced on

### Steps to Reproduce

Not sure, it takes a number of unrelated instrumentation tests running for it to occur. Looking at the trace, might be related to how fast a test can close and reopen the app?

**Expected behavior:**
Don't crash

### Version Information

* LeakCanary version: 2.

[2019-12-13 14:36] pyricau commented on #1670
Thanks! I'm glad we have those logs in place, it helps.

A few follow up questions:

* Do you set `LeakCanary.Config.maxStoredHeapDumps` to a value different than the default?
* `automation tests are run with dumpHeap forced on` why do that? Have you seen this? https://square.github.io/leakcanary/recipes/#running-leakcanary-in-instrumentation-tests

From the looks of it, and unless I'm mistaken, t

[2019-12-13 14:40] pyricau commented on #1657
This requires this fix (fixed in 1.3.60): Kotlin Gradle Plugin doesn't allow for configuring friend paths through API

IDE support is still missing: https://youtrack.jetbrains.com/issue/KT-34102

[2019-12-13 17:19] adamfit commented on #1670
Nope

It was an accident. In another conversation I mentioned junit on my classpath. Initially I overrode that check, then I ended up reimplementing that check with a different test class as the marker. Longterm I suppose I can use `leak_canary_test_class_name`, whenever that gets released.

So long story short, this isn't really an issue for me.

[2019-12-14 17:05] pyricau commented on #1670
Thanks!

We should still fix. Ideally we would have a way to detect this and not dump. Other easier but less good option is to let it go and not analyse

[2019-12-15 16:49] pyricau commented on #1670
Shower thoughts is to use a shared pref as marker (easy in memory + out of process sync). Write down the filename for last received start command and last processed result done. Then when reaching the limit, check if the oldest is older than a long time (e.g. 5mn, if yes proceed delete). Otherwise check if the oldest is the last start command. If not, bail. If yes, check if last processed is oldes

[2019-12-15 16:50] pyricau commented on #1670
Maybe there should also be a min wait between heap dumps (at least for auto dumps)

[2019-12-16 13:15] pyricau opened #1671 ""New" leaks should be new until the leaktrace is seen"
Currently, a leak is considered "new" if it exists only in the latest heap analysis.

We should instead change that to a flag registered per leak group, that turns off when one leaktrace in that group is opened for the first time.

[2019-12-16 13:18] pyricau opened #1672 "Use "x minutes ago" format for dates"
For any displayed date earlier than yesterday (including that), we should change the date format to be more user friendly, e.g. "2 minutes ago"

Easy enough to implement that way: https://stackoverflow.com/a/13018647

[2019-12-16 15:11] pyricau commented on #1671
Should also use a distinct UI color to highlight those.. great opportunity for distinguishing library leaks as well (#1661)

[2019-12-16 23:56] #1672 closed

[2019-12-17 08:13] liunana1993 commented on #1624
I met the same problem, and the version of Okio is 1.14.0.

[2019-12-17 08:17] liunana1993 commented on #1624
I met the same problem.The version of Okio is 1.14.0

[2019-12-17 11:19] pyricau commented on #1624
@liunana1993 did you force the okio version to 1.14? LeakCanary depends on 2.2.2

[2019-12-17 12:48] #1671 closed

[2019-12-17 21:01] pyricau commented on #1624
@liunana1993 @alexander-smityuk have you tried removing the configuration that forces the Okio dependency to 1.x?

[2019-12-17 21:28] #1661 closed

[2019-12-18 04:19] liunana1993 commented on #1624
I tried.But I got another problem.

UncaughtException detected: android.database.sqlite.SQLiteException: Can't downgrade database from version 19 to 16
        at android.database.sqlite.SQLiteOpenHelper.onDowngrade(SQLiteOpenHelper.java:369)
        at android.database.sqlite.SQLiteOpenHelper.getDatabaseLocked(SQLiteOpenHelper.java:263)
        at android.database.sqlite.SQLiteOpenHelper.getWrita

[2019-12-18 08:48] pyricau commented on #1624
This exception is thrown when the leakcanary database is downgraded, which should only happen if the leakcanary version is changed to a lower version. Did you change the leakcanary version? You should stick to the latest release.

[2019-12-18 09:23] liunana1993 commented on #1624
I removed the configuration that forces the Okio dependency to 1.14.0 and updated leakcanary to the latest version. It works.

[2019-12-18 09:25] pyricau commented on #1624
@liunana1993 Thanks!! Can you tell me a bit more about why there was configuration forcing Okio to 1.14.0? I'm assuming there was a good reason at some point.

[2019-12-18 09:31] pyricau opened #1680 "Migrate database to 2.0 + 1"
The default behavior on database upgrade is to drop and recreate.

For the next release we should support a smooth migration without data loss.

v2.0:

* db version = 19
* Tables:

[code]

v2.0 + 1:
* db version = 20
* Tables:

[code]

Difference: new `is_read` field in `leak`. We should populate it to `1`, ie assume all existing leaks have been looked at when upgrading.

The implementation should

[2019-12-18 09:36] liunana1993 commented on #1624
The version of retrofit is 2.2.0. It depends on Okio 1.14.0

 +--- com.squareup.retrofit2:retrofit:2.2.0
|    |    |    |         |    |    \--- com.squareup.okhttp3:okhttp:3.6.0 -> 3.11.0
|    |    |    |         |    |         \--- com.squareup.okio:okio:1.14.0

[2019-12-18 09:49] pyricau opened #1681 "Reorganize the repo folders"
We should reorganize the file structure to have less clutter at the root.

We currently have 17 Gradle modules at the root. Instead:

[code]

We should also look at the various config files and figure out which ones actually need to live at the root vs can be configured to move elsewhere.

This is low priority, we should wait for the open PR count to drop to 0 so no PR is disrupted.

[2019-12-18 10:16] pyricau opened #1682 "New listener for customizing notifying"
Still need to iterate a bit on this, but this idea started from the work required for Android TV, where notifications cannot be used, and we had to come up with alternate ways to notify the user.

This brings up the general idea of a new callback API to be notified of various events happening, with a default implementation that is the current behavior.

Events (WIP):

* RetainedObjects, with count

[2019-12-18 10:16] pyricau commented on #1682
cc @Armaxis

[2019-12-18 10:55] pyricau commented on #1597
Summary of everything that's been reported in this issue:

* @CaiJingFu, @meablelee2013  have a crash because the `LeakCanaryFileProvider` class is not found. We know they use Android X. We don't know which versions of Android this is crashing on. The crash is 100% reproducible. Seems similar to [this Stack Overflow question](https://stackoverflow.com/questions/57283691/how-to-resolve-unable-to-ge

[2019-12-18 11:01] #1624 closed

[2019-12-18 13:35] pyricau commented on #1680
I'll try following this blog from @riggaroo: https://riggaroo.co.za/automated-testing-sqlite-database-upgrades-android/

Based on the comments, it looks like one thing to pay attention to is to create the database on a device with the min sdk supported by leakcanary.

[2019-12-18 15:08] pyricau commented on #1680
Tests here:  https://github.com/square/leakcanary/pull/1684/files#diff-f79c160ffc6afdcdab877fb8463bd3fdR16-R65

[2019-12-18 15:42] #1680 closed

[2019-12-18 17:04] #1670 closed

[2019-12-18 18:59] pyricau opened #1686 "Result notification should display distinct leaks"
Currently, the result notification shows the number of retained objects found leaking. Instead, it should display the number of distinct leaks (and count new / known / library) the same way. That would be more consistent with the UI that shows up when tapping the notification.

[2019-12-18 20:34] pyricau opened #1687 "Remove German and Spanish translations"
The community has contributed German and Spanish translations to LeakCanary, which is really cool! Unfortunately, every time new string is not translated until someone jumps in again, and every English string changes requires removing the translations for the corresponding strings, which hurts productivity for LeakCanary developers and can also introduce inconsistencies when missed.

LeakCanary is

[2019-12-18 22:57] #1686 closed

[2019-12-18 22:57] #1687 closed

[2019-12-19 13:07] pyricau opened #1692 "leak trace adjustments"
A few things we should adjust in the leak trace:

* Currently if the holding object is a thread, the reference will start with "thread". That's kind of weird. We already know the thing is a thread from the "thread name" => remove the concept of "thread reference"
* We don't show what the type of the Java objects in the leak trace. It can be deduced but should be highlighted more: "instance, class,

[2019-12-19 13:20] pyricau commented on #1692
Also, showing "Leaking NO / YES" should be based on the further most element from which we can make that decision, rather than the next node.

[2019-12-19 13:25] pyricau opened #1693 "Remove "likelyLeaking""
likelyLeaking was introduced to reuse the object inspectors when finding retained objects. Instead we should make a dedicated API.

We should deprecate likelyLeaking and make it call into leaking.

[2019-12-20 09:53] mzgreen opened #1696 "Heap analysis fails if minification is turned on"
### Description

I ran LeakCanary sample app with minification enabled by  executing this command:
`./gradlew leakcanary-android-sample:installDebug -Pminify`

and LeakCanary fails during heap analysis. It worked in the past. It seems like this commit:
https://github.com/square/leakcanary/commit/9518ccc75b377e4950c11892f407c55bce01e3fc
introduced the regression.

### Steps to Reproduce

1. Run Lea

[2019-12-20 10:11] #1693 closed

[2019-12-20 12:09] pyricau opened #1698 "Add Shark-CLI command to deobfuscate heap dump"
The command will take an obfuscated heap dump and an obfuscation file as input and output a new heap dump where class names have been deobfuscated. Command name should probably be `deobfuscate-hprof`

[2019-12-20 12:15] #1696 closed

[2019-12-23 11:39] #1692 closed

[2019-12-23 16:53] #384 closed

[2019-12-24 00:05] pyricau commented on #1467
Spent a bit of time trying this. Clikt is nice but it's also opinionated, and tends to hide subcommand usage information away. Definitely the right call for larger CLI tools, but makes it hard to have one global view of all possible commands and possible params

[2019-12-24 10:58] #54 closed

[2019-12-24 10:59] pyricau commented on #1026
This is much better today.

[2019-12-24 10:59] #1026 closed

[2019-12-24 11:01] pyricau commented on #1165
The sharing actions have been surfaced more (links on the leak screen) and hopefully we'll turn them into buttons soon. The issue tracker now offers options to help navigate how to file issues. Let's close this.

[2019-12-24 11:01] #1165 closed

[2019-12-24 11:03] pyricau commented on #1405
APIs seem Java friendly enough. If there's anything more specific we could do, e.g. change some API shape, someone should file an issue.

[2019-12-24 11:03] #1405 closed

[2019-12-24 11:03] pyricau commented on #1492
Not sure we need this after all.

[2019-12-24 11:03] #1492 closed

[2019-12-24 11:06] pyricau commented on #1493
Providing custom leak finders allows for implementing this, so `useExperimentalLeakFinders` has been deprecated.

[2019-12-24 11:06] #1493 closed

[2019-12-24 11:35] #1467 closed

[2019-12-27 03:28] ditclear opened #1706 "NPE in shark.ApplicationLeak$createGroupHash"
[code]

[2019-12-27 09:39] pyricau commented on #1706
@ditclear which version of LeakCanary are you using?

[2019-12-27 15:09] pyricau opened #1707 "SharkCLI: Read mapping.txt from APK"
* Requires downloading the APK and unzipping it to extract mapping.txt
* Should be an option, off by default

[2019-12-27 15:10] pyricau opened #1708 "Query language"
Build something similar to Mat OQL in SharkCLI

Calcite was recommended. Protype ideas based on https://github.com/vlsi/mat-calcite-plugin

[2019-12-27 18:50] npike commented on #185
Any tips on how to ignore this leak in Leak Canary 2.0?  I tried the following... but no dice.

[code]

[2019-12-27 19:27] stephanenicolas commented on #185
Just guessing but usually, you should put the reference to the thing that
leaks to null.
And usually, because there is no API, you have to use reflection...

Le ven. 27 déc. 2019 19 h 50, Nicholas Pike <notifications@github.com> a
écrit :

[2019-12-27 20:03] beworker commented on #1594
@pyricau Sorry if that's a wrong place to ask. I use awesome version 2.0 and the same leak is reported for a custom Activity. Shouldn't it be anyhow marked as "known" or "ignored"?

[2019-12-27 20:21] pyricau commented on #1594
@beworker The UI should say "library leak", which is the same as "known" or "ignored". 2.1 will surface that information better. In 2.0 it should be more obvious in the text leaktrace. Let me know if that's not the case and share a leaktrace + hprof if possible, it's possible we missed something

[2019-12-27 20:23] pyricau commented on #185
@npike this looks like the right configuration. Can you share the code you wrote to add that to the configuration? Maybe something is wrong there (I want to know to see how the documentation could be improved).

Also, feel free to contribute this back :)

[2019-12-27 20:24] #1587 closed

[2019-12-27 20:35] beworker commented on #1594
@pyricau You're right, it says "Library Leak". Not an issue then, thanks for explaining!

Ironically, the custom Activity I was talking about belongs to a sample app of a library and there is also a "library" module in the project. I was a bit confused by that "Library" word and couldn't map the leak clearly. Now it's good.

[2019-12-27 20:38] pyricau commented on #1594
Ha! It's hard to find the proper word for these leaks :)

[2019-12-27 20:42] beworker commented on #1594
That's true man :) Here is what I could think of:

- ignored
- known
- reported
- system (caused by the system, cannot be fixed)
- suppressed

[2019-12-28 10:12] mzgreen commented on #1707
Where the APK should be downloaded from? And how do we know there is a mapping file inside it?

[2019-12-30 03:48] ditclear commented on #1706
debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.0'

@pyricau

[2019-12-30 17:00] pyricau commented on #1707
The idea is to download the APK using `adb pull`. This should be off  by default, and a flag would turn it on. Then we'd download the APK using adb pull, unzip it, and look for mapping.txt in the assets folder. If missing then the CLI would error out.

[2019-12-31 00:31] pyricau commented on #1706
Thanks! This is already fixed in the next release.

[2019-12-31 00:31] #1706 closed

[2020-01-04 09:02] JackFung2015 commented on #1597
I solved this problem by use "debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.0-alpha-1'"

[2020-01-06 18:23] fbenbassat opened #1711 "Shark-CLI 2.0 does not work on Windows 8.1"
### Description

Shark-CLI 2.0 does not work on Windows 8.1

### Steps to Reproduce

Download Shark-CLI zip file and run shark-cli.bat

Run command: shark-cli.bat analyze-process <package_name>

Exception error:
Exception in thread "main" java.lang.IllegalThreadStateException: process has not exited
        at java.lang.ProcessImpl.exitValue(Unknown Source)
        at shark.MainKt.runCommand(Main.

[2020-01-06 22:42] ajalt commented on #1467
Clikt author here. I'm glad you found the library useful!

If you have any feedback e.g. on help output for subcommands, feel free to open an issue or message me on ASG. I'd be happy to improve Clikt for your use cases.

[2020-01-07 02:05] qianlvable opened #1712 "No static field leak_canary_toast_icon of type I in class Lcom/squareup/leakcanary/core/R$id; or its superclasses (declaration of 'com.squareup.leakcanary.core.R$id' appears in base.apk!classes6.dex)"
### Description

Not working in my project, for resource not found in dex?

### Steps to Reproduce

1. open some actitivity
2.  dump the heap
3. crash

### Version Information

* LeakCanary version: 2.0, 2.1
* Android OS version: Android 10
* Gradle version: gradle-5.6.2,  android build plugin 3.4.2

### leakcannery log
D/LeakCanary: Already scheduled retained check, ignoring (found new object ret

[2020-01-07 02:46] pyricau commented on #1711
Yep I definitely haven't tested it with Windows, I don't have any Windows device. Pull requests welcome :)

[2020-01-07 17:39] pyricau commented on #1712
@qianlvable can you paste the stacktrace please?

[2020-01-07 17:40] pyricau commented on #1597
@JackFung2015  There were several distinct problems described here, which one did you solve?  Also you should update to 2.1 :)

[2020-01-08 10:42] lic2050 opened #1713 "IndexOutOfBoundsException leak_canary_list"
[code]

### Version Information

* LeakCanary version: 2.1
* Android OS version: 9.0
* Gradle version: 5.4.1

[2020-01-08 22:09] pyricau commented on #1713
Thanks for the bug report! This happens when the leaktrace has 0 entries.

[2020-01-08 22:49] Plastix opened #1714 "Leak Canary 2's configuration is not Java-friendly"
### Problem description
Leak Canary 2 is great! It is super fast and is easy to configure...as long as you are using Kotlin.

1. Accessing the config in Java requires getting the instance of the Kotlin object:
[code]
2. It is very hard to update the configuration settings since there are no getters (as expected for a Kotlin data class) and Kotlin's copy constructor requires that you specify every

[2020-01-08 23:45] Armaxis commented on #1714
Will something like this work?
https://github.com/square/leakcanary/pull/1715/files#diff-f2cdf4612f20f0f47e01a1792bc63484

[2020-01-09 02:04] iBotasky commented on #740
Same issue.
how can i fix the null exception?

[2020-01-09 13:33] Plastix commented on #1714
@Armaxis This is what I had in mind. Thanks!

[2020-01-09 21:06] pyricau commented on #1712
Can you check against other android versions? I don't see how this could be Android 10 only. Based on the limited information I have, it looks like a build issue on your end, e.g. building with the AAR didn't properly include all resources.

[2020-01-10 22:15] #1713 closed

[2020-01-12 01:46] JackFung2015 commented on #1597
Using version 2.1 will cause the program to crash directly

[2020-01-12 12:51] orenktaboola opened #1719 "Crash when running monkey tests with leak canary"
### Description

We have an automation tests that run monkey tests on our debuggable app. The app crashed with this stack trace:

[code]

### Steps to Reproduce

it's not reproducible since monkey tests are random.

**Expected behavior:** app not to crash even if there is a memory leak

### Version Information

* LeakCanary version: com.squareup.leakcanary:leakcanary-android:2.0
* Android OS versi

[2020-01-12 13:59] Armaxis commented on #1719
Hello! Thanks for reporting this!
First of all, can you please check that the heap dump files are actually located at the specified file path? And if they are, what are the file sizes? They should be several Mb.

[2020-01-13 17:43] pyricau commented on #1597
@JackFung2015 if it's a runtime crash of the app then you should have a stacktrace. Can you share that stacktrace?

[2020-01-13 17:51] pyricau commented on #1719
The error message tells us what's going on:

`Hprof directory cleared` means the user clicked "Delete all" in the "Heap Dumps" screen.

Looking at `HeapAnalysisTable#deleteAll`:

[code]

We take a brute force approach and delete all entries in the table as well as the entire leak folder. This works most of the time, but here we're in a situation where there's a heap dump that hasn't been analyzed

[2020-01-13 19:19] Armaxis commented on #1714
Resolved with #1715 and #1720. Will become available in version 2.2

[2020-01-13 19:19] #1714 closed

[2020-01-14 06:44] devzhan opened #1722 "pixel Android 10 can get memoryinfo"
In com.android.zone:1.0:1.
* FAILURE in 1.5 00f37f5:
[code]

* Reference Key: c0bf1bc9-692d-478d-b2b5-9f4f6a5f5e2f
* Device: Google google Pixel sailfish
* Android Version: 10 API: 29 LeakCanary: 1.5 00f37f5
* Durations: watch=5025ms, gc=149ms, heap dump=5175ms, analysis=86051ms
* Excluded Refs:
| Field: android.view.Choreographer$FrameDisplayEventReceiver.mMessageQueue (always)
| Thread:Finalizer

[2020-01-15 08:25] pyricau commented on #1722
Please upgrade to the [latest release](https://square.github.io/leakcanary/changelog) of LeakCanary.

[2020-01-15 08:25] #1722 closed

[2020-01-20 17:44] lordplagus02 opened #1727 "Bugsnag implementation causes build error in Release mode"
### Description
Using Bugsnag with LeakCanary in the documented fashion causes a build error in release mode.

**Expected behavior:** Release build ignores leakcanary artefacts and dependents.

### Version Information

* LeakCanary version: 2.1
* Android OS version: N/A
* Gradle version: 3.5.3

### Additional Information

This seems to be due to the removal of the `releaseImplementation` plugin in

[2020-01-20 21:37] eraguzin opened #1728 "Heap dump timing out"
### Description

Hi, I'm trying the new LeakCanary 2.  I just added `debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.1'` to my app `build.gradle`.  I made sure I have `WRITE_EXTERNAL_STORAGE` permissions defined in my manifest and checked for in my code:

`if (ContextCompat.checkSelfPermission(this, Manifest.permission.WRITE_EXTERNAL_STORAGE) != PackageManager.PERMISSION_GRANTED)

[2020-01-22 04:21] gustavofc1997 commented on #1597
currently i am getting this error     java.lang.RuntimeException: Unable to get provider leakcanary.internal.AppWatcherInstaller$MainProcess: android.content.res.Resources$NotFoundException: Resource ID #0x7f040004
 looks like similar but in this case cannot find a resource , any idea guys?

[2020-01-23 19:08] bsia commented on #1464
For those who end up in this page looking for info, this is the updated fundamentals link:
https://square.github.io/leakcanary/fundamentals/

[2020-01-24 19:23] pyricau commented on #1727
Bugsnag is only meant at a place to send leaktraces to when LeakCanary is running. LeakCanary should only run in debug, so Bugsnag should only be configured that way in debug builds.

The [doc](https://square.github.io/leakcanary/recipes/#uploading-to-bugsnag) has this:

[code]

All the bugsnag + leakcanary config code should be in your debug folder.

We could add more explicit statements about th

[2020-01-24 19:25] pyricau commented on #1728
Thanks for reporting this issue @eraguzin !

You shouldn't need the WRITE_EXTERNAL_STORAGE permission, as LeakCanary by default writes to the app folder and won't ask for the external storage permission (unless you configured it to do so).

Is this happening on just one device or many? How about emulators?

[2020-01-24 19:26] pyricau commented on #1597
@gustavofc1997 please file a separate issue and provide the full stacktrace.

[2020-01-24 19:32] pyricau opened #1730 "Make it easy to use AppWatcher even in production code"
One of the advantages of the no-op artifact was that it was possible to sprinkle the RefWatcher in the codebase without worrying about debug sources or DI. Wondering if we can bring back that convenience without the bad.

[2020-01-24 19:32] pyricau opened #1731 "Detecting ViewModel leaks?"
ViewModels have a lifecycle (they get "cleared), so I wonder if we can automate the detection of view models leaking or at least provide some utilities.

[2020-01-25 20:59] eraguzin commented on #1728
Hi, I only have one device to try it out on.  Is there an option to make sure it's writing to the app folder?

[2020-01-26 18:48] pyricau commented on #1728
There's an option for asking the permission vs not: `LeakCanary.Config.requestWriteExternalStoragePermission`. However currently LeakCanary will automatically write to the sdcard if the permission is granted.

I wonder if the issue is related to the sdcard though. Maybe you could try removing the sdcard permission from the app in your device app settings and see if the problem is still happening.

[2020-01-28 15:52] lordplagus02 commented on #1727
How should I configure bugsnag with leakcanary without including these dependencies in your Application class on release build? There doesn't seem to be an alternative to configuring it. Additionally, I use Bugsnag for error reporting too so I have it compiling in both debug and release modes. If I don't include leakcanary in my Application class, the build fails, which is exactly what happens in

[2020-01-29 00:20] pyricau commented on #1727
See the documentation: https://square.github.io/leakcanary/recipes/#configuration

=> it shows you how to create a **debug** application class so that you can configure LeakCanary thee.

[2020-01-30 12:47] Scyter commented on #1612
I'm still receiving this crash for both 2.0, 2.1 leakcanary version. Using tablet with 8.0 and 8.1. App is not instant, no support libs in project.

java.lang.RuntimeException: Unable to get provider leakcanary.internal.AppWatcherInstaller$MainProcess: kotlin.KotlinNullPointerException
        at android.app.ActivityThread.installProvider(ActivityThread.java:6304)
        at android.app.ActivityTh

[2020-01-30 18:26] pyricau commented on #1612
@Scyter based on line numbers this look like the stracktrace in from 2.0. Can you repro with 2.1 and share the stacktrace from it?

[2020-01-30 18:30] adamfit opened #1735 "java.lang.NoSuchMethodError on obfuscated instrumentation tests"
### Description

FailTestOnLeakRunListener does not appear to function at all in instrumentation tests when obfuscation is enabled.

### Steps to Reproduce

Run the following command on master (revision 2aacb8b46) of this project:
~`./gradlew leakcanary-android-example:connectedCheck -Pminify`~

**Expected behavior:**

Tests pass

### Version Information

* LeakCanary version: 2.1
* Android OS ver

[2020-01-30 18:56] pyricau commented on #1735
Can you reproduce that with the sample app?

[2020-01-30 21:03] adamfit commented on #1735
Isn't `leakcanary-android-sample` the sample app? Oh I guess I typoed above. The command is:
` ./gradlew leakcanary-android-sample:connectedCheck -Pminify`

[2020-01-30 22:39] #1731 closed

[2020-01-31 00:09] pyricau commented on #1735
Reproduced with `./gradlew leakcanary-android-sample:connectedCheck -Pminify` :

[code]

[2020-01-31 00:12] pyricau commented on #1735
Looking into this, InstrumentationLeakDetector is in the test APK and the AppWatcher.Config.copy is in the main APK. @adamfit pointed me to https://slackhq.github.io/keeper/ and it looks like it's exactly solving that issue.

I need to double check, but if that's the case I don't think LeakCanary can do anything about it except documenting. Otherwise we'd have to make it keep all APIs, which isn't

[2020-01-31 00:39] pyricau commented on #1735
I set up Keeper but it did not infer the proper rules, most likely because of https://github.com/slackhq/keeper/issues/18#issuecomment-580522161

[2020-01-31 15:34] iWillBeUnderYourBed opened #1736 "EOFException: Leak analysis failed"
[2020-01-31_15-24-10_199.zip](https://github.com/square/leakcanary/files/4140175/2020-01-31_15-24-10_199.zip)

### Description

Leak analysis fails with an EOFException.
Stacktrace :

[code]
## Steps to Reproduce

.hprof file attached

### Version Information

* LeakCanary version: 2.1
* Android OS version: 21 i think
* Gradle version: 5.4.1

[2020-01-31 18:50] pyricau commented on #1736
Thanks! I was able to reproduce.

I tried opening the hprof with Yourkit, and got the following error:

![image](https://user-images.githubusercontent.com/557033/73565785-28f06080-4417-11ea-9cc0-6cd55affdeae.png)

I then tried opening it with Android Studio and it started reading it then close the memory profiler without any kind of explanation.

It looks like the heap dump is invalid, ie Android

[2020-01-31 18:50] #1736 closed

[2020-02-03 02:43] ZacSweers commented on #1735
Gave this a spin and unfortunately I think keeper is working correctly here. That dependency is an androidTest dependency only, not in the main APK (so keeper's use here is irrelevant). I was able to get Py's repro branch working with the below patch

[code]

[2020-02-04 03:32] pyricau commented on #1735
We chatted some more and it seems likely that defining release builds wouldn't trigger this bug.

[2020-02-04 06:55] orenktaboola opened #1738 "App crash because of hprof file is 0 bytes"
### Description

We have an app that implement your sdk. in some cases the app crash with a message that the prof file is 0 bytes.

### Steps to Reproduce

We don't have steps to reproduce

**Expected behavior:** [What you expect to happen]
The app not to crash in this case

### Version Information

* LeakCanary version: 2.1
* Android OS version: 6
* Gradle version:

### Additional Information

Th

[2020-02-05 03:25] eraguzin commented on #1728
I tried making an emulator, but my app is Bluetooth focused and hard to get full functionality through the emulator.  I did remove the `WRITE_EXTERNAL_STORAGE` and it seems to be working better.  I still get

`2020-02-04 22:18:51.169 27312-27397 D/LeakCanary: Check for retained objects found 8 objects, dumping the heap`
`2020-02-04 22:18:51.215 27312-27397 D/LeakCanary: WRITE_EXTERNAL_STORAGE perm

[2020-02-05 04:44] eraguzin commented on #1728
Although I still keep getting

`Dumped heap file is 0 byte length`

Every once in a while.

[2020-02-05 14:33] pyricau commented on #1728
Yes the check for permission is systematic. So it looks like the writing to sdcard was failing. But even without that you're still getting failures. Could you try install the sample app from this repo to your special that's been failing, and see if that app fails heap dumps as well?

[2020-02-05 18:14] pyricau commented on #1730
I tried playing with this but couldn't find a meaningful way to do this.

[2020-02-05 18:14] #1730 closed

[2020-02-05 18:19] pyricau commented on #1728
I just tried running the sample app with sdcard permission on, on an emulator, and it worked.

[2020-02-05 18:19] #1727 closed

[2020-02-05 18:20] pyricau commented on #1712
Going to close this until someone can repro / provide more information.

[2020-02-05 18:20] #1712 closed

[2020-02-05 18:21] pyricau commented on #1711
Closing. Contributions welcome to support Windows.

[2020-02-05 18:21] #1711 closed

[2020-02-05 18:22] pyricau commented on #1593
Looks like this is done!

[2020-02-05 18:22] #1593 closed

[2020-02-05 18:23] pyricau commented on #1597
I'm going to close this for now, and lock comments. If you can reproduce this with a sample project then please open a new issue and provide the sample project.

[2020-02-05 18:23] #1597 closed

[2020-02-05 18:49] pyricau opened #1742 "Heap Dumps screen: "Dump now" and "delete all" not refreshing UI"
### Description

We need to refresh the UI after heap dumps have been deleted or a new analysis is done.

[2020-02-05 18:50] #1719 closed

[2020-02-05 18:50] #1738 closed

[2020-02-06 04:29] eraguzin commented on #1728
So I open this sample app on my phone and then run my app?  Without including LeakCanary in the build.gradle settings?

[2020-02-06 14:36] pyricau commented on #1728
No I meant for you to run the sample app (which includes LeakCanary) and see if this problem also happens in the sample app, which would indicate that it is device specific.

I don't have many other ideas unless you can provide me with a way to reproduce, e.g. an APK or something like that.

[2020-02-06 22:21] Armaxis commented on #1593
LeakCanary 2.2 is out along with Android TV support!

[2020-02-06 22:48] Armaxis opened #1745 "Dokka reports a lot of warnings"
Run following commands and enjoy the stream of warnings from Dokka:
[code]
Review errors and see if any of them can be properly resolved or safely ignored.

Full report:
[dokka log.txt](https://github.com/square/leakcanary/files/4168109/dokka.log.txt)

[2020-02-07 00:22] nmanuchintapalli opened #1746 "Disable Leakcanary 2.0 logs on Android Studio's Logcat"
After updating from 1.6. to 2.0, Android Studio's Logcat is completely filled with LeakCanary Analysis logs making it almost impossible to use it for anything else. Is there a way to disable this?

[2020-02-07 00:22] #1746 closed

[2020-02-07 00:25] thrlr123 opened #1747 "Disable LeakCanary 2.0 logs in Android Studio's Logcat"
After updating from 1.6. to 2.0, Android Studio's Logcat is completely filled with LeakCanary Analysis logs making it almost impossible to use it for anything else. Is there a way to disable this?

[2020-02-07 15:25] Armaxis commented on #1747
Hello!
It's very interesting, what kind of logs are exactly polluting the logcat output? LeakCanary should only be logging important information, like watching retained objects and heap dump process/results. There **shouldn't be** anything spamming the logs.
Can you please provide example of those logs that you see a lot for us to take a look? It might be a bigger issue hiding somewhere there.

An

[2020-02-07 15:43] Armaxis commented on #1745
Looks like a lot of warnings are because of linking to another modules.
There are possible solutions here: https://github.com/Kotlin/dokka/issues/157

[2020-02-07 18:00] thrlr123 commented on #1747
Attaching a few screenshots of the logcat, these are just a few of them. Thanks for the reply.

![Screen Shot 2020-02-07 at 8 52 41 AM](https://user-images.githubusercontent.com/15134212/74053400-9872cc80-4990-11ea-8eb4-201f2bcc0080.png)
![Screen Shot 2020-02-07 at 8 52 52 AM](https://user-images.githubusercontent.com/15134212/74053402-990b6300-4990-11ea-801f-330f6be719d9.png)
![Screen Shot 2020-0

[2020-02-07 19:03] pyricau commented on #1747
@thrlr123 While you can certainly disable the LeakCanary logger, in this case you most likely shouldn't. What's going on here is that LeakCanary is doing a better job at detect leaks, more specifically fragment view leaks.

See https://square.github.io/leakcanary/fundamentals/#common-causes-for-memory-leaks and https://stackoverflow.com/questions/59503689/could-navigation-arch-component-create-a-f

[2020-02-07 19:03] #1747 closed

[2020-02-10 13:14] emartynov commented on #1582
I don't know if it is related. I got today:
[code]

[2020-02-10 17:44] thrlr123 opened #1748 "Disable LeakCanary Logs"
This comment suggests that a no-op logger should be set in the **Debug** version of the application and has a link to [Configuration recipe](https://square.github.io/leakcanary/recipes/#configuration) that doesn't have any documentation on how to pass this logger to AppWatcher or LeakCanary. Can you please update the documentation or comment/reply to this thread on how this can be done?

Here's th

[2020-02-10 19:26] Armaxis commented on #1748
Configuration recipe talks about setting up `/debug` source set.
Setting no-op logger is done like this:
[code]
I don't think it's necessary to add it to documentation, since it's not a good practice to completely disable LeakCanary logs. Their sole purpose is to report and bring attention to existing leaks.

[2020-02-10 23:53] pyricau commented on #1582
@emartynov if you can reproduce and can provide a hprof, then please open a new issue. If not, there's nothing I can do :)

[2020-02-11 00:03] thrlr123 commented on #1748
Okay! Once I have this logger object, how is this passed or set in the config? I could find any setter method in there to pass this to @Armaxis

[2020-02-11 00:04] Armaxis commented on #1748
You don't need to send it to config - it is set in `SharkLog.logger`.
Are you using Java or Kotlin?

[2020-02-11 00:04] thrlr123 commented on #1748
Java:

SharkLog.Logger logger = new SharkLog.Logger() {
        @Override
        public void d(@NotNull String s) {

        }

        @Override
        public void d(@NotNull Throwable throwable, @NotNull String s) {

        }
    };

[2020-02-11 00:09] Armaxis commented on #1748
Try this:
[code]

[2020-02-11 00:14] thrlr123 commented on #1748
Yeah! I already tried that it and I am seeing couldn't find setLogger method.
![Screen Shot 2020-02-10 at 4 13 14 PM](https://user-images.githubusercontent.com/15134212/74202099-5fe92200-4c20-11ea-8991-13df652dcffe.png)

[2020-02-11 00:25] Armaxis commented on #1748
That's weird. If you go inside the source code of SharkLog class what do you see? Can you copy it here?
Also, what version of LeakCanary are you using?

[2020-02-11 00:29] thrlr123 commented on #1748
Using
[code]

This is what I'm seeing inside SharkLog class:
[code]

[2020-02-11 00:30] emartynov commented on #1582
Happened once today. No way I can find how to repro it. So please ignore it.

[2020-02-11 00:31] Armaxis commented on #1748
Ok, everything looks correct (by the way, there's `2.2` available now).
Try doing clean build or wiping your cache. Setter is there, I can use it from my code without problems

[2020-02-11 00:32] thrlr123 commented on #1748
Not sure what was missing earlier, but it seems to work now. Thanks for the help.

[2020-02-11 00:33] Armaxis commented on #1748
Yeah, probably cache issue and old artifacts confusing the build.
Anyway, look into fixing those leaks!
I'm closing this issue now, reopen if there are any other problems with logger

[2020-02-11 00:33] #1748 closed

[2020-02-12 00:22] thrlr123 opened #1751 "Documentation on setting up/ adding watcher is a little ambiguous"
https://square.github.io/leakcanary/getting_started/

This link states that once the dependency is added LeakCanary is running on startup.

Whereas https://square.github.io/leakcanary/recipes/#watching-objects-with-a-lifecycle this link here states that AppWatcher.watch can be added in onDestroy() of a fragment or a view when there are instances to be garbage collected.

Does this mean that after

[2020-02-12 00:49] pyricau commented on #1751
Thanks! You just found a bug in the documentation :)

Fragment support didn't exist originally. Now it exist. We need to remove `fragments` from that list.

[2020-02-12 14:15] Scyter commented on #1612
@pyricau , I've find out problem. It was Linux kernel issue. At least for now it looks so.

[2020-02-12 17:47] thrlr123 commented on #1751
Oh! okay. That makes sense. Thanks for the clarification.

[2020-02-13 04:45] eraguzin commented on #1728
Sorry, it took a while for me to get the chance.  I cloned the repo  and started the app and got the leaks to dump.  I still got the errors.  See my output below:

[code]

[2020-02-13 08:16] Walll-E opened #1754 ""Couldn't find outer class" with Proguard but not R8"
[code]

[2020-02-13 16:39] #1751 closed

[2020-02-13 16:41] pyricau commented on #1728
ah, interesting.

What's the output of this command:

[code]

I'm trying to determine if the size is still 0, or if it was 0 but soon after it got properly dumped.

[2020-02-13 16:43] pyricau commented on #1728
Note: you might encouter a permission issue, in which case you can run this:

[code]

[2020-02-13 16:45] pyricau commented on #1754
This looks like a bug in desugar, which you should file to Google. Can you provide details on the version of Gradle you used and its configuration, as well as the version of LeakCanary? Also ideally if you could reproduce this with a sample project and provide it, it would be helpful. Without all this information there's not much we can do.

[2020-02-14 14:05] eraguzin commented on #1728
Yes, I did get a permissions issue, but I couldn't get past it:

[code]

[2020-02-18 12:21] EricLi22 commented on #1754
I have the same problemg . @pyricau
distributionUrl=https\://services.gradle.org/distributions/gradle-4.4.1-all.zip
classpath 'com.android.tools.build:gradle:3.1.4'
Android Studio 3.5.3
 debugImplementation 'com.squareup.leakcanary:leakcanary-android:2.2'

[2020-02-18 13:46] epetrenko commented on #1359
@pyricau I think that I have the same issue on Samsung device with Android Q:

[2020-02-18 13:59] epetrenko commented on #1359
@pyricau I'm not sure that this is the same issue, but I have the following on Samsung device with Android Q, also related with `InputMethodManager`:
[code]
There is a fragment with `EditText`. It's enough to focus it to show keyboard and click back button (`findNavController().navigateUp()` is called) and repeat this a few times to reproduce this leak.

[2020-02-18 21:40] DanteNguyen1008 commented on #1359
I dont know what is wrong with samsung's keyboard but I fixed the issue by requesting focus on any view (root view in my case) at next screen then it clear the holding.

[2020-02-19 01:05] pyricau commented on #1728
sorry, I meant `run-as com.example.leakcanary`

[2020-02-19 01:06] pyricau commented on #1754
Can you reproduce this with a sample project?

[2020-02-19 01:07] pyricau commented on #1359
I don't know if it's the same, but given that this was closed you should open a new issue if you want someone to look at it.

[2020-02-19 17:44] K1rakishou opened #1755 "Crash " java.lang.RuntimeException: Parcelable encountered ClassNotFoundException reading a Serializable object (name = leakcanary.internal.activity.screen.GroupListScreen)""
Can't say why it's happening or when because I got this crash via automatic crash report system.

[code]

OS info: Android 10, sdk version: 29
Gradle version: com.android.tools.build:gradle:3.5.3
LeakCanary version: com.squareup.leakcanary:leakcanary-android:2.2

[2020-02-20 17:10] pyricau commented on #1755
Ah, that's interesting. GroupListScreen has been renamed. That being said, it was never stored to disk, so I really don't understand how we got an intent send with an extra pointing to an old class name.

Maybe an update? Or maybe one app sending it to another app??

[2020-02-21 04:04] eraguzin commented on #1728
Ok, did it again and got a 0 byte dump.  Here's what I get:

`ali:/ $ run-as com.example.leakcanary
1|ali:/data/data/com.example.leakcanary $ ls -lh files/leakcanary/2020-02-20_23-02-25_710.hprof
-rw------- 1 u0_a243 u0_a243 20M 2020-02-20 23:02 files/leakcanary/2020-02-20_23-02-25_710.hprof
ali:/data/data/com.example.leakcanary $`

Doesn't look like it outputs anything.

[2020-02-21 16:40] Macarse opened #1757 "Turning off leakcanary in debug builds?"
Hey! I am upgrading to 2.x

With the previous version, my app was doing the following:
[code]

`isLeakCanaryEnabled()` went against a preference.

The use case is the following: I am using a debug build, but I don't care about LC and I would like to disable it.
Since LC 2.0 installs automagically, is there a way to turn it off apart from removing the dep in the gradle file?

Thanks!

[2020-02-21 21:59] Macarse commented on #1757
I just found a way to turn it off with:

[code]

Closing.

[2020-02-21 21:59] #1757 closed

[2020-02-21 23:16] pyricau commented on #1757
Also documented here: https://square.github.io/leakcanary/recipes/#disabling-leakcanary

[2020-02-22 07:05] pyricau opened #1759 "Ignoring unloaded classes"
Android can unload and reload classes. Currently the LeakCanary heap dump parser assumes there's only one class object for each class. Unfortunately we've found cases where there are two objects for the same class, one of which referencing instances that cannot be found, leading to crashes.

Possible approaches:

* Only keep classes referenced by sticky class GC Roots. On Android all classes curre

[2020-02-23 17:26] Armaxis commented on #1745
https://jeroenmols.com/blog/2020/02/19/dokka-code-documentation/
Related article on setting up multinodular

[2020-02-24 19:41] tevjef opened #1761 "Deobfuscation plugin fails to create tasks on Android Gradle Plugin 3.6"
### Description

[code]

https://github.com/square/leakcanary/blob/25a10fcd9f405235de63bd791ea4ae4eb5453924/leakcanary-deobfuscation-gradle-plugin/src/main/java/com/squareup/leakcanary/deobfuscation/LeakCanaryLeakDeobfuscationPlugin.kt#L76

It looks like the R8 and Proguard tasks got renamed on AGP 3.6 to `minify{variant}WithR8`

### Steps to Reproduce

1. Update to the latest stable version of An

[2020-02-24 22:59] pyricau commented on #1745
Also, Dokka should link Android classes to the Android doc reference

[2020-02-24 23:20] pyricau opened #1763 "Detect leaking threads"
Threads don't have a clear lifecycle, so there's no easy way to know when a clear should be GCed, unless they get exited but that's usually not causing leaks.

One idea we had with @Armaxis is to detect threads that are alive and running but shouldn't be. It cannot be generic but we can create custom detection based on known thread patterns. For example, a HandlerThread gets work posted from handl

[2020-02-24 23:20] pyricau commented on #1763
Maybe we can have something similar for executors as well.

[2020-02-27 09:57] LyCharlie commented on #1354
I have same problem, if I use proguard I got leakcanary, if I use R8 I got jackson problem : (

[2020-02-27 20:13] gromovadarya90 opened #1765 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 10:40] smallgirl opened #1767 "To solve Unable to get provider leakcanary.internal.LeakCanaryFileProvider"
this Issue https://github.com/square/leakcanary/issues/1597
because the project include  `apply plugin: 'android-aspectjx'`
remove it ，it's work ok
or use
`apply plugin: 'android-aspectjx`
`aspectjx {
    exclude 'com.squareup'
    exclude 'leakcanary'
}`

[2020-02-28 19:50] pyricau commented on #1767
Hi,

Please provide a sample project that reproduces this. In any case this sounds like a bug in android-aspectjx so you migh want to file a bug there.

[2020-02-29 01:24] ligi opened #1768 "java.lang.ArrayIndexOutOfBoundsException"
### Description

was just letting the monkey runner running on my app and got this leakcanary crash;

[code]

### Version Information

* LeakCanary version: 2.2
* Android OS version: 26

[2020-02-29 01:38] ligi opened #1769 "lateinit property closeable has not been initialized"
### Description

Just got this crash with leakcanary when running the monkey runner:
[code]

### Version Information

* LeakCanary version: 2.2
* Android OS version: 26

[2020-02-29 04:04] smallgirl commented on #1767
this is the sample project  https://github.com/smallgirl/leakcanaryaspectjx.git @pyricau

[2020-03-02 03:42] LinXiaoTao opened #1770 "Why is shark more memory-efficient than haha? Is it because of okio?"

[2020-03-02 06:50] Armaxis commented on #1770
A lot of work went into Shark which is a complete rewrite of the tool: it works directly with bytes chunks instead of creating objects fo every entry in the heap dump, therefore saving tons of allocations and memory. @pyricau gave a talk a while ago describing how he achieved this - I think it's this one: https://www.droidcon.com/media-detail?video=362742252

Oh, and there's no Okio there :) LeakC

[2020-03-02 06:59] LinXiaoTao commented on #1770
@Armaxis
Thank you for your answer, I will go and see that video.
But, shark depends on okio 😂
[code]
[code]

[2020-03-02 07:00] Armaxis commented on #1770
Oh, my bad! My tired brain is playing jokes on me 😂

[2020-03-02 07:01] #1770 closed

[2020-03-02 07:13] Armaxis commented on #1769
It looks like view gets detached before we initialize `closeable` inside `executeOnIo` block. Probably changing it to a billable reference is a sufficient fix.

By the way, what's your use case here with 🐒 runner? Does it click on the notification and open LeakCanary report screen by accident or you do this purposefully? Would you prefer not to have notification pop up when you use monkey runner?

[2020-03-02 22:11] pyricau commented on #1768
The crashing line is:

[code]

The error has: `ArrayIndexOutOfBoundsException: length=5; index=-1`

So it looks `backstack.size` returned 0 (=> index=-1) however how in that case is the length 5?

[2020-03-02 22:15] pyricau commented on #1768
The length is 5 because that's the size of the ArrayList backing array, however the list itself had a size of 0.

This error happened because we go back async after the deletion is done executing, and in the meantime the monkey moved us elsewhere.

[2020-03-02 22:35] pyricau commented on #1768
A quick fix would be to check the backstack size in goBack() and no-op when 0.

However, the real issue here is that the user performed some action after another action that had another async effect.

So we can:

* Check the backstack size in goBack() and no-op when 0.
* Block any UI input from happening while we're performing the background work.
* Cancel the goback if the user decides to go some

[2020-03-03 05:11] lamster2018 commented on #1530
@hmcgreevy-instil
may be you can try use this
https://github.com/lamster2018/EmptyLeakCanary

i try to support same package class to you to solve your problem.

[2020-03-03 05:14] lamster2018 commented on #979
sometime we only have one single testing team to test release version of apk.

https://github.com/lamster2018/EmptyLeakCanary

i try to support same package class to solve problem.

[2020-03-04 11:06] hmcgreevy-instil commented on #1530
@lamster2018 thanks for providing! We ended up following @pyricau suggestion of using a debug only application class extending our existing application class, and declared in the debug android manifest, worked a treat!

[2020-03-09 16:15] wusadurski opened #1772 "LeakCanary replaces android:banner with its own banner on Android TV in release builds"
### Description

I have noticed multiple times that TV Launcher banner icon was replaced by LeakCanary icon in release builds. We include LeakCanary in release builds specifically to perform long-running automated tests in an environment close to production. I just wanted to know if this replacement is intentional to warn users that they should not be including LeakCanary in release builds or is i

[2020-03-09 16:33] Armaxis commented on #1772
Thanks for bringing this to our attention!

No, LeakCanary is not supposed to replace app's launcher icon. We set our custom `android:banner` only on the activity alias for `leakcanary.internal.activity.LeakActivity` and it shouldn't be interfering with your app's banner!

That being said, Android TV had some problems in the past with the banners, in particular [there's an issue that prevented sec

[2020-03-11 17:22] npike commented on #1529
I am still seeing this crash on 2.2 when restarting the app using Process Phoenix.  Any ideas?

[2020-03-11 17:23] emartynov commented on #1529
What do you see in the log?

[2020-03-11 17:29] npike commented on #1529
Here's the stacktrace:

[code]

[2020-03-11 17:49] emartynov commented on #1529
Do you disable LeakCanary providers in the manifest? Probably not otherwise it would not start at all.

[2020-03-11 18:00] npike commented on #1529
In our app when a certain compile time feature flag is enabled, we manually disable leakcanary like so:

[code]

From the stacktrace it would seem that calling `showLeakDisplayActivityLauncherIcon` while in the ProcessPhoenix process is the issue... so as a workaround for now it looks like I can wrap this in `if (!ProcessPhoenix.isPhoenixProcess(context)) {`

[2020-03-12 23:41] pyricau opened #1773 "Fundamentals should explain what a library leak is"
Someone asked this really good question on Stack Overflow: "what are library leaks?"

https://stackoverflow.com/questions/60491449/what-are-library-leaks-in-leakcanary

[2020-03-14 13:06] lamster2018 commented on #1301
@codeccc
may be you can try use this
https://github.com/lamster2018/EmptyLeakCanary

i try to support same package class to you to solve your problem.

[2020-03-16 12:48] jinyulei0710 commented on #1464
@ltym2016 did you solve this ?

[2020-03-17 07:47] SusionSuc commented on #1662
l slove this problem with multidex in android 4.3

[2020-03-18 21:13] pyricau commented on #1770
Okio did help with the streaming approach, but the entire architecture of shark is what makes it more efficient. Plus a lot of local optimizations.

[2020-03-18 21:16] #1761 closed

[2020-03-18 21:29] pyricau opened #1777 "Add support for LeakCanary 2 in Flipper"
Related: https://github.com/facebook/flipper/issues/832

We should update the LeakCanary plugin in Flipper to work with v2

[2020-03-19 14:44] #1769 closed

[2020-03-19 15:45] pyricau commented on #1768
I tried slowing down the DB write and wasn't able to repro. updateUI() is ignored if the view has been detached. So I'm not sure I understand exactly how we triggered this.

[2020-03-19 19:36] pyricau commented on #1767
Thanks, I was able to reproduce, this is definitely an issue in the gradle_plugin_android_aspectjx library, I filed an issue there: https://github.com/HujiangTechnology/gradle_plugin_android_aspectjx/issues/249

[2020-03-19 19:36] #1767 closed

[2020-03-19 20:24] pyricau commented on #1755
Closing as likely a fluke, not sure how this happened

[2020-03-19 20:24] #1755 closed

[2020-03-19 20:27] pyricau commented on #1754
Closing due to no response. Happy to take a look if someone can provide a sample project that reproduces this issue.

[2020-03-19 20:35] RobertoMorelos commented on #1464
As stated by @bsia, in the fundamentals you can get the the reason and the solution (very clear tbh). If none of you guys want to go there, basically what you need to do is

[2020-03-19 20:52] #1768 closed

[2020-03-19 22:12] pyricau commented on #1735
Keeper 0.2 fixes this issue!

[2020-03-19 22:35] pyricau commented on #1728
In that output you shared, this is the interesting bit: `20M` . Which means a non 0 file size.  The one thing I find a little weird is that in the earlier logs the file name was `2020-02-12_23-37-44_261.hprof` whereas the `ls` here is for `2020-02-20_23-02-25_710.hprof`.

If would be great if you could confirm you saw `Dumped heap file is 0 byte length` for that hprof as well, or repro the issue a

[2020-03-19 22:36] #1742 closed

[2020-03-19 23:01] #1735 closed

[2020-03-20 03:46] eraguzin commented on #1728
Yes, I canconfirm that hprof gets that message as well.  Do you think you're not giving it enough time to dump?  Maybe just extending it past 8 seconds?

[2020-03-20 14:49] pyricau commented on #1728
Yes, the problem is that most of the time it's a blocking call and when it returns the dumping is done, and then we have edge cases like this one where it returns early but I have no idea how long we should wait. 2 seconds, 8 seconds, 30 seconds?

[2020-03-20 18:16] #1773 closed

[2020-03-26 09:25] xnfreedom opened #1787 "How to use on makefile compile app"
Could you offer doc to guide us using leakcanary with makefile compile app?
I have added leakcanary with android aosp  app with makefile. Leakcanary could not detect memory leak, even after manually trigger hprof dump.

leakcanary version: 2.2
app source: Android_10/packages/apps/Gallery2
The make file: Android.mk
The compiled apk: Gallery2.apk
[app.zip](https://github.com/square/leakcanary/files/

[2020-03-26 17:30] pyricau commented on #1787
Hi,

Makefiles are not the standard way that Android apps are built, it's only specific to AOSP.  There's nothing specific about LeakCanary here, you're looking for instructions on how to add a library to an AOSP app. You should ask the AOSP team.

[2020-03-26 17:30] #1787 closed

[2020-03-27 17:51] jordantrain opened #1788 "Unable to get analysis: LeakCanary.Config.dumpHeap is false"
### Description

I am unable to get an analysis after installing Leak Canary in my app.
I get these two lines in my Log Cat:

"Scheduling check for retained objects because found new object retained"
"Ignoring check for retained objects scheduled because found new object retained: LeakCanary.Config.dumpHeap is false"

So no dump is performed and no analysis carried out.

Using debugImplementation

[2020-03-30 06:07] oliviernotteghem opened #1789 "Running heap analysis in separate process does not invoke custom OnLeakFoundCallback callback"
### Description

Not sure if this is the expected behavior or not. I was expected to have background process trigger callback on the main process with leak analysis data.

### Steps to Reproduce

1. Follow https://square.github.io/leakcanary/recipes/#running-the-leakcanary-analysis-in-a-separate-process
2. Use a app that has custom OnLeakFoundCallback callback
3. Make sure dumpHeapWhenDebugging is

[2020-03-30 09:00] sprintuu opened #1790 "How to get leakinfo in leakcanary 2+"
How to get leakinfo in leakcanary 2.0 or up version?
in the 1.0+ i can override DisplayLeakService.afterDefaultHandling to save leakinfo,but in the 2.0+ ii can only implements OnHeapAnalyzedListener to get the HeapAnalysis

[2020-03-31 08:40] NicolaChimerapps commented on #1772
2. At least on the emulator, other devices not tested yet

[2020-04-02 15:07] jaromirbeatty24 opened #1791 "Removing Leaks App"
Can you tell me how to get rid of Leaks App, I do not need it on my phone at all.

[2020-04-02 22:21] dumpman545 opened #1792 "This was not authorized"
I did not authorize this app or extension or whatever it is to be installed on my device. Furthermore I do not like the fact that my Amazon Music icon on my home screen was changed to this and now when I try to launch Amazon music this pops up. So please explain to me how and why this app suddenly appeared where my Amazon music app should be. Thank you. Also why do I have to sign up for an account

[2020-04-02 23:03] Armaxis commented on #1791
Hello!
I believe, you had Leak Canary icon appear with recent update of Amazon Music app.
`Leak Canary` is a development tool that is not supposed to be included in the app when it is released to market. However, developers can make a mistake and add it to the app by accident!
Unfortunately, there's nothing we can do on our end to fix it. It is Amazon who should make an update and remove `Leak Can

[2020-04-02 23:03] #1791 closed

[2020-04-02 23:05] Armaxis commented on #1792
Hello!

`Leak Canary` is a development tool that is not supposed to be included in the app when it is released to Play Store. Apparently, Amazon developers made a mistake and added it to latest update in a way that it replaced the real app's launcher - that's why it launches Leak Canary instead of Amazon Music.

Unfortunately, there's nothing we can do on our end to fix it. It is Amazon who should

[2020-04-02 23:05] #1792 closed

[2020-04-02 23:07] dumpman545 commented on #1792
That should be your job. You designed it. FIX IT!!

On Thu, Apr 2, 2020, 7:05 PM Artem Chubaryan <notifications@github.com>
wrote:

[2020-04-02 23:18] Armaxis commented on #1792
Imagine bringing your car to mechanic to fix engine. They will jack it up, connect a troubleshooting system to analyze error code, fix things and return it back to you. Car = 'Amazon Music', Mechanic = 'Amazon', Troubleshooting system = 'Leak Canary'
In this case you got your car back with this troubleshooting system still connected to it, and it takes a lot of space (probably half of the car), so

[2020-04-02 23:22] dumpman545 commented on #1792
I've been a heavy equipment mechanic for 30 years. The analogy sucks.
Amazon like Toyota and the Big 3 are going to take forever to address the
issue. I'm asking for a quick fix.

On Thu, Apr 2, 2020, 7:18 PM Artem Chubaryan <notifications@github.com>
wrote:

[2020-04-02 23:29] Armaxis commented on #1792
Ah, I tried my best with this analogy.
But that doesn't change the fact that there's absolutely nothing we can do on our end to fix it. Even if we could release some kind of fix Amazon would still have to pick it and make another release on their end. We don't have any way to push updates to their apps, and there's no server-side config that we could change.
`Leak Canary` is just a library that Am

[2020-04-08 19:26] DanteNguyen1008 commented on #1081
Anyone has any update about this leak. Google has locked the issue tracker thread and leak has been happening a lot on my app. :(

[2020-04-13 06:51] roman-nevr commented on #1754
I have the same issue with Proguard but with R8 everything is fine

[2020-04-13 07:05] roman-nevr commented on #1754
https://github.com/roman-nevr/LeakCanaryFailSample

[2020-04-13 07:49] roman-nevr commented on #1754
@pyricau https://github.com/roman-nevr/LeakCanaryFailSample

[2020-04-15 20:40] P1NG2WIN opened #1796 "LeakCanary not install and crash if i try to enable it"
### Description

I added LeakCanary to my project through `debugImplementation 'com.squareup.leakcanary: leakcanary-android: 2.2'`, however I do not have a LeakCanary application and the Logcat also empty. If I try to execute `LeakCanary.showLeakDisplayActivityLauncherIcon(true)` then I get a crash `lateinit property application has not been initialized`

### Steps to Reproduce

I don’t know exact

[2020-04-15 21:10] P1NG2WIN commented on #1796
Okay, I understand why LeakCanary didn't work for me. After install version 1.6 and tried to start the application, I got the error `Component class com.squareup.leakcanary.internal.DisplayLeakActivity does not exist` and after google it turned out that the reason for everything was the line` tools: node = "replace" ` in my app manifest. By removing it, it worked. Please add note about this node i

[2020-04-15 21:10] #1796 closed

[2020-04-16 12:26] antoniomerlin commented on #1728
[code]

on Device Moto-g4 plus Android version 7.0

[2020-04-16 16:02] ckesc opened #1797 "Crash on upgrade 2.0 → 2.2"
### Description
Got crash when open LeakCanary activity after upgrade from 2.0 to 2.2.

[code]

### Steps to Reproduce
1. Get dump with 0 leaks. E.g. when refs was collected
2. Upgrade to app with LeakCanary 2.2

### Version Information

* LeakCanary version: 2.2
* Android OS version: Android 10
* Gradle version: 6.3

### Additional Information
I verified in debugger that elements have zero elemen

[2020-04-17 07:56] antoniomerlin commented on #1728
[code]

[2020-04-17 08:55] antoniomerlin opened #1798 "Heap analysis failed: OutOfMemoryError"
### Description

[code]

### Version Information

[code]

[2020-04-17 12:32] antoniomerlin commented on #1798
[code]

[2020-04-17 21:44] nobeh opened #1799 "ArrayIndexOutOfBoundsException in MutableByteSubArray"
### Description

Trying to run the example at https://square.github.io/leakcanary/shark/#generating-a-heap-analysis-report on **11G** hprof file (not from Android but a Java process):

[code]

Unfortunately, due to privacy, I am not able to share the heap dump here.

### Version Information

* LeakCanary version: 2.0
* Android OS version: not applicable
* Gradle version: not applicable
* Kotlin: 1

[2020-04-19 13:53] ckesc commented on #1797
@pyricau Looks like you did not consider this rare but still happening case. I wanted suggest fix via PR, but not sure about your idea: can I make `fromV20` return nullable type?

[2020-04-21 23:12] pyricau commented on #1788
Hi @jordantrain ! Sorry for the delayed response. This seems to be the source of the issue:

Do you have any code referencing LeakCanary, or did you simply add the dependency?

Any chance you could come up with a repro case in a sample app?

If you filter the logs, you should find a log early on app start that indicates that dumpHeap was set to false and hopefully you can figure out why.

[2020-04-21 23:22] pyricau commented on #1789
Thanks for the bug report, and sorry for the delay.

Currently, the callback (`OnHeapAnalyzedListener`) must be set in the background process and will be invoked in the background process.  Then you'll need to send that result back to the main process your own way.

To be honest, I didn't think this through too much when I ripped out the old code that used a second process. I think the proper appr

[2020-04-21 23:24] pyricau commented on #1790
Great question!

OnHeapAnalyzedListener provides you with a HeapAnalysis on which you can call toString(), which will provide you with the equivalent of "leak info" in LekaCanary 1.

We should definitely document that!

[2020-04-21 23:33] pyricau commented on #1792
Well tried with the analogy @Armaxis ! @dumpman545 I hope Amazon Music fixed this and things got back to normal for you, we tried raising a big stink but I haven't seen much of a response. I don't know exactly how they managed to get things this wrong, if they did tell us we could work on preventing this from happening in the future.

[2020-04-21 23:44] pyricau commented on #1798
Can you share a heap dump that reproduces this issue? Without a heap dump, we can't investigate it.

[2020-04-21 23:46] pyricau commented on #1797
Thanks for the detailed error. Rather than making `fromV20` return a nullable type, I think you can change this line:

[code]

and add a check, when elements is empty this should be empty list.

[2020-04-21 23:49] pyricau commented on #1799
Thanks for the report! I've worked on making LeakCanary JVM compatible, but it definitely lacks enough real usage to find and fix edge cases.

If you can't share the hprof, any chance you could investigate what's going on and offer a fix, or reproduce with a sample program that creates a huge hprof?

[2020-04-22 12:21] runningcode commented on #1046
Refiled the bug since the original was closed. Please star the issue here: https://issuetracker.google.com/issues/154639612

[2020-04-22 12:48] mrsasha commented on #1792
@dumpman545 I might have another analogy: imagine if you went to the McDonald's drive-thru and you orderered a big mac with fries and Coke. then you get home and see that they put a Fanta in there, and then you complain to the Coca Cola inc. that they should change your Fanta to Coke.

Even in this analogy, Coca Cola inc has more power to change things because they could theoretically stop selling

[2020-04-22 20:20] CDRussell opened #1801 "LeakCanary can't dump heap on Android R devices when targetSdkVersion <= 28"
### Description

When running an app which targets SDK 28 (or probably anything lower), LeakCanary fails to dump the heap when executing on Android R device (currently tested against most recently available DP2 version)

### Steps to Reproduce

1. install app from https://github.com/CDRussell/LeakCanaryHeapDumpProblem
1. run app on Android R device, and rotate the screen a few times to deliberatel

[2020-04-22 20:34] CDRussell commented on #1801
Looks like [behavioral changes to Scoped Storage might be the culprit](https://developer.android.com/preview/behavior-changes-11) and there's different behavior depending on whether the app targets 29 vs lower levels

[2020-04-22 21:17] monsieurtanuki commented on #1798
I've just had the same kind of crash. I have a 60Mb .hprof file. Interested?

[code]

[2020-04-23 10:09] WinterHuang003 commented on #1157
May be you are using aspectjx on the same time. So you need to add content:

android{
    ...
}
aspectjx {
    ...
    exclude 'com.squareup.leakcanary'
}

at app/buid.gradle

Then  clean  or  Invalidate Caches /Restart  ,if it work ,let me kown

As same as the issue #1597[https://github.com/square/leakcanary/issues/1597](url)

[2020-04-23 10:10] WinterHuang003 commented on #1157
@pyricau @Armaxis

[2020-04-23 10:33] KidAndroid opened #1803 "i debugCompile 2.2 successful,but i can“t see anythings on the leaks app"
### Description

i am so sorry, i use this function first time . maybe i do not right. i use dbugCompile 2.2, build tools is 25.0.2 and support.appcompat.v7 25.3.1,i run my app successful and i can use leaks app, but i can‘t see any message, i  am sure my app have leak, I don't know how to work out this. i can't find any answer on line.

[Description of the issue]

minify if false , jdk 1.8

### V

[2020-04-23 22:26] pyricau commented on #1798
Yes, if you could share the file at `/storage/emulated/0/Download/leakcanary-app.breathingin.heartcoherence.full/2020-04-22_23-05-27_811.hprof` before it's gone :) (or another one that reproduced that issue)

[2020-04-23 22:32] pyricau commented on #1803
Hi @KidAndroid . Can you provide the output of Logcat, filtered on "LeakCanary" ?

[2020-04-23 22:32] #1797 closed

[2020-04-23 22:40] pyricau opened #1804 "LeakCanary should crash in release builds"
Sometimes developers ship LeakCanary in release builds by accident, their users see the LeakCanary icon and get really confused.

We should introduce a new default behavior where if the `leakcanary-core-android` artifact ships in a non debuggable app, LeakCanary automatically crashes on app startup. This will make it much more likely that the issue is detected early.

The check should rely on `Int

[2020-04-23 22:41] pyricau commented on #1804
This is another way to solve what #1793 is trying to solve, at runtime instead of via Lint.

[2020-04-23 22:43] pyricau commented on #1046
btw I started some exploration here: #1758

[2020-04-24 01:01] KidAndroid commented on #1803
[leakLogcat.txt](https://github.com/square/leakcanary/files/4526077/leakLogcat.txt)

[2020-04-24 06:45] consp1racy commented on #1801
We should always use MediaStore on R+, it has new constants for Downloads directory.

https://commonsware.com/blog/2019/12/21/scoped-storage-stories-storing-mediastore.html

[2020-04-24 06:54] consp1racy commented on #1610
So it's only happening when the debugger/profiler/whatever is attached and doesn't happen i production, right?

[2020-04-24 09:13] monsieurtanuki commented on #1798
@pyricau https://drive.google.com/file/d/1CjcfNWsOGYFAi2k-v29XNPPiRVwT_Oa_/view?usp=sharing

[2020-04-24 09:48] Guneetgstar commented on #1610
LeakCanary as of v2.0+ can only be used as a debugImplementation in gradle and is not installed in release artifacts. Thats why you may not see these logs in production but that doesn't mean the leak is gone, if this is what you mean.

[2020-04-24 09:56] consp1racy commented on #1610
Recently a popular app decided `implementation` is fine and included LeakCanary in production. So no, LeakCanary *can* be included wherever you want and nothing is going to stop you.

My point is that

sounds like it's connected to Android Studio. That wouldn't be a concern in production.

This definitely is a library/Android SDK leak, I'm just pitching information for the leak description.

[2020-04-24 10:52] hadilq commented on #1799
I'm interested in this issue, but I'm not sure if I understand it correctly! Should we implement  `HprofInDiskIndex` to use instead of `HprofInMemoryIndex` for this case? Then maybe some configs to switch to this option may solve this problem, yes? To test it we just need to check that this new implementation would work as `HprofInMemoryIndex` works but of course slower! In the end, having a `Hpro

[2020-04-24 11:01] Guneetgstar commented on #1610
@consp1racy Then I would say I must test its release version as well before commenting on that.
In the mean time I want to mention a similar leak I found while I was recreating this leak. I hope that both the leaks are same  but differs in traces due to some reason, what's remarkable is that _the other one is already an identified leak by LeakCanary._ Check [this](https://github.com/Guneetgstar/Le

[2020-04-24 11:10] Guneetgstar commented on #1610
https://github.com/Guneetgstar/LeakEditText/issues/1#issue-606233950

[2020-04-24 11:31] consp1racy commented on #1610
That's a totally different leak, just follow the trace. C'mon, if LeakCanary says it's a different leak then it is a different leak. Have some trust, it's the tool's job, it's been doing that for years.

[2020-04-24 12:04] Guneetgstar commented on #1610
Yeah, obviously I trust LeakCanary that's why I use it. But what makes me doubtful is that how could a leak can disappear in a similar implementation with same config. If you see, these two leaks are different but the one disappears in the other implementation.

[2020-04-24 17:29] Guneetgstar commented on #1610
Anyways @consp1racy [this](https://github.com/square/leakcanary/issues/1804#issue-605919629) issue doesn't seem to comply with what you said.

[2020-04-24 19:20] Guneetgstar commented on #1610
And not just the concerned one but as per my test LeakCanary is not able to trace any single leak in my release builds! This includes the [one](https://github.com/Guneetgstar/LeakEditText/issues/1#issue-606233950) I mentioned earlier.

[2020-04-24 23:22] pyricau opened #1805 "Surface a few config booleans in LeakCanary activity"
A common source of confusion is whether LeakCanary is currently activated / working (e.g. #1803)

I think we could add that information to the 3rd (info) tab of LeakCanary. Something tthat shows whether object tracking & heap dumping are turned on, and maybe even with a string explaining why the value is set (e.g. "build is non debuggable", "tests detected", "config changed via code")

[2020-04-24 23:23] pyricau commented on #1803
The logs you shared show this: `LeakCanary.Config.dumpHeap is false`

That means that LeakCanary is disabled. There should be logs indicating whether LeakCanary is enabled or not.

Can you provide the logcat from the app start? LeakCanary should output more logs on app start indicating why it's turning off heap dumping.

[2020-04-24 23:27] pyricau commented on #1798
Thanks!

I need to find time to look into that. Here's what I'd do, if someone is interested:

* Open the heap dump with profiler on to check the memory footprint and confirm it's out of the ordinary. The logs indicate only 11Mb left, so figure out what exactly took all the space.
* Open the heap dump with Android Studio as well as YourKit, to see how these behave.

[2020-04-24 23:35] pyricau commented on #1799
Great question! In theory LeakCanary can handle large heap dumps anyway because it never loads the entire heap dump in memory, the whole point is to keep low memory usage. Though there can definitely be edge cases we haven't found yet.

That being said, here, we're not running out of memory, we're trying to write past the UnsortedByteEntries.entries array size. That's not supposed to happen, as th

[2020-04-25 01:31] pyricau commented on #1610
A few notes:

* LeakCanary disables object watching in release builds, though you can reenable that. So in release builds it won't detect anything, and soon we'll make it crash as a default.
* When the debugger is attahed, LeakCanary won't dump heap. So we know that wasnt the case here.
* LeakCanary displays just one path, there could be another path from a different root. However thread locals ha

[2020-04-25 13:22] Guneetgstar commented on #1610
Thanks @pyricau for your points they are always helpful.

I can share the hprof if that could help.

And Yup, I tested the release build with `AppWatcher` enabled and the leak was gone. I did it as I thought if there is another path for the leak I can see with profiler disabled but that was not the case.

The last thing I am still wondering is that how is it possible for a library leak to go away

[2020-04-25 18:35] Amokrane commented on #1805
Hi @pyricau,

I would like to help on this one.

[2020-04-25 20:22] Guneetgstar opened #1807 "Heap analysis failed for Obfuscated App"
### Description

I ran the app from android studio setting up [LeakCanary for obfuscated apps](https://square.github.io/leakcanary/recipes/#using-leakcanary-with-obfuscated-apps) and it failed during heap analysis. I turned off obfuscation in `progaurd-rules.pro` and it worked.
[code]

### Steps to Reproduce

hprof:
[2020-04-25_23-53-20_181.hprof.zip](https://github.com/square/leakcanary/files/453

[2020-04-26 08:32] KidAndroid commented on #1803
i look at the logs, i find have file will save on sdCard, that i launch leaks and to load, i can see some message now. thank for your help. i had to knew what means about the message.

[2020-04-26 08:43] KidAndroid commented on #1803
i had see some user said ，the tools will show a dialog on find leak, but i not find. i can only use .hprof file. i really dependent success?

[2020-04-26 15:09] Amokrane commented on #1805
Hi,

I sent a first draft PR. Please let me know if I am heading in the right direction. Happy to iterate on it and make improvements (both on style & correctness).

A few questions:
- I was hesitant about where to place the message. Do you have a better suggestion? (may be at the bottom of the About screen?)

- Are these the only cases? You mentioned the "tests detected", but couldn't find in the

[2020-04-27 23:30] pyricau commented on #1610
This isn't the same leak. Here the problem most likely comes from `com.android.tools.profiler.support.event.InputConnectionWrapper`, sounds like maybe you used the profiler?

[2020-04-28 00:00] Guneetgstar commented on #1610
I think you got me wrong. Let me clarify.
* There is just one leak in this activity.
* This is a completely different 'expected-library leak' due to profiler.
* There has to be another library leak with trace similar to [this](https://github.com/Guneetgstar/LeakEditText/issues/1#issue-606233950) as well hence taking the total to 2 leaks in this activity (because configs for both the tests are same

[2020-04-28 00:08] pyricau commented on #1807
Can you provide a deobfuscated stacktrace?

[2020-04-28 00:09] pyricau commented on #1803
Sorry, I really don't follow. Is your problem solved? What logs did you get on startup?

[2020-04-28 00:15] pyricau commented on #1805
Ah, I saw your response after seeing the PR :) .

For the message, I think you found the right place, but it could be a separate text view or at least spaced out and a full sentence that explains a bit more what's going on. E.g. "Heap Dumping is current *disabled*, because xxx"

With regards to tests, check out leakcanary.internal.InternalLeakCanary#disableDumpHeapInTests . More generally I'd look

[2020-04-28 00:20] Armaxis commented on #1805
Just left some feedback on PR too!

[2020-04-28 00:24] pyricau commented on #1610
Sorry, I'm confused, I don't really follow. The leak trace you shared at the top is related to the profiler. Are you saying its not?

[2020-04-28 00:43] Guneetgstar commented on #1807
You mean trace with obfuscation disabled? Yeah, sure here it is:-

[code]

[2020-04-28 00:51] Guneetgstar commented on #1610
No, you are absolutely right!
I am saying that in addition to this one there must be 1 more leak, how could the other go away after all thats a library leak? Is that possible? I am just asking if you don't mind!

[2020-04-28 08:18] Mkohm opened #1809 "Detekt-hint integration"
Hi!

I am working on a tool for detection of violations on design principles in my master thesis (read more about it here: https://github.com/Mkohm/detekt-hint), and is looking for an open source project where I can integrate my tool for some feedback and testing. Would you welcome such an integration? It would mean a lot, and I hope it can continue to improve the maintainability of this project.

[2020-04-28 09:44] lixiaogang03 commented on #1081
I found the same problem in Android P

[2020-04-28 14:46] Amokrane commented on #1805
Thanks a lot for your comments on the PR @pyricau @Armaxis, I will iterate on it and push a new request soon.

[2020-04-28 23:56] Amokrane commented on #1805
Sent a new PR.

- I moved the text into a different TextView and pushed at the bottom of the screen.
- I distinguished between the two cases where heapDump is disabled: when tests run vs. when the app disables it.

Please let me know if this is correct now. Happy to iterate again otherwise.

Thanks!

[2020-04-29 01:44] Armaxis commented on #1809
Hello!
Wow, this looks interesting! I'd like to give it a try, but on a fork, so that we don't break master if somethings goes wrong.
We currently do not have github actions set up, but feel free to fork LeakCanary and set it up to work with your integration. Then we can give it a spin and see if it's ok to be merged to main branch!

[2020-04-29 08:12] KidAndroid commented on #1803
i  solved.

[2020-04-29 10:52] Mkohm commented on #1809
Thanks!

I have created a PR on my fork (https://github.com/Mkohm/leakcanary/pull/1) showing how it will work. Please take a look!

[2020-04-29 17:54] hassanrana opened #1810 "how to setup this library in my project?"
Please provide up to date documentation that how to setup this library in my project as there is no available on readme file.Thank you

[2020-04-30 23:15] pyricau commented on #1807
haha no, I meant keep obfuscation on but deobfuscate the stacktrace. Proguard generates a mapping.txt file that you can use to deobfuscate stacktraces. You probably already do that when looking at crash reports.

I can't investigate the stacktrace you shared as it's all obfuscated. But if you deobfuscate (or share your proguard's mapping file for that crashing build) then I might be able to.

[2020-04-30 23:18] pyricau commented on #1610
I'm really sorry but I'm completely lost. You initially shared a single leak, which was classified as Application Leak. I don't understand which one is "the other one", how it's a library leak and what it has to do with the profiler leak.

[2020-04-30 23:20] #1803 closed

[2020-04-30 23:39] pyricau commented on #1809
The LeakCanary code definitely isn't perfect, but it generally strikes a balance of pragmatism vs good design. I'm a little bit afraid that this would litter PRs with feedback, generating noise.

[2020-04-30 23:41] pyricau commented on #1810
https://github.com/square/leakcanary/blob/master/README.md

[2020-04-30 23:41] #1810 closed

[2020-05-01 07:07] Mkohm commented on #1809
I see your point. It is easy to "ignore" a comment, or press "resolve conversation". Do you still think it would generate to much noise?

To reduce the noise, what do you think about implementing a two-way communication mechanism for the bot. A feature where the bot gives rule specific options like "Allow high LCOM for this class", "Allow switching on this enum", "Allow subtypes of this class", th

[2020-05-01 14:33] pyricau opened #1811 "Wrap lines in text LeakTrace"
The text representation of the leak trace can have very long lines, especially for text descriptions. Based on stack overflow it seems pretty clear that people don't read those long lines.

Let's wrap the content within LeakTrace.toString(). Might as well just take the max width of whatever stack overflow can currently display in a code block => 80 characters?

[2020-05-01 15:05] Guneetgstar commented on #1610
Just look at the trace [here](https://github.com/Guneetgstar/LeakEditText/issues/1#issue-606233950) and compare it with the above one. Even though these two are completely different, you will find few points common:
* Both has the same device configs.
* Both has a leaking `AppCompatEditText`.
* (Explicitly) Both the leak traces are from the same build variant i.e. debug.

While the leak trace here

[2020-05-01 17:13] Guneetgstar commented on #1807
Ok I got it. Here it is:-
[code]

[2020-05-01 17:31] pyricau commented on #1809
It's not a bad idea either but it'll be a while until we've got most things covered.

I'm much more conservative than most when it comes to checks, ie I want checks that are 100% correct and always lead to action. If I ignore a check, the check was bad and is an annoyance. We've been playing with Detekt in LeakCanary and honestly I'm not convinced that the codebase is much better for using it (whi

[2020-05-01 17:38] pyricau commented on #1610
Thanks! I understand now.

A few things to consider:

* A leak is typically a bug in code, related to lifecycle. Somewhere a reference to something isn't cleared when it should be cleared.
* The bug is rarely directly in the class that leaks. E.g. here AppCompatEditText happens to leak in both cases yet there's probably nothing wrong with the code in AppCompatEditText.
* At runtime there can be ma

[2020-05-01 17:51] pyricau commented on #1807
Thanks!

Though we don't have line numbers, it looks like this might be the failing line:

[code]

This would imply that the fragment doesn't have a `mFragmentManager`. Assuming the LeakCanary plugin is doing its work, LeakCanary should know what class this is / and what the actual name for mFragmentManager is.

What's really confusing to me, however, is that from what I can see you've been using

[2020-05-01 20:01] Guneetgstar commented on #1807
My project is in production and and not open source so I don't think sharing the `mapping.txt` would be a good idea. Is there any other way to resolve it?

[2020-05-01 20:23] Guneetgstar commented on #1610
Ok, thanks for all of your points.

Your first point hit me so well that I just tested my app one more time exactly the same way I tested [this](https://github.com/Guneetgstar/LeakEditText/issues/1#issue-606233950) and I found that the other(referred) leak is still there and I was not able to see it earlier was all because of the lifecycle of the application as you mentioned as _[this](https://git

[2020-05-01 20:39] pyricau commented on #1807
I'm assuming you got this in a debug / QA build (since LeakCanary is on) and hopefully that APK isn't in production. Every distinct build should yield a different mapping.txt with different class names so sharing that should not impact the security of your production build.

That being said, I totally understand if you'd rather not share it. In that case, would you mind at least sharing what the `

[2020-05-01 21:07] Guneetgstar commented on #1807
I didn't find any mapping to `android.support.v4.app.Fragment` in `mapping.txt` perhaps coz as you said I am using AndroidX so this shouldn't be here either. But I did find this:-

[code]

[2020-05-01 21:52] Guneetgstar commented on #1610
For the description I would add that `InputConnectionWrapper ` holds `EditableInputConnection.mTarget` and hence the `mContext ` only until a new view asks for keyboard input

[2020-05-01 22:12] pyricau commented on #1807
Ok. Am I finding Fragment.y in the hprof, and looks slike it might indeed be the fragment manager.

Would you mind trying again with this configuration:

[code]

This should remove the crashing inspector (which you shouldn't need anyway), and I'm curious to know if something else will crash next or if that's the only place where you have an issue.

[2020-05-01 22:43] #1804 closed

[2020-05-01 22:57] pyricau commented on #1805
Fixed by #1808

[2020-05-01 22:57] #1805 closed

[2020-05-01 23:04] Guneetgstar commented on #1807
No, heap analysis still fails after adding the given code into the `Application.onCreate`.

[2020-05-01 23:09] pyricau commented on #1807
Cool, but does it fail with the exact same unobfuscated stacktrace? Probably not, so what's the new stacktrace?

[2020-05-01 23:13] Guneetgstar commented on #1807
As per I understand you are saying that from the hprof, you are think that `Fragment.y` has a different mapping from what I gave above.
This could be the reason as the hprof you are looking is the old one. Progaurd might have changed the mapping to this new build.

[2020-05-01 23:15] Guneetgstar commented on #1807
I was about to add that even the stacktrace looks no different. Here it is:
[code]

[2020-05-01 23:36] Guneetgstar commented on #1807
No but the de-obfuscated tells a different story:-
[code]

[2020-05-01 23:50] #1790 closed

[2020-05-01 23:51] pyricau commented on #1807
The stacktrace is definitely different, `shark.c$b$a.a()` vs `shark.c$o$a.a()`. No idea what that could be without the unmapping though.

[2020-05-01 23:56] Guneetgstar commented on #1807
I have already done that and posted the same but deleted as this was expected:
[code]

[2020-05-02 00:00] pyricau commented on #1807
so, it really looks like the mFragmentManager field can't be found, which would imply that there's a bug in how LeakCanary deobfuscate the field. I'm not sure where to go from here (cc @mzgreen )

[2020-05-02 08:24] mzgreen commented on #1807
Hey!
@Guneetgstar can you verify that the mapping file has been copied into the apk? You  can do it by drag n dropping the apk into AS, it'll open apk analyzer. Then look inside `assets` directory.
There should be a mapping file:
![image](https://user-images.githubusercontent.com/6561747/80859183-f5fc7980-8c5e-11ea-8fc0-0e948f28c442.png)

[2020-05-02 18:43] Guneetgstar commented on #1807
@mzgreen I am installing the app using App bundle not APK. Although, I have analysed the app bundle and I can see something like a mapping file, but I think this is not the one we are looking for:

![image](https://user-images.githubusercontent.com/20682846/80872900-89bb5d80-8cd2-11ea-9a09-5ccb903647fc.png)

[2020-05-02 18:55] Guneetgstar commented on #1807
Ok so I think we just found the problem. I just tested the app installing the APK and the LeakCanary deobfuscation plugin works just fine, which means the the problem lies with App bundles as it doesn't include the progaurd-mapping file in it.

[2020-05-02 19:11] mzgreen commented on #1807
Thank you for checking! I haven't tested it with app bundles. I'll check if we can make it work with aab. In the meantime I pushed a change that improves plugin initialization, so you may check the snapshot build when it's merged.

[2020-05-03 08:55] mzgreen commented on #1807
@Guneetgstar I've just checked with this latest change I made and it worked in my project. I've build aab and I have the mapping file inside:
![image](https://user-images.githubusercontent.com/6561747/80909896-3aa21680-8d2c-11ea-8394-40903b574e9f.png)
I hope it'll work for you too. Also please make sure that your LeakCanary gradle plugin config is correct (check if you're passing proper variant na

[2020-05-03 12:07] Guneetgstar commented on #1807
Thanks @mzgreen ! Will check it as soon as the changes  are merged and released. And As I said the plugin is working well with the APK already shows that its gradle plugin config is correct (at least the variant name that you mentioned).

[2020-05-04 09:28] seljad opened #1819 "PhoneWindow leaking in empty Activity"
Hi, When I receive this error on leakcanary, I removed All methods and views, But this error still showing. Why this error must appear in an empty Activity?

[code]

[2020-05-04 20:13] pyricau commented on #1819
In general I'd advise getting help from StackOverflow, though here I'm it's very unclear what the cause could be

* Can you provide a sample project that reproduce this?
* Can you provide the hprof file?
* What's the Android OS version and LeakCanary version?
* Is this a Samsung device?

I can't find MultiWindowDecorSupport in the Android source, so this doesn't look like a bug in AOSP. Seems simi

[2020-05-04 20:36] pyricau commented on #1807
@Guneetgstar Can you try again with the snapshot build?

https://square.github.io/leakcanary/faq/#how-do-i-use-the-snapshot-version

[2020-05-04 21:18] pyricau commented on #1801
I just created an emulator running R and I can't reproduce the issue, both with the provided sample as well as with LeakCanary's sample

Logcat shows the expected log:

[code]

This means the permission is missing and LeakCanary won't try to use the sdcard. In the example you provided, it looked like that check passed and LeakCanary had decided it could use the sdcard, and then that didn't work.

[2020-05-04 21:20] pyricau commented on #1801
To be very clear, I do agree that we need to migrate to Scoped Storage on R+ so that apps that target API 11 can keep using LeakCanary (contributions welcome!). However this issue is about apps that target API <=28 on Android R.

[2020-05-04 22:16] CDRussell commented on #1801
![Screenshot_20200504-231005](https://user-images.githubusercontent.com/1336281/81018766-12660500-8e5d-11ea-946d-f2d207a41234.png)

Looks like they've updated the docs! Here's a screen grab from the old docs page. You're right that it's probably a DP2-specific issue. I'll test it out with DP3 when I can and report back.

[2020-05-05 06:40] Guneetgstar commented on #1807
@pyricau Thanks for the reference! I just tried to see it working with the snapshot build but I am having a problem particularly to that. Is there any change related to configuring LeakCanary in release builds coz just enabling it manually is not working anymore for me?

![image](https://user-images.githubusercontent.com/20682846/81040528-2d6e5e80-8ec9-11ea-95a8-d88674bde926.png)

[2020-05-05 09:46] CDRussell commented on #1801
Tried again and I'm still seeing the same issue (same stack trace as reported) on latest version of R on my device.

Is it possible the behavior is different on an emulator vs real device for this? 😕

**Device Details**
Pixel 2
Build Number: RPP3.200320.017 (most up-to-date available)

[2020-05-05 17:55] pyricau commented on #1807
@Guneetgstar you just ran into a new check that will ship in the next release: https://github.com/square/leakcanary/pull/1806 (cc @cketti). We added this because Amazon Music shipped LeakCanary on the app store.

The doc hasn't been updated yet, but here's the latest from master: https://github.com/square/leakcanary/blob/master/docs/recipes.md#leakcanary-in-release-builds

TL;DR: add this:

[code]

[2020-05-05 18:07] pyricau commented on #1801
Ok!

When you wrote:

Can you share what exactly does LeakCanary write? Is that the stacktrace you already shared?

The thing I find surprising is that if I follow your instructions, then the app doesn't have the runtime permission. LeakCanary checks that it has the permission, and if it doesn't have it it logs that it doesn't (which is fine!) and the stores the heap dump in the app storage instea

[2020-05-05 18:45] Guneetgstar commented on #1807
@pyricau And how do you think this could stop Amazon Music from doing it (pun intended)?

[2020-05-05 18:50] cketti commented on #1807
@Guneetgstar: It stopped you, didn't it? The goal is to stop people from accidentally including LeakCanary in release builds, not to make it impossible. That's why there's a way to do it anyway. But you have to opt-in for that.

[2020-05-05 19:04] Guneetgstar commented on #1807
@cketti Well, It stopped me just like it did earlier (Only until I got to know I can do it)!
In my opinion it would make this happen even easier as earlier you can completely avoid it by just creating a new/different build for QA and say call a function which enables `LeakCanary` only in that build not in others. But now it's just hardcodded. In am promoting this idea as developers already use thi

[2020-05-05 20:05] Guneetgstar commented on #1807
Bdw its working! Thanx @mzgreen @pyricau for resolving the issue!

[2020-05-05 21:34] pyricau commented on #1807
Closing, looks like we've solved both issues (support fragment inspector triggering for no reason & mapping file not included)

[2020-05-05 21:34] #1807 closed

[2020-05-06 15:37] CDRussell commented on #1801
Yeah, that's pretty much what was shared earlier, but I'll attach the full output here that happens from app launch.

@pyricau, what's the easiest way to debug and step through `LeakCanary` to try get you more information? It never tries to dump when I have the debugger attached.

<img width="1945" alt="Screen Shot 2020-05-06 at 4 33 36 PM" src="https://user-images.githubusercontent.com/1336281/81

[2020-05-06 17:17] consp1racy commented on #1801
(Come to think of it, what's the point in using public storage anyway? Sharing from LeakCanary got some upgrades over the years...)

[2020-05-06 18:08] pyricau commented on #1801
Try `LeakCanary.config.dumpHeapWhenDebugging = true`

@consp1racy The main advantage is that if you uninstall / reinstall the hprof file is still there. In LeakCanary 1 the heap analysis was stored as a file so it survived reinstalled, but in 2 it's stored in SQLite so it disappears anyway.. Also it doesn't count towards the app size, though not sure how exactly that matters. Also sometimes the ap

[2020-05-06 20:27] CDRussell commented on #1801
<img width="684" alt="Screen Shot 2020-05-06 at 9 06 54 PM" src="https://user-images.githubusercontent.com/1336281/81223797-82e85f80-8fde-11ea-9367-aa98bbe18fd3.png">

The problem is somewhere in amongst the files created by that method.

    private fun externalStorageDirectory(): File {
        val downloadsDirectory = Environment.getExternalStoragePublicDirectory(DIRECTORY_DOWNLOADS)
        re

[2020-05-06 23:19] pyricau commented on #1801
Wow. That seems like a bug worth reporting to AOSP, right?

Are you able to repro on an R emulator or just your pixel 2?

[2020-05-06 23:27] pyricau commented on #1801
Actually, just one thing: https://developer.android.com/reference/java/io/File#canWrite()

So, given that, it would make sense that File.canWrite() returns false given that the file wasn't created yet.. Maybe that's not the issue at hand here?

true if and only if the file system actually contains a file denoted by this abstract pathname and the application is allowed to write to the file; false o

[2020-05-06 23:55] CDRussell commented on #1801
Good point! so `canWrite()` isn't really useful at all.

And I now know why me and you were seeing different results. And you might hate me a little... 😅

So turns out that on my Pixel 2, `/storage/emulated/0/Download/leakcanary-com.duckduckgo.myapplication` existed in the file directory. Probably from when experimenting with target SDK 29.

So the code would have failed to create this directory,

[2020-05-07 00:07] CDRussell commented on #1801
If you really want to reproduce my scenario

1. Set targetSdkVersion=29
1. Run the app; cause a heap dump once
1. Notice it creates a dir in the public storage directory `/storage/emulated/0/Download/leakcanary-com.duckduckgo.myapplication`
1. Set targetSdkVersion=28
1. Run the app; cause a heap dump
1. Observe the hprof failing to write because of permissions issues

[2020-05-07 05:10] marcardar opened #1824 "PackageManager.getLaunchIntentForPackage() returns intent for LeakLauncherActivity"
### Description

PackageManager.getLaunchIntentForPackage() returns an intent for LeakLauncherActivity

### Steps to Reproduce

call PackageManager.getLaunchIntentForPackage()

Activity declaration in AndroidManifest:

[code]

**Expected behavior:**

Should return an Intent for the same Activity as if LeakCanary was not included

### Version Information

* LeakCanary version: 2.2
* Android OS vers

[2020-05-07 23:52] pyricau commented on #1824
According to the javadoc:

AFAIK we need the MAIN action and LAUNCHER category to have the LeakCanary show up in the launcher, right? So I don't think we can really remove that. I'm not sure how `getLaunchIntentForPackage()` sorts activities, here's the source:

https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/app/ApplicationPackageManager.java#212

Which lands

[2020-05-07 23:55] JakeWharton commented on #1824
You don't need MAIN.

[2020-05-08 20:28] pyricau commented on #1801
Interesting! I wonder, is this a potential bug that should still be reported to AOSP? targetSdkVersion can be reverted in app upgrades (e.g. a roll forward if that target upgrade went bad).

I'm also a bit confused: I thought this would become forbidden with target 29. How comes it "works" when targeting 29 but then not 28? This is all really confusing to me. I probably missed something.

[2020-05-08 20:44] pyricau commented on #1824
Welp, I tried commenting out `<action android:name="android.intent.action.MAIN"/>` in the intent filter for the activity alias that LeakCanary enables, and the LeakCanary launcher icon disappeared.

Sure looks like I do need `MAIN`? Suggestions welcome on what to change here to keep a LeakCanary launcher icon.

[2020-05-08 20:50] JakeWharton commented on #1824
Oh nevermind it's DEFAULT that you (obviously) don't need. I would expect that flag to be preferred by the API.

[2020-05-09 03:23] marcardar commented on #1824
Is the LeakCanary launcher icon important? Isn't it sufficient to just have it as an app shortcut?

[2020-05-10 05:18] pyricau commented on #1824
Dynamic shortcuts aren't supported on older Android versions, they're less discoverable than launcher icons and there's a max so if an app already has app shorcuts LeakCanary won't add its own.

However, see my previous comment, you can always remove the launcher icon for your own app by redefining the `leak_canary_add_launcher_icon` boolean res to `false`.

[2020-05-10 05:30] marcardar commented on #1824
Wouldn't it be better for default behaviour to not have these kind of impacts?  So make the launcher icon and shortcuts opt-in rather than opt-out. And the documentation for those flags will then says things like "enabling launcher icon might break getLaunchIntentForPackage" and "shortcut will only display on api 25+ AND if there is sufficient space in shortcuts popup".

[2020-05-10 21:09] pyricau commented on #1824
We can certainly document the getLaunchIntentForPackage and dynamic shortcut behaviors.

However, changing the default behavior is a much different story.

First, that change would break all users who have come to rely on having the icon in the launcher. A while ago we tried hiding the icon until leaks were found and that created a lot of confusion.

It's been very helpful for LeakCanary to come w

[2020-05-11 02:14] marcardar commented on #1824
As a first time user of LeakCanary, I found the presence of a Leaks launcher icon to be confusing. And then when you get multiple launcher icons all called Leaks (I have different flavors in my app as well as different apps/projects) it gets even more confusing as you have to guess which one is for which app. IMO, a better solution would be to have a separate Leaks app that scans the package manag

[2020-05-11 02:24] marcardar commented on #1824
In terms of a workaround for this issue, could you add an activity alias of CATEGORY_INFO that points to the real launcher activity?

[2020-05-11 10:07] CDRussell commented on #1801
I'm confused too! 😕

Good question. I'm not sure if the exact problem above of being left in an odd state is strictly Android's fault. LeakCanary looks for the presence of that directory and assumes because it exists that it can write to it. That's a very reasonable assumption to make since nothing else should be creating it. But perhaps there could be more resiliency added to not just checking fo

[2020-05-11 17:15] pyricau commented on #1824
The CATEGORY_INFO flag has to be added to the activity you want picked. So you need to add that to your manifest, to the activity you want.

You can customize the leakcanary icon and label, see the docs.

[2020-05-11 17:17] pyricau commented on #1801
This is the code:

[code]

As you can see, LeakCanary tries to create it then checks the directory is writable

[2020-05-12 13:38] ckesc opened #1826 "Shark CLI: Add --version option"
### Problem description
It's hard to distinguish which version of shark you currently have.

### Potential solutions
Let's add `--version` option to CLI

[2020-05-13 10:20] CDRussell commented on #1801
Oh yeah! So it looks like if you created a directory when targetSDK = 29 and downgrade to 28, that dir shows as writable incorrectly? As in, `canWrite() == true` but it'll throw an exception if you try to write to it. If that's indeed the case, you're right, that's got to be an Android bug.

I'll try find time to make a standalone project showing that exact scenario (that doesn't involve LeakCanar

[2020-05-13 21:42] pyricau commented on #1826
👍 we should probably add that to the default output as well?

[2020-05-13 21:47] pyricau commented on #1801
I'm still confused! How were you able to create the directory when targeting SDK 29? First, you'd need to have the write permission for that folder, and then downgrade to 28 and then remove the permission? But also, I thought when targeting 29 even with the permission you're not supposed to be able to write there, you have to use the special storage?

Is the bug maybe more simply that the app once

[2020-05-14 14:54] ckesc commented on #1826
@pyricau Sounds good!
I can make PR. But not sure is there any way to get current version? Something related to getting own jar manifest info? Or there's a thing similar to Android's Build class?

[2020-05-18 18:39] pyricau opened #1831 "LeakScreen has spinner when only one leak"
When there's only one instance of a leak, the top entry on the LeakScreen is clickable and the time shift around with nothing else happening. We should probably just make that not clickable.

Thanks @jrodbx for asking what this button was about :D

[2020-05-18 20:20] pyricau opened #1832 "manual install should be easier to configure"
* Instead of having to override the provider, that provider should have enabled=@bool/..` and then the bool can be overridden.
* Need to figure out a better story for manualInstall vs config. Currently, if you override the config and also call manual instance then the order matters, ie if manualInstall is called second then the LeakCanary config is initialized to the default disabled.

[2020-05-18 21:57] pyricau commented on #1826
Fixed by #1830

[2020-05-18 21:57] #1826 closed

[2020-05-19 16:26] pyricau commented on #1708
#1709 is an interesting experiment, I'll close it as it's nowhere near mergeable.

[2020-05-19 17:42] #1295 closed

[2020-05-19 17:44] pyricau commented on #1295
Note: I went with the timer based approach rather than relying on signals from the app watcher because that way we don't have a direct dependency on it.

[2020-05-19 21:11] #1824 closed

[2020-05-20 20:05] pyricau opened #1839 "🙏Guest Book 🙏"
This "issue" serves as a guest book. You're welcome to write nice things about LeakCanary, share how it's helped you solve a problem, or name drop companies using it.

Idea came from [this tweet](https://twitter.com/wilkieii/status/1262914563521085442).

I'll keep this issue open, don't hesitate to drop a comment even if it's 5000 years from when I'm writing this.

[2020-05-20 20:14] subhasha1 commented on #1839
Awesome library works like magic.

[2020-05-20 20:21] SubhrajyotiSen commented on #1839
Using it right now on the [Tickertape app](https://play.google.com/store/apps/details?id=in.tickertape). It has been crucial for detecting and fixing memory leaks related to Fragments and RecyclerViews. Thanks a lot for making this

[2020-05-20 20:25] safall commented on #1839
Super easy to use.. fantastic library 😍

[2020-05-20 21:31] FrostRocket commented on #1839
A one-line dependency with no extra setup - I don't see why you wouldn't add this to your debugging toolkit. Been using this in all my personal apps and it's been incredibly helpful -- even finding leaks in AndroidX libraries. Thanks for your open-source contribution PY!

[2020-05-21 15:55] #1832 closed

[2020-05-22 05:08] ZhangQixiangChina opened #1841 "NPE: AndroidResourceIdNames.holderField missing"
[code]

[2020-05-22 19:53] pyricau commented on #1841
Part of the stacktrace is obfuscated, though interestingly file names and line numbers aren't. AndroidResourceIdNames.kt:80 is this: https://github.com/square/leakcanary/blob/v2.3/shark-android/src/main/java/shark/AndroidResourceIdNames.kt#L80

[code]

`AndroidResourceIdNames` has a static field named `holderField` in which we push resource id names at runtime, and then read those from the hprof.

[2020-05-22 21:26] pyricau commented on #1081
Good news! I managed to reproduce the leak here: https://github.com/square/leakcanary/pull/1842

Then I applied a fix: d3769b1cd9392ff05c2f8572bf9c331bd238abcd  and it's working!

The next release of LeakCanary will include a separate artifact that can fix leaks for you, automatically, so ideally I can ship this fix as well.

The main thing to figure out is when to apply it. Fragment destroy? Acti

[2020-05-22 21:27] pyricau commented on #1081
big thanks to @jrodbx (for the reflection code which I used to quickly detect if there was a leak / if the fix was working), @eneim for the repro code, and @emartynov for the almost working fix that involves no reflection.

[2020-05-23 15:01] bishiboosh commented on #1801
FWIW, I've looked a little bit at what using Scoped Storage in Leak Canary would require, and there would be quite a bit to refactor in my opinion because it currently use `File` everywhere and Scope Storage only allows us to get file descriptors.

(just my 2 cents that if this bug is fixable by any other way I think migrating to scoped storage seems quite a bit involved)

[2020-05-23 16:13] emartynov commented on #1081
@pyricau, that was a big surprise for me this morning. I completely forgot about this and super busy with my current job change that I  don't participate in the open-source much (unfortunately).

To be honest, the biggest part of this code I took from @swankjesse somewhere online and just a bit improved it later (if I remember it correctly).

Thank you again for such a great library. Looking forwa

[2020-05-23 21:14] KushtrimPacaj commented on #1839
Very very very useful library.
Have used it since the beginning on the main app of the [HELLO device](https://www.solaborate.com/hello2).

For an app like ours that is the main app of a device _( kind of like a launcher + lots of other stuff ),_ and is opened for the most time that the device is plugged in, **IF** they are leaks, **even very little ones,** they will after some time add up to **OOM

[2020-05-24 08:22] consp1racy commented on #1801
That being said we can probably store the heap dump in app's cache directory, process it there and only then publish it. That should make it a bit easier.

[2020-05-25 10:55] nikhilbansal97 commented on #1839
Interesting library! Got to know about a lot of memory leaks from it! It even helped in pointing out a memory leak when using Fragments with Data Binding which could not have caught otherwise. 👏

[2020-05-25 10:59] nikhilbansal97 commented on #1698
Hi @pyricau! I would like to give it a try if no one is working on it yet.

[2020-05-26 06:04] mzgreen commented on #1841
I think `AndroidResourceIdNames` shouldn't be obfuscated at all. We already have in proguard config here: https://github.com/square/leakcanary/blob/master/shark-android/src/main/resources/META-INF/proguard/shark.pro
It seems like this static `holderField` was obfuscated so maybe this rule is not enough.

[2020-05-26 16:51] andersu opened #1844 "Clickable links in Library Leak descriptions"
### Problem description
When Leak Canary detects a Library Leak it sometimes has links to the commit that introduced it and the bug report for that leak. It would be nice if these links were clickable.

### Potential solutions
Make the links clickable . The text already has other clickable links like the link to `https://squ.re/leaks`. Could we do something similar?

### Additional information
Her

[2020-05-27 00:01] pyricau opened #1845 "Prevent grouping of notifications mixed with app notifications"
https://developer.android.com/guide/topics/ui/notifiers/notifications.html#bundle

As a result, LeakCanary notifications get grouped with the app notifications. We could work around that by setting a distinct group for each LeakCanary notification channel.

Quote from anonymous beer aficionado:

[2020-05-27 00:14] pyricau commented on #1844
This is a great idea, and I believe it was.just implemented in #1825 ;-)

[2020-05-27 14:36] #1844 closed

[2020-05-27 19:01] R4md4c commented on #1839
I love how this lib has become the defacto standard in reporting memory leaks that happens within Google's frameworks, few weeks ago I reported a memory leak in the navigation component and attached a project and a Leak canary stacktrace as a proof.

Recently it got acknowledged, fixed and will be released in the next version of the lib.

[2020-05-29 11:14] stven0king commented on #1841
[code]

[2020-05-29 20:30] pyricau commented on #1841
@mzgreen the one thing I just realized is that this is a different method for embedding the proguard files, in other modules we've put them at the root and added `consumerProguardFiles 'consumer-proguard-rules.pro'` to the gradle config.

What was the rationale for doing it this way, and do you think this might yield different results (e.g. not work with R8, etc)

[2020-05-29 21:01] #1831 closed

[2020-05-30 08:41] mzgreen commented on #1841
`AndroidResourceIdNames` file is in `shark-android` module which is a java library module. According to this: https://developer.android.com/studio/build/shrink-code#configuration-files
Proguard rules should be in META-INF for jar libraries.

I remember that it was crashing for me in the past without those rules so adding them definitely worked. I'm not sure yet, but my suspicion is that `AndroidRe

[2020-05-31 06:32] libill opened #1847 "Only one Activity in Flutter App, How to use leakcanary?"
### Problem description
I have a Flutter App, it contains only one Activity. If I open two Flutter Widget A、B. I close B. B will makes some java leaks. Can I check with leakcanary ?
I have a way to solve it but I don`t want to use. destroyed this Activity and open a new Activity.

### Potential solutions

### Additional information

[2020-05-31 15:02] pyricau commented on #1847
With leakcanary you can watch java instances and confirm that they're being garbage collected. Flutter a dart based which compiles to native code, which isnt managed by the java gc. Somebosy should make LeakCanary for dart.

[2020-05-31 15:02] #1847 closed

[2020-06-01 02:00] sezdmeta commented on #1819
Having the same logs here, did you solve this Seljad?

[2020-06-01 08:38] seljad commented on #1819
No, unfortunately, I haven't found a way yet.

[2020-06-03 08:16] guneetkaur commented on #1788
I am facing the same issue.
I only added the debug dependency in Gradle file. I am getting the following log:
` LeakCanary heap dumping is disabled: LeakCanary.config.dumpHeap = false`

[2020-06-03 16:22] jrgilbert74 commented on #1728
I have this issue on my Moto g6

[2020-06-03 22:50] frist008 commented on #1113
[code]

[2020-06-04 04:25] pyricau commented on #1113
@frist008 we're already documented one way in the doc https://square.github.io/leakcanary/recipes/#icon-and-label :

[code]

Are you suggesting that we should add this other approach as well?

[2020-06-04 04:28] pyricau commented on #1788
@guneetkaur can you filter Logcat on the `LeakCanary` tag and then paste here all of the logs from the beginning of app start?

[2020-06-04 05:36] guneetkaur commented on #1788
Here are the logs
`D/LeakCanary: org.junit.Test detected in classpath, app is running tests => disabling heap dumping & analysis
2020-06-04 11:04:59.323 4693-4693/com.myairtelapp.debug D/LeakCanary: Updated LeakCanary.config: Config(dumpHeap=false)
2020-06-04 11:04:59.323 4693-4693/com.myairtelapp.debug D/LeakCanary: LeakCanary heap dumping is disabled: LeakCanary.config.dumpHeap = false
2020-06-0

[2020-06-04 11:57] stven0king opened #1848 "Update shark.md usage example"
`HeapAnalyzer.checkForLeaks`  this method no longer exists in the new version。
Upload heap analysis to server:
[code]

[2020-06-04 18:54] pyricau commented on #1788
See that first line:

[code]

Normal Android applications don't have `@Test` in their classpath unless they're running test. However, sometimes 3rd party library bring it in as a dependency (e.g. retrofit mock webserver). One way to work around that is that have change the test detection to a different class that is really only used in tests:

[code]

[2020-06-04 21:39] pyricau commented on #1046
Finally got something read! https://github.com/square/leakcanary/pull/1849

[2020-06-04 22:11] pyricau commented on #1841
@stven0king please file a different issue and provide the version number as well as how to repro. thank you

[2020-06-04 22:13] pyricau commented on #1809
Closing for now as it's unlikely that we'll integrate anytime soon.

[2020-06-04 22:13] #1809 closed

[2020-06-04 22:14] pyricau commented on #1801
I'm going to close this issue as it sounds like this has been fixed in the latest release? Let me know if not.

[2020-06-04 22:14] #1801 closed

[2020-06-04 22:15] pyricau commented on #1799
@nobeh have you found time to investigate this some more, or should I close?

[2020-06-04 22:16] pyricau commented on #1788
Closing as this doesn't look like a LeakCanary bug.

[2020-06-04 22:16] #1788 closed

[2020-06-04 23:01] pyricau commented on #1798
So, I just imported the hprof file in LeakCanary running on an emulator:

[code]

Here's the memory graph:

![image](https://user-images.githubusercontent.com/557033/83818532-735f4380-a67c-11ea-9d8e-39ce9d463876.png)

The 3 steps you see here are 35, 46 and then 69Mb. That last spike is a little bit surprising.

[2020-06-04 23:19] pyricau commented on #1798
The first big jump (to about 35Mb) is after parsing. Finding retained objects increases memory a bit, then finding paths to retained objects even more. The last large jump happens when computing retained size (and goes away when that's off)

[2020-06-04 23:26] pyricau commented on #1798
First, looking at the state of memory right after parsing:

* shark.HprofHeapGraph retains 20,524,960b which is mostly in HprofInMemoryIndex
* 12.7Mb hprofStringcache (100K strings), 5Mb instanceIndex (12 bytes per entry, 4b key 8b value => 420K instances), 1Mb objectArrayIndex.

[2020-06-04 23:49] pyricau commented on #1798
By the end of the run the HprofHeapGraph.objectCache holds 18Mb.

Using allocation tracker throughout the "computing retained size" phase: it only shows 3Mb of shallow size allocated, when the graph shows the java heap grew by 29Mb. Weird. Worth nothing is about 500K worth of `Long` which seem to be mostly caused by `shark.internal.hppc.LongLongScatterMap#forEach` calling `Long.valueOf` . I decomp

[2020-06-05 14:06] pyricau commented on #1798
Calls to Long.valueOf() fixed here: #1850

I had used the allocation tracking on an older emulator which was probably sampling allocations. I tried on a more recent one. Full tracking slowed everything way too much, unusable. Sample gave similar numbers.

Another thing I've realized is we're calling `HeapPrimitiveArray.readByteSize` here and reading entire arrays just to know their size. We actual

[2020-06-05 14:24] pyricau commented on #1798
Replacing the byte array reads with reading a thinned version without the full array content had a huge impact on memory usage, "computeRetainedSize" is now completely flat.

https://github.com/square/leakcanary/pull/1850/commits/9be61cd20c098df17c4deb6bb717f63163f8f67b

[2020-06-05 17:21] monsieurtanuki commented on #1798
@pyricau I'm glad you found my hprof useful.
I won't be able to test your fixes though: I changed my code and unfortunately (?) my app hasn't experienced any leak in the last month.

[2020-06-05 18:16] pyricau commented on #1798
Using the allocation tracking on the parsing, I see:

1.5Mb shallow for 50K InstanceSkipContentRecord instances, with similar behavior (a bit lower) for other types of objects. When parsing we need to callback with an object that represents what was read. However, we could add an expectation that this object will be reused and dramatically reuse instance creation. We can limit that to the SkipCont

[2020-06-05 19:23] pyricau commented on #1798
* Next up in parsing is a 2Mb long[] created for LongObjectScatterMap which resizes a few times. The last resize is from to 131073 to 262144 (arrays growing 15 times) to support 99682 elements. We do need a larger array to ensure good performance of the hash table. We can improve on the intermediate growth by introducing a StringSkipContentRecord, count strings being created and presize the LongOb

[2020-06-05 19:26] pyricau commented on #1798
though... I'm not sure I can use java classes without first getting a kotlin class created.

[2020-06-05 20:39] pyricau commented on #1798
Now let's look at the "finding retained objects" step.

* We've got 21K java Long.
* 7K of those are from SortedBytesMap#entrySequence which is a `Sequence<Pair<Long, ByteSubArray>>` (=> 7K pairs created as well) . We could introduce an alternative to Sequence for the internal layers (derp) or reuse a `long` wrapper (since those longs aren't exposed, it should always be sequential even when collec

[2020-06-05 20:56] pyricau commented on #1798
Ok, so let's look at the before / after with all the changes in that PR.

Before

![image](https://user-images.githubusercontent.com/557033/83921911-3eaec300-a734-11ea-9a7c-0cec6cff1564.png)

After

![image](https://user-images.githubusercontent.com/557033/83921612-8da82880-a733-11ea-9943-d3ed2250c638.png)

The overall time seem to have gone down a bit, from ~8.6 seconds to ~8 seconds.

[2020-06-05 21:05] pyricau commented on #1081
👋🏻

[2020-06-05 21:05] #1081 closed

[2020-06-06 05:20] barriosnahuel commented on #1354
Hi! I'm on v2.3 and having a similar issue I think (https://github.com/square/leakcanary/issues/1354#issuecomment-494124482)

Running `./gradlew testapp:assembleRelease` fail because of:

[code]

And if I add `-dontwarn leakcanary.internal.activity.screen.*` to my `proguard-rules.pro` I get an endless proguard execution.

Disclaimer: I'm adding leakcanary dependency as `implementation` because sin

[2020-06-07 20:02] barriosnahuel commented on #1754
Hi!

I added [this comment](https://github.com/square/leakcanary/issues/1354#issuecomment-639986546) on #1354 and then I noticed that this issue is actually very similar to what happens to me.

I'm upgrading from LeakCanary v1.6.3 to v2.3 and Proguard fails with some missing references:

[code]

I tried adding `-dontwarn leakcanary.internal.activity.screen.*` to my `proguard-rules.pro` but then I

[2020-06-07 21:11] pyricau commented on #1841
@mzgreen tried to reproduce this but confirmed that the `AndroidResourceIdNames.holderField` is kept since we have a proguard rule to keep `AndroidResourceIdNames` and it's a `@JvmStatic`. Since we don't have a project to reproduce, there's isn't anything else we can do, so I'm closing this. Thanks!

[2020-06-07 21:11] #1841 closed

[2020-06-07 21:17] pyricau commented on #1754
This looks similar to https://github.com/arrow-kt/arrow/issues/807 which was fixed by https://github.com/arrow-kt/arrow/pull/926 and was apparently caused by https://youtrack.jetbrains.com/issue/KT-16084

The next steps here are to repro with https://github.com/roman-nevr/LeakCanaryFailSample and then change the failing code until the sample passes.

[2020-06-07 21:31] pyricau commented on #1754
@roman-nevr what command do you run to reproduce the failure?

[2020-06-08 19:31] #1046 closed

[2020-06-09 00:47] jarlen commented on #1662
same bug。throw NullPointerException using Context at  calling getResources from Application

[2020-06-09 04:05] pyricau commented on #1662
@jarlen if you have a crash happening on the latest version of LeakCanary please open an issue with the full stacktrace. Your comment here is not helpful.

[2020-06-09 19:34] #1798 closed

[2020-06-09 21:02] #1848 closed

[2020-06-09 21:02] #1819 closed

[2020-06-10 06:32] monsieurtanuki commented on #1798
@pyricau Good job!
I'll remove my hprof file from the web by the end of the week: please make a copy of it if needed.

[2020-06-10 12:04] litrik opened #1856 "MotionLayout leaks nested scrollable view in its mScrollTarget field"
MotionLayout keeps track of any nested scrollable view in its mScrollTarget field. This causes a memory leak when that view has a different lifecycle than the MotionLayout. For example when a NestedScrollView is inside a Fragment that gets removed from the MotionLayout.

This happens with MotionLayout 2.0.0-beta5 and 2.0.0-beta6. It did not happen in 2.0.0-beta4.

To reproduce, use the sample proj

[2020-06-10 13:55] LouisCAD opened #1857 "Doc issue with how_to_help/ page after master to main renaming"
Hello!
I wanted to fix a typo on this very page, so I clicked the "edit" button, but it brought me to a [non existing page](https://github.com/square/leakcanary/edit/master/docs/how_to_help.md) (404).

It's because the renaming of the `master` branch to `main` missed updating some references in the website. Replacing `master` with `main` manually makes the link valid.

_My two cents: master on git

[2020-06-11 01:13] pyricau commented on #1857
Thanks for the bug report, we should definitely fix the links, I think I did that but haven't redeployed yet.

As for the naming debate, I won't enter it here. git does use master as a reference to master / slaves from bitkeeper. I'm super happy to break and fix a few links to make this community more welcoming.

[2020-06-11 04:03] pyricau commented on #1857
Will be fixed on next redeploy.

[2020-06-11 04:03] #1857 closed

[2020-06-11 04:18] pyricau commented on #1856
Thank you for reporting this issue. There isn't much we can do about it here, and unlike AOSP the libs can fix it so there's no need to add this as a known library leak. So I'm going to close this issue and we can all watch the one you created on the Google Issue tracker.

That being said, while the sources aren't public so I can't point to them, I have fairly high confidence this will be fixed in

[2020-06-11 04:18] #1856 closed

[2020-06-11 04:30] pyricau commented on #1588
Any thoughts on how to fix this? ie is there anything we can do that doesn't involve reflection?

The Google issue says it was fixed in 11, can we confirm? When we get the Android 11 sources we can look at the fix and that might point to a good way to fix that on earlier versions.

[2020-06-11 04:31] pyricau commented on #1640
@msfjarvis sorry I meant to reply earlier and forgot. Did you file a leak on the Google issue tracker so that they can fix it in a newer version? Also, can you check if the leak still happens in Android 11?

[2020-06-11 05:40] yourshinsuke commented on #1801
[code]

Android 11 (preview)
leakcanary 2.3

Why closed? Already resolved?

[2020-06-11 05:52] pyricau commented on #1801
@yourshinsuke are you using the latest version of the Android 11 emulator image?

[2020-06-11 06:33] msfjarvis commented on #1640
There's a couple filed issues [[1](https://issuetracker.google.com/issues/144919472)] [[2](https://issuetracker.google.com/issues/149344544)] over on the Jetpack side of things that mention this needs framework fixes so I didn't file a separate bug. The bug for [FingerprintManager](https://issuetracker.google.com/issues/37109416) about this same problem was marked as fixed, then said fix was rever

[2020-06-11 16:44] CDRussell commented on #1801
Apologies for being non-responsive recently; been swamped. Closing sounds good to me and if I notice the same issue again on the latest Android 11 beta, I'll comment again about it.

[2020-06-13 09:52] xianningqis opened #1861 "Desugar failing with NPE: couldn't find outer class"
### Description

[Description of the issue]

Exception in thread "main" java.lang.NullPointerException: Couldn't find outer class leakcanary/internal/activity/screen/HeapDumpScreen$createView$1$1 of leakcanary/internal/activity/screen/HeapDumpScreen$createView$1$1$signatures$
        at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:1079)
        at com.google.devtools.build.

[2020-06-13 23:18] pyricau commented on #1861
Do you use Proguard? R8? Which version?

[2020-06-15 00:46] xianningqis commented on #1861
I am not using Proguard or R8
The leakcanary version I use is 2.4

[2020-06-15 15:51] pyricau commented on #1861
Oh, wow. So, it looks like desugaring is failing?

Can you provide a sample project that reproduces this error?

[2020-06-15 18:18] ivangarza6 commented on #1113
@pyricau how can we achieve that last picture that you last posted?

[2020-06-15 19:46] ivangarza6 commented on #1113
Nvm! I watched your Ask the Expert talk and everything was cleared out.

Great presentation

[2020-06-17 15:41] eygraber opened #1863 "leak_canary_watcher_auto_install is marked as private"
I started using `leak_canary_watcher_auto_install` so I can manually install LeakCanary, but lint is warning me that it is a private resource.

[2020-06-17 20:34] pyricau commented on #1863
Good point!

We probably need to do the same for https://github.com/square/leakcanary/blob/main/plumber-android/src/main/res/values/plumber_bools.xml#L3

[2020-06-17 20:34] pyricau commented on #1863
Reopening until we fix leak_canary_plumber_auto_install as well

[2020-06-18 06:30] eygraber commented on #1863
Same for `leak_canary_allow_in_non_debuggable_build`.

Should those go in the same [public file](https://github.com/eygraber/leakcanary/blob/38e3840f12982ff5f2a3513383f0b75d4b2c60b3/leakcanary-android-core/src/main/res/values/leak_canary_public.xml)? If so, I can make a PR for that.

[2020-06-18 08:05] atulgpt commented on #1839
Really awesome library. I really like in how much presentable way they show the info to the developer. UX is insanely great and intuitive. And compared to version 1, version 2 is really fast.
I use in [Snaps App](https://play.google.com/store/apps/details?id=com.infinite.cosmos&hl=en_US)
and [TOEFL App](https://play.google.com/store/apps/details?id=com.infinitetoefl.app&hl=en_US)

[2020-06-18 15:40] pyricau commented on #1863
Ah, no, it should be the public file of the module where they're declared

[2020-06-18 17:30] lchen8 opened #1870 "Feature Request: Mark leak exclusion functions with @JvmStatic"
### Problem description

I wanted to mark a leak as an app level exclusion, but our Application class is written in Java, and https://github.com/square/leakcanary/blob/92c0c55f800fbb84f5598d9335a316450f89231d/shark-android/src/main/java/shark/AndroidReferenceMatchers.kt#L1283 (and related functions) are not accessible statically for Java code.

### Potential solutions
Annotate these functions with

[2020-06-18 18:17] pyricau commented on #1870
That seems like a reasonable ask 👍

[2020-06-19 05:59] #1863 closed

[2020-06-21 21:16] Armaxis opened #1876 "Hprof file reading performance discussion"
While analyzing [method trace](https://github.com/square/leakcanary/files/4810257/trace.zip) from #1875 I noticed that we spend a lot of time checking if thread is interruped because of `FileChannelImpl`

![image](https://user-images.githubusercontent.com/2152942/85235290-690dab00-b3d9-11ea-9c2d-a0eb1ebbb3c0.png)

[Current implementation](https://github.com/square/leakcanary/blob/5983eae9a1dbd96f0

[2020-06-22 03:28] swankjesse commented on #1876
This is a thing that might help:
https://github.com/square/okhttp/blob/master/okhttp/src/main/kotlin/okhttp3/internal/cache2/FileOperator.kt

[2020-06-22 16:36] pyricau commented on #1876
🙏 Thanks @swankjesse!

If we go with this approach, we have to reimplement something that keeps updating the sink and pulling more bytes into it, because we don't know the size of what we're trying to read, so we're essentially rebuilding BufferedSource but with the ability to reset at a different position.

However, here's something **really cool*: we already read the file once when we build the

[2020-06-22 16:38] pyricau commented on #1876
`MappedByteBuffer` is probably not a good option for us, as we're jumping around the file, so you'd only get benefits when jumping locally, and there's a huge memory cost to mapping the file (whole point of the current approach is to limit memory impact)

[2020-06-23 19:42] pyricau opened #1880 "Compute retained size for each object in the leak trace"
Currently the retained size is computed as the size retained by the leaking instance. In many caused, the leak originates higher in the leak trace, which means there are many more objects leaking and the retained size is actually much higher than what we report.

LeakCanary rarely knows exactly which reference is causing the leak (unless there's only one possible cause, and even that isn't always

[2020-06-26 09:57] rpattabi opened #1883 "Instrumentation Test: Log test name in logcat"
LeakCanary's integration with android instrumentation tests is fantastic. Thank you for this.

### Problem description

I run instrumentation tests through command line and check results like this `adb logcat -s LeakCanary`. This nicely shows me heap analysis result. However, I'm not able to correlate this heap analysis with the corresponding test, as this does not include any test information.

#

[2020-06-26 10:16] rpattabi commented on #1839
[LeakCanary website](https://square.github.io/leakcanary/) is very helpful. Learned a good deal about memory leaks in android thanks to the people writing them about it briefly and with enough just enough detail.

I see that this website has the potential to become a go to resource for all things memory leaks: cataloging them, linking them with AOSP bugs, sharing best practices, etc.

Thanks a lot

[2020-06-29 08:53] xinshengze opened #1885 "oppo r9 5.1 打不开"
oppo r9 5.1 打不开

[2020-06-29 12:05] Armaxis commented on #1885
こんにちは！ 開けないものは？ アプリ？ クラッシュが発生した場合、共有できるログはありますか？

[2020-06-29 14:22] pyricau commented on #1885
Not everybody around here speaks Japanese :) . @Armaxis is being nice but really this isn't the place for a one line unrelated random issue.

[2020-06-29 14:22] #1885 closed

[2020-06-29 14:26] pyricau opened #1886 "Add button + notification for disable LeakCanary"
It's common request to be able to disable LeakCanary temporarily. While we have APIs for that, we could also add a button in the About section that lets you toggle dumpHeap on and off.

As it's easy to forget you did that, we also need a notification that reminds you that dumpHeap was turned off, but probably only when they were turned off manually from that UI.

[2020-06-29 23:34] pyricau commented on #1883
That's a great idea!

[2020-06-30 03:07] sahil2441 commented on #1880
Each object starting from the GC root to the leaking object ?
So that would probably indicate a range of leak which would be between size of [leaking object, sum of the entire chain] ?

[2020-06-30 03:48] pyricau opened #1887 "AndroidReferenceMatchers.BLOCKING_QUEUE has false positives"
Found an example of false positive on Stack Overflow: https://stackoverflow.com/questions/62518100/not-able-to-find-cause-in-leak-canary-trace

[code]

Here's an example of true positive: https://stackoverflow.com/questions/60904229/datepickerfragment-memory-leak

[code]

BLOCKING_QUEUE is defined as:

[code]

[2020-06-30 03:58] pyricau commented on #1887
This leak manifests itself when a Message is held by a local variable on a handler thread, but is out of the pool and also out of any queue (it was taken out to set up a dialog listener message and then never used). As such, `Message.next` should be null when this happens so we can remove `next`.

`target` is never set with AlertDialog builder, unless you call the deprecated APIs that pass in a Me

[2020-06-30 04:07] pyricau commented on #1887
I tried going back in history and that's we had it in the initial import: https://github.com/square/leakcanary/commit/f0cc04dfbf3cca92a669f0d250034d410eb05816#diff-5e887a071f8a7dbdcac77674147c5f07R144

Then I went back and found the old repo prior to GitHub initial import with history cleanup,  and found that the 3 were added all at once with the first set of excluded refs.

[2020-06-30 04:47] pyricau commented on #1880
Yes. I was referring to retained size not shallow size here. So, for each object in the leak trace, the size associated to it is the sum of the shallow size of all the objects that this specific object dominates. So it's not a range. What you'd expect to see is a size that shrinks as you get further from the GC Root.

[2020-06-30 04:50] pyricau commented on #1880
Except for one edge case, a reversed diamond (ie when there are several paths that lead to an object, then it's hard to determine if that objects retained size should be added to either of its dominators, however for that object itself we can compute a retained size.

[2020-06-30 15:31] pyricau commented on #1870
Fixed by #1879

[2020-06-30 15:31] #1870 closed

[2020-07-03 09:54] roman-nevr commented on #1754
I choose `Develop Build Variant`. or you can use `./gradlew assembleDevelop`

[2020-07-10 06:49] yhxxxbl commented on #1861
@pyricau
Is there a solution to this problem in the end？
When I use D8 to compile( android.enableD8 = true   android.enableD8.desugaring = false),
the compiler will get the same error.This is not the case when I use proguard.
My leakcanary version: 2.3( 1.6.3 or 1.5.4 is ok)  Gradle version 3.2 and AndroidStudio version：4.0

[2020-07-10 08:27] ukyo6 opened #1890 "App StartUp provider support"
Hi, is it good to use the Provider supproted by [App Startup](https://developer.android.com/topic/libraries/app-startup) ?

[2020-07-10 15:11] Armaxis commented on #1890
We have decided not to use App Startup, at least not until it becomes stable.
You can find the discussion here: https://github.com/square/leakcanary/pull/1859

[2020-07-13 03:03] 303540023 opened #1891 "Canvas: trying to draw too large(119615808bytes) bitmap"
### Description

[Description of the issue]

### Steps to Reproduce

[Provide a sample project, a .hprof file or a failing test]

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

### Version Information

* LeakCanary version: 1.6.3
* Android OS version:8.1.0
* Gradle version:4.10

### Additional Information

// Short Msg: java.lang.RuntimeExce

[2020-07-13 20:10] pyricau commented on #1891
@303540023 can you provide a sample project that reproduces this?

[2020-07-15 06:29] yhxxxbl commented on #1861
I visit ten times a day : (

[2020-07-15 14:47] pyricau commented on #1861
PRs welcome

[2020-07-16 15:42] dengshiwei commented on #1887
@pyricau The handlerthread in my class library also encounters this problem, message.obj It is the dialog of the app, but I can't understand why the message points to the dialog

Ideally we'd have pattern matching for java local variables on HandlerThread instances but unfortunately the java local pattern matching can only be based on thread names for now

[2020-07-16 21:29] pyricau commented on #1887
I filed a detailed explanation of the issue here: https://issuetracker.google.com/issues/146144484

That LeakCanary doesn't currently provide the API to correctly detect when this happens, so we resort to matching on Message.obj

[2020-07-17 00:42] dengshiwei commented on #1887
@pyricau thank you

[2020-07-17 21:33] pyricau opened #1892 "Add labels for any field of type context"
Let's add an object inspector that looks for any field of type context and applies the context logic we already have in place. This can't help make decisions just yet, but will help surface lifecycle.

[2020-07-19 09:37] sahil2441 commented on #1883
Looks like this issue can be closed.

[2020-07-19 15:12] Armaxis commented on #1883
@sahil2441 this issue will be closed once we merge the pr

[2020-07-21 18:10] pyricau opened #1895 "Add LeakCanary to jmfayard/refreshVersions"
https://github.com/jmfayard/refreshVersions already has support for a few Square libraries: https://github.com/jmfayard/refreshVersions/blob/develop/plugins/dependencies/src/main/kotlin/dependencies/Square.kt

We can open a PR to add LeakCanary as well.

[2020-07-21 19:13] sahil2441 commented on #1886
PR ready for review: https://github.com/square/leakcanary/pull/1894

[2020-07-22 17:17] LouisCAD commented on #1895
Ongoing PR here: https://github.com/jmfayard/refreshVersions/pull/209

Reviews welcome.